In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import xlsxwriter as xw

In [4]:
import re
import warnings
warnings.filterwarnings('ignore')

In [5]:
import openpyxl as op
from openpyxl import Workbook, load_workbook
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font
import os
import glob

# File loaction

In [6]:
input_loc_source = '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/'
input_loc = '/home/dhrubakumardolai/Desktop/Python Test/Target/Revisit File/'
output_loc = '/home/dhrubakumardolai/Desktop/Python Test/Result/Revisit File/'

# Extract the data from the excel file and rearrange it

In [7]:
Google_Revisit = pd.read_csv(
    '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/2022/11/10/visits/data-00000-of-00001.csv')
RWM_Revisit_1 = pd.read_excel(
    '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Revisit Merchant Master Records/2022/11/10/10-Nov-2022.xlsx')

In [8]:
#Consolidated
#Google_Revisit = pd.read_csv(input_loc_source+'Consolidated/13 to 20-Oct-2022 Google Revisit - Data.csv')
#RWM_Revisit_1 = pd.read_csv(input_loc_source+'Consolidated/13 to 20-Oct-2022 RWM Revisit Done - Data.csv')

# Extracting the data from the Google OB

In [9]:
Google_OB = pd.read_csv(
    '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/2022/11/10/onboardings/data.csv')

In [10]:
#Google_OB = pd.read_csv(input_loc_source+'Consolidated/13 to 20-Oct-2022 Google OB - Data.csv')

# Extracting the data from the Previous

In [11]:
Previous_google_revisit = pd.read_excel(input_loc_source+'Previous Valid.xlsx')

In [12]:
# Source Skip Start

# Extract the data from the Team View BI Overall

In [13]:
team_view_bi_overall = pd.read_csv(input_loc_source+"Team View BI Overall - Team View BI Overall.csv")

In [14]:
team_view_bi_overall.head(1)

,DOJ,Aadhar Number,Staffing Partner,Current Partner Name,EMP_Name,EMP_Code,Mobile_Number,City,RoleName,Pan_No,...,Created_By,Created_Date,LDAP,ReferredBy,FirstOnboardingDate,FirstRevisitDate,LastOnboardingDate,LastRevisitDate,Last_Working_Date,QRCode
0,5-Feb-2021,201401299523,AccuraFind,AccuraFind,PRAKASH,33803,8800166939,Gmap Gurgaon,FSE,EQLPP5850A,...,Pankaj.Kumar,2021-02-05,NaN,NaN,NaN,NaN,NaN,NaN,05-Feb-21,NaN

In [15]:
latest_team_view_bi = pd.read_csv(input_loc_source+'Latest Team View File/Team View_09.09.2022_12.02.csv')

In [16]:
latest_team_view_bi.head(1)

,Sr. No.,Employee Name,Employee Code,Mobile Number,City,Role,Employee Level,POD Lead,POD Code,Team Lead,...,Reporting Person,LDAP,Referred By,First Onboarding,Last Onboarding,First Revisit,Last Revisit,Last Working Date,QR Code,HiredFor
0,1,RAMEEZ,81924,7306166185,Kollam,FSE,0,,NaN,,...,,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,ALL

# Extract the data from the Revisit.xlsx for Pivot table

In [17]:
Pivot_table = pd.read_csv(input_loc_source+"10th Sep'22 Revisit - Pivot Table 1.csv")

# Extracting Data from sources

# Dynamic Source Aug'22

In [18]:
Dynamic_source_aug = pd.read_csv(input_loc_source+"Dynamic_for_matching.csv")

In [19]:
Dynamic_source_aug.head(1)

,MerchantId,Objectives,IngestionStatus,Report Date,RWM Remarks,Ingestion Date,Revisit Expire Date,s no
0,BCR2DN4TSCO3DNDR,checkin-nob,ADD,5-Aug-2022,Success,5-Aug-2022,NaN,1

In [20]:
Dynamic_source_aug['Report Date'].unique()

array(['5-Aug-2022', '12-Aug-2022', '19-Aug-2022', '26-Aug-2022',
       '2-Sep-2022', '9-Sep-2022', '16-Sep-2022', '23-Sep-2022',
       '28-Sep-2022', '30-Sep-2022', '6-Oct-2022', '7-Oct-2022',
       '14-Oct-2022', '21-Oct-2022', '28-Oct-2022', '4-Nov-2022'],
      dtype=object)

In [21]:
Dynamic_source_aug_f = Dynamic_source_aug[Dynamic_source_aug['RWM Remarks'].isin(['Success'])]

In [22]:
Dynamic_source_aug = Dynamic_source_aug_f

# Extract Source file from Q1 2022

In [23]:
Source_data_Q1_2022_segment1 = pd.read_csv(input_loc_source+"Segment1.csv")

In [24]:
Source_data_Q1_2022_segment2 = pd.read_csv(input_loc_source+"Segment2.csv")

In [554]:
Source_data_Q1_2022_segment2.shape

(118345, 14)

In [25]:
Source_data_Q1_2022 = Source_data_Q1_2022_segment1.append(Source_data_Q1_2022_segment2)

In [26]:
len(Source_data_Q1_2022)

2876280

In [27]:
Source_data_Q1_2022.head(1)

,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Merchant Ext.ID,Last Transaction date,Gpay OB E-mail,segments,_merge
0,Nilkanth Enterprises,7.579170e+09,"Bareilly Road ,Motahaldu",263139.0,29.145969,79.522095,Nainital,244715,58515.0,BCR2DN6T57H7THC2,28-12-2021,sjoshi375@gmail.com,active,both

# Extracting Source file from Q2 2022

In [28]:
Source_data_Q2_2022_cs = pd.read_csv(input_loc_source+"Correct_Segment.csv", index_col = 'Unnamed: 0')

In [29]:
Source_data_Q2_2022_cs.rename(columns={'Merchant_External_ID':'Merchant Ext ID'}, inplace=True)

In [30]:
Source_data_Q2_2022 = Source_data_Q2_2022_cs

In [31]:
len(Source_data_Q2_2022)

1719422

In [32]:
len(Source_data_Q2_2022_cs)

1719422

In [33]:
Source_data_Q2_2022_cs.head(1)

    Merchant Ext ID Phone Number segments
0  BCR2DN4T3C22BC37   9930944765   active

In [34]:
Source_data_Q2_2022_cs_mid = Source_data_Q2_2022_cs[['Merchant Ext ID', 'segments']].rename(
    columns={'segments':'segments_mid'})
Source_data_Q2_2022_cs_mn = Source_data_Q2_2022_cs[['Phone Number', 'segments']].rename(
    columns={'segments':'segments_mn'})

In [35]:
Source_data_Q2_2022_merge_mid = Source_data_Q2_2022.merge(Source_data_Q2_2022_cs_mid, how='left', on='Merchant Ext ID')

In [36]:
Source_data_Q2_2022_merge_mid.drop_duplicates(subset=['Merchant Ext ID'], inplace=True)

In [37]:
Source_data_Q2_2022_merge_mid_mn = Source_data_Q2_2022_merge_mid.merge(Source_data_Q2_2022_cs_mn, how='left', on='Phone Number')

In [38]:
Source_data_Q2_2022_merge_mid_mn.drop_duplicates(subset=['Merchant Ext ID'], inplace=True)

In [39]:
Source_data_Q2_2022_merge_mid_mn['segments'] = np.nan
Source_data_Q2_2022_merge_mid_mn['segments'].fillna(Source_data_Q2_2022_merge_mid_mn['segments_mn'], inplace=True)
Source_data_Q2_2022_merge_mid_mn['segments'].fillna(Source_data_Q2_2022_merge_mid_mn['segments_mid'], inplace=True)

In [40]:
Source_data_Q2_2022_merge_mid_mn

          Merchant Ext ID  Phone Number   segments segments_mid segments_mn
0        BCR2DN4T3C22BC37    9930944765     active       active      active
1        BCR2DN4T3C22FA2F    9730823332     active       active      active
2        BCR2DN4T3C23DC22    9157945503     active       active      active
3        BCR2DN4T3C24V5DZ    7058377741     active       active      active
4        BCR2DN4T3C25LUKN    8156063403     active       active      active
...                   ...           ...        ...          ...         ...
1723243  BCR2DN6TW7PO7UJ3  7069858582.0  active|P0    active|P0   active|P0
1723244  BCR2DN6T4XFITIS7  7383045687.0  active|P0    active|P0   active|P0
1723245  BCR2DN6TSPWKJWT5  8160176875.0  active|P0    active|P0   active|P0
1723246  BCR2DN6TQ63IT6QH  9601897325.0  active|P0    active|P0   active|P0
1723247                            NaN        NaN          NaN         NaN

[1719422 rows x 5 columns]

In [41]:
Source_data_Q2_2022 = Source_data_Q2_2022_merge_mid_mn[['Merchant Ext ID', 'Phone Number', 'segments']]

In [42]:
Source_data_Q2_2022.head(1)

    Merchant Ext ID Phone Number segments
0  BCR2DN4T3C22BC37   9930944765   active

# Extracting the old Q1 revisit ingestion

In [43]:
Source_data_Q1_2022_ingestion = pd.read_excel(input_loc_source+'Old Revisit Data Ingestion 22 Apr_22 (1).xlsx')

In [44]:
Source_data_Q1_2022_ingestion.head(1)

,Merchant Ext.ID,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Last Transaction date,Gpay OB E-mail,Merchant Health,Unnamed: 13,Unnamed: 14,BCR2DN6TU7X4FGKW,No,8307739195,No.1,No.2
0,BCR2DN6T2WNZN22I,Ajay Sehgal,9811094371,"1582,Rajiv Chowk, Connaught Palace",110001,28.629828,77.219109,Delhi,Google Delhi Polygon,22595.0,2021-06-24 00:00:00,na@abc.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Extra code to remove Active Old

In [45]:
Source_data_Q1_2022_ingestion['MID2'] = "Empty"

In [46]:
Source_data_Q1_2022_ingestion.drop(['Merchant Ext.ID'], axis=1, inplace=True)

In [47]:
Source_data_Q1_2022_ingestion.rename(columns={'MID2':'Merchant Ext.ID'}, inplace=True)

In [48]:
Source_data_Q1_2022_ingestion['MN2'] = 0

In [49]:
Source_data_Q1_2022_ingestion.drop(['Phone Number'], axis=1, inplace=True)

In [50]:
Source_data_Q1_2022_ingestion.rename(columns={'MN2':'Phone Number'}, inplace=True)

# Data Extraction from the For Matching(Q1 2022 Revisit 28 Feb)

In [51]:
For_matching = pd.read_csv(input_loc_source + 'Source_data_Q1_2022_For_Match.csv',  index_col = 0)

In [52]:
For_matching.head(1)

  Phone Number   Merchant Ext.ID
0   7579170207  BCR2DN6T57H7THC2

In [53]:
len(For_matching)

2697665

# Vaco_RV_Q2_2022.csv

In [54]:
Vaco_RV_Q2_2022 = pd.read_csv(input_loc_source+'Vaco_RV_Q2_2022.csv')

In [55]:
Vaco_RV_Q2_2022.head(1)

,Merchant_External_ID,Name,Phone_Numbers,address,postal_code,District,State,Region,Latitude,Longitude,Transaction_Latitude,Transaction_Longitude,Vendor,last_txn_dt,segments
0,BCR2DN4TWDK5HYSY,SHIVAKUMAR ...,9606168166,"Metro Station Road,24",560053,Bengaluru Urban,karnataka,South,12.652025,77.202193,NaN,NaN,Vaco,2022-03-26,active

In [56]:
Vaco_RV_Q2_2022.shape

(1839381, 15)

In [57]:
Vaco_RV_Q2_2022_mn = Vaco_RV_Q2_2022[['Phone_Numbers', 'segments']].rename(
    columns={'Phone_Numbers':'Owner Mobile No.', 'segments':'segments_vaco_mn'})

In [58]:
Vaco_RV_Q2_2022_split = Vaco_RV_Q2_2022_mn['Owner Mobile No.'].str.split(",", expand=True)

In [59]:
Vaco_RV_Q2_2022_split.head(1)

            0     1     2     3     4     5     6     7     8     9
0  9606168166  None  None  None  None  None  None  None  None  None

In [60]:
split_col = Vaco_RV_Q2_2022_split.columns

In [61]:
for i in range(0,len(split_col)):
    Vaco_RV_Q2_2022_mn['Owner Mobile No._'+str(i)] = Vaco_RV_Q2_2022_split[i]

In [62]:
OM_0 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._0', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._0':'Owner Mobile No.'})
OM_1 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._1', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._1':'Owner Mobile No.'})
OM_2 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._2', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._2':'Owner Mobile No.'})
OM_3 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._3', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._3':'Owner Mobile No.'})
OM_4 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._4', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._4':'Owner Mobile No.'})
OM_5 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._5', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._5':'Owner Mobile No.'})
OM_6 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._6', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._6':'Owner Mobile No.'})
OM_7 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._7', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._7':'Owner Mobile No.'})
OM_8 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._8', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._8':'Owner Mobile No.'})
OM_9 = Vaco_RV_Q2_2022_mn[['Owner Mobile No._9', 'segments_vaco_mn']].rename(
    columns={'Owner Mobile No._9':'Owner Mobile No.'})

In [63]:
OM_0.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_1.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_2.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_3.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_4.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_5.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_6.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_7.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_8.dropna(subset=['Owner Mobile No.'], inplace=True)
OM_9.dropna(subset=['Owner Mobile No.'], inplace=True)

In [64]:
OM_10 = OM_0.append(OM_1)
OM_11 = OM_10.append(OM_2)
OM_12 = OM_11.append(OM_3)
OM_13 = OM_12.append(OM_4)
OM_14 = OM_13.append(OM_5)
OM_15 = OM_14.append(OM_6)
OM_16 = OM_15.append(OM_7)
OM_17 = OM_16.append(OM_8)
OM_18 = OM_17.append(OM_9)

In [65]:
OM_18.drop_duplicates(subset=['Owner Mobile No.'], inplace=True)

In [66]:
OM_18.head(1)

  Owner Mobile No. segments_vaco_mn
0       9606168166           active

In [67]:
Vaco_RV_Q2_2022 = OM_18

In [68]:
Vaco_RV_Q2_2022.shape

(1892985, 2)

In [69]:
# Source Skip Stop

#### Filter and rearrangment of column

In [70]:
Google_Revisit_f = Google_Revisit.filter(['StoreName','City','Pincode','StorePhoneNumber','OnboardingTimestamp',
'TaskSubmissionTimestamp','MerchantExternalId','CompletedSubTaskTypes','AdditionalQRs','PreProvisionedQRCount',
'StickerQRCount','StandeeQRCount','MerchantVerified','MerchantEditStatus','RejectedEditFields','Validity',
                                   'InvalidReasons','AgentEmail', 'GmbOptIn', 'GmbListingStatus','NewtoGMB'])
len(Google_Revisit_f)

6297

# Sorting Data and Duplicate

In [71]:
Google_Revisit_f_2 = Google_Revisit_f.sort_values(by=['Validity', 'MerchantExternalId'], ascending = [False, True])
len(Google_Revisit_f_2)

6297

In [72]:
Google_Revisit_f_3 = Google_Revisit_f_2.drop_duplicates(subset = ['MerchantExternalId'])
len(Google_Revisit_f_3)

5307

# Extract the Merchant Ext ID from RWN_Revisit
# Duplicate the Column
# Left join with the google
# Extract the Merchant Ext ID from Google_Revisit_f

In [73]:
RWM_Revisit_2 = RWM_Revisit_1.filter(['Merchant ID','Merchant Name','Visit Count','Business Category',
                                    'Owner Mobile No.','Follow Up Date','PIN Code','On Boarding Date',
                                    'On Boarding Time','On-Boarded Employee Code','Visit By','Employee Code',
                                    'Role Name','POD Name','POD ID','Employment Type','Revisit Date',
                                    'Revisit Time','Team Lead Name','Remarks','Visit Status','Approved By',
                                    'Approved Date','Approved Time','Approved Remarks',
                                    'Reason for not Accepting Payments using G-Pay',
                                    'New Collateral Given : QR Code label',
                                    'New Collateral Given : G-Pay Accepted Sticker',
                                    'New Collateral Given : Dangler','QR Code String',
                                    'Not Interested in Gpay Reasons','Created By','Created Name','Created Date'])

#### Extracting MID from QR Code by spliting

In [74]:
RWN_Revisit_3 = RWM_Revisit_2['QR Code String'].str.split('=', expand = True).rename(
    columns={5:'Merchant Ext ID'}).filter(['Merchant Ext ID'])

In [75]:
RWM_Revisit = RWN_Revisit_3

In [76]:
RWM_Revisit_Concat = pd.concat([RWM_Revisit_2, RWM_Revisit], axis = 1, join = 'inner')

# RWM Files

In [77]:
RWM_Revisit_Concat.shape

(5844, 35)

In [78]:
RWM_Revisit_2.shape

(5844, 34)

#### Extracting MID from RWM Revisit

In [79]:
RWM_Revisit_f = RWM_Revisit.filter(['Merchant Ext ID'])
RWM_Revisit_f_2 = RWM_Revisit.filter(['Merchant Ext ID'])
len(RWM_Revisit_f_2)

5844

In [80]:
RWM_Revisit_Mer_MID = pd.concat([RWM_Revisit_f.rename(columns = {
    'Merchant Ext ID': 'MerchantExternalId'}), RWM_Revisit_f_2.rename(columns = {
    'Merchant Ext ID': 'MerchantExternalId_2'})], axis = 1, join = 'inner')

In [81]:
len(RWM_Revisit_Mer_MID)

5844

#### Extract MID from google revisit

In [82]:
google_revisit_mid = Google_Revisit_f_3.filter(['MerchantExternalId'])
google_revisit_mid.set_index('MerchantExternalId')

Empty DataFrame
Columns: []
Index: [BCR2DN4T2C5JLEID, BCR2DN4T2C5MHWQN, BCR2DN4T2C7LJ3J7, BCR2DN4T2CFLNMZH, BCR2DN4T2CRL35QP, BCR2DN4T2CWIJSBH, BCR2DN4T2CXPRSBO, BCR2DN4T2D3LFMDS, BCR2DN4T2D6LXL2W, BCR2DN4T2D77LRTM, BCR2DN4T2DAJZUTT, BCR2DN4T2DAPVEA7, BCR2DN4T2DD6XYRC, BCR2DN4T2DDLDPKZ, BCR2DN4T2DE6XETM, BCR2DN4T2DEZDMLO, BCR2DN4T2DFN3HKB, BCR2DN4T2DFPXWYQ, BCR2DN4T2DHJ5JIO, BCR2DN4T2DL37A3G, BCR2DN4T2DLY3F3S, BCR2DN4T2DN3L4IJ, BCR2DN4T2DNN3EQE, BCR2DN4T2DPJNJJ6, BCR2DN4T2DQOZSDC, BCR2DN4T2DROZIBR, BCR2DN4T2DRZ75JN, BCR2DN4T2DSMJH2I, BCR2DN4T2DUOZ5RL, BCR2DN4T2DUY3DSE, BCR2DN4T2DV33TTC, BCR2DN4T2DZKJFJ4, BCR2DN4T2DZLN5SE, BCR2DN4T2DZLZYSG, BCR2DN4T2S7INJQJ, BCR2DN4T2T6J3BYQ, BCR2DN4T2TBMRMRM, BCR2DN4T2TDLXMYR, BCR2DN4T3C2PPML4, BCR2DN4T3C35NJR4, BCR2DN4T3C45BW3W, BCR2DN4T3C4KDKSH, BCR2DN4T3C5LJ7YP, BCR2DN4T3C5LTGR3, BCR2DN4T3C5NXPYR, BCR2DN4T3C5ZJQRK, BCR2DN4T3C73HQQP, BCR2DN4T3C7LBGKG, BCR2DN4T3C7OHA3T, BCR2DN4T3CANJEQI, BCR2DN4T3CBL7SLI, BCR2DN4T3CBMXFIG, BCR2DN4T3CC6RUKT, BCR2DN4T3CCKNQQN, BCR2DN4T3CD4D3KK, BCR2DN4T3CD7ZBLZ, BCR2DN4T3CE7HBAT, BCR2DN4T3CGJ5U2C, BCR2DN4T3CGJJ73N, BCR2DN4T3CGKN7BL, BCR2DN4T3CGMBPQJ, BCR2DN4T3CGPBDYV, BCR2DN4T3CGPZYLK, BCR2DN4T3CI5XDSH, BCR2DN4T3CI6J6R7, BCR2DN4T3CILN5SG, BCR2DN4T3CILURA, BCR2DN4T3CINHKIU, BCR2DN4T3CKPZBYZ, BCR2DN4T3CLZRNTS, BCR2DN4T3CN6HZBX, BCR2DN4T3CN7PTSV, BCR2DN4T3CNLD2IZ, BCR2DN4T3CO7VIIL, BCR2DN4T3COIFCAC, BCR2DN4T3COKTXAJ, BCR2DN4T3CQ27XRD, BCR2DN4T3CQ4ZUDA, BCR2DN4T3CQLR5KG, BCR2DN4T3CQZVMAV, BCR2DN4T3CSKVC2G, BCR2DN4T3CSNTKD2, BCR2DN4T3CT2LOSF, BCR2DN4T3CT43HRA, BCR2DN4T3CU4DWS6, BCR2DN4T3CUP76TH, BCR2DN4T3CUYFLRX, BCR2DN4T3CVYJJYO, BCR2DN4T3CWKPZT7, BCR2DN4T3CWNPAQH, BCR2DN4T3CXJJZT3, BCR2DN4T3CXLJCAP, BCR2DN4T3CXMZXQ6, BCR2DN4T3CXPNPBK, BCR2DN4T3CYI3MB5, BCR2DN4T3CZ6VG27, BCR2DN4T3CZLV6BW, BCR2DN4T3CZNBCK4, BCR2DN4T3D2NF6KS, BCR2DN4T3D2ONWCE, ...]

[5307 rows x 0 columns]

In [83]:
merge_mid = google_revisit_mid.merge(RWM_Revisit_Mer_MID, how = 'left', on = 'MerchantExternalId')
merge_mid

     MerchantExternalId MerchantExternalId_2
0      BCR2DN4T2C5JLEID     BCR2DN4T2C5JLEID
1      BCR2DN4T2C5MHWQN     BCR2DN4T2C5MHWQN
2      BCR2DN4T2C7LJ3J7     BCR2DN4T2C7LJ3J7
3      BCR2DN4T2CFLNMZH     BCR2DN4T2CFLNMZH
4      BCR2DN4T2CRL35QP     BCR2DN4T2CRL35QP
...                 ...                  ...
5303   BCR2DN6TZOC2NRQP     BCR2DN6TZOC2NRQP
5304   BCR2DN6TZPE3XKZU                  NaN
5305   BCR2DN6TZPEL5UIR                  NaN
5306   BCR2DN6TZPKMJQ3L                  NaN
5307   BCR2DN6TZPTIDCQM     BCR2DN6TZPTIDCQM

[5308 rows x 2 columns]

In [84]:
merge_mid_u = merge_mid.drop_duplicates(subset = ['MerchantExternalId'])
merge_mid_u.shape

(5307, 2)

In [85]:
merge_mid_u.head(1)

  MerchantExternalId MerchantExternalId_2
0   BCR2DN4T2C5JLEID     BCR2DN4T2C5JLEID

# Is in RWM

## Compare both the columns
## Update the Result in the "Is in RWM" column

In [86]:
Google_Revisit_f_3.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,StandeeQRCount,MerchantVerified,MerchantEditStatus,RejectedEditFields,Validity,InvalidReasons,AgentEmail,GmbOptIn,GmbListingStatus,NewtoGMB
5975,Mangal Jewellers,Solapur,413216,9822959713,09-May-2022 17:41:48,10-Nov-2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,2.0,NaN,NaN,NaN,VALID,NaN,sol.20378.vbs@gpayfos.com,True,COMPLETE,False

In [87]:
Google_Revisit_f_3.shape

(5307, 21)

In [88]:
RWM_Revisit_Concat.shape

(5844, 35)

In [89]:
RWM_Revisit_Concat.head(1)

,Merchant ID,Merchant Name,Visit Count,Business Category,Owner Mobile No.,Follow Up Date,PIN Code,On Boarding Date,On Boarding Time,On-Boarded Employee Code,...,Reason for not Accepting Payments using G-Pay,New Collateral Given : QR Code label,New Collateral Given : G-Pay Accepted Sticker,New Collateral Given : Dangler,QR Code String,Not Interested in Gpay Reasons,Created By,Created Name,Created Date,Merchant Ext ID
0,8356409,sri sanvi hair style's,1,Service,9177126322,NaN,504231,Nov-10-2022,20:51:55,81037,...,NaN,NaN,NaN,NaN,upi://pay?pa=9177126322@okbizaxis&pn=sri%20san...,NaN,81037,Kuntala shiva,Nov-10-2022 20:47:42,BCR2DN4T2SV25CSU

In [90]:
merge_mid_u_f = RWM_Revisit_Concat[['Merchant Ext ID']]

In [91]:
merge_mid_u_f.shape

(5844, 1)

In [92]:
merge_mid_u_f.rename(columns={'Merchant Ext ID':'MerchantExternalId'}, inplace=True)

In [93]:
Google_Revisit_f_3_merge = Google_Revisit_f_3.merge(merge_mid_u_f, on='MerchantExternalId', how='left', 
                                                    indicator=True)

In [94]:
Google_Revisit_f_3_merge.drop_duplicates(subset = ['MerchantExternalId'], inplace = True)

In [95]:
Google_Revisit_f_3_merge.rename(columns={'_merge':"Is in RWM"}, inplace=True)

In [96]:
Google_Revisit_f_3_merge['Is in RWM'] = Google_Revisit_f_3_merge['Is in RWM'].map({'both':"Yes", 
                                                                'left_only':"No",'right_only':"No"})

In [97]:
Google_Revisit_f_4 = Google_Revisit_f_3_merge

In [98]:
Google_Revisit_f_4.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,MerchantVerified,MerchantEditStatus,RejectedEditFields,Validity,InvalidReasons,AgentEmail,GmbOptIn,GmbListingStatus,NewtoGMB,Is in RWM
0,Mangal Jewellers,Solapur,413216,9822959713,09-May-2022 17:41:48,10-Nov-2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,NaN,NaN,NaN,VALID,NaN,sol.20378.vbs@gpayfos.com,True,COMPLETE,False,Yes

# Matching mobile number

In [99]:
Google_Revisit_f_4['Is in RWM'].unique()

array(['Yes', 'No'], dtype=object)

In [100]:
RWM_Revisit_2.head(1)

,Merchant ID,Merchant Name,Visit Count,Business Category,Owner Mobile No.,Follow Up Date,PIN Code,On Boarding Date,On Boarding Time,On-Boarded Employee Code,...,Approved Remarks,Reason for not Accepting Payments using G-Pay,New Collateral Given : QR Code label,New Collateral Given : G-Pay Accepted Sticker,New Collateral Given : Dangler,QR Code String,Not Interested in Gpay Reasons,Created By,Created Name,Created Date
0,8356409,sri sanvi hair style's,1,Service,9177126322,NaN,504231,Nov-10-2022,20:51:55,81037,...,NaN,NaN,NaN,NaN,NaN,upi://pay?pa=9177126322@okbizaxis&pn=sri%20san...,NaN,81037,Kuntala shiva,Nov-10-2022 20:47:42

In [101]:
RWM_Revisit_2_f = RWM_Revisit_2[['Owner Mobile No.']].rename(columns={'Owner Mobile No.':'StorePhoneNumber'})

In [102]:
RWM_Revisit_2_f.head(1)

   StorePhoneNumber
0        9177126322

In [103]:
Google_Revisit_f_4.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,MerchantVerified,MerchantEditStatus,RejectedEditFields,Validity,InvalidReasons,AgentEmail,GmbOptIn,GmbListingStatus,NewtoGMB,Is in RWM
0,Mangal Jewellers,Solapur,413216,9822959713,09-May-2022 17:41:48,10-Nov-2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,NaN,NaN,NaN,VALID,NaN,sol.20378.vbs@gpayfos.com,True,COMPLETE,False,Yes

In [104]:
Google_Revisit_f_4.shape

(5307, 22)

# Changing DateTime Format in OnboardingTimestamp & TaskSubmissionTimestamp

In [112]:
Google_Revisit_f_4['OnboardingTimestamp'] = pd.to_datetime(Google_Revisit_f_4['OnboardingTimestamp'])
Google_Revisit_f_4['TaskSubmissionTimestamp'] = pd.to_datetime(Google_Revisit_f_4['TaskSubmissionTimestamp'])

In [113]:
Google_Revisit_f_4['OnboardingTimestamp'] = Google_Revisit_f_4['OnboardingTimestamp'].dt.strftime('%-m/%-d/%Y %-H:%-M:%-S')
Google_Revisit_f_4['TaskSubmissionTimestamp'] = Google_Revisit_f_4['TaskSubmissionTimestamp'].dt.strftime('%-m/%-d/%Y %-H:%-M:%-S')

In [114]:
Google_Revisit_f_4['TaskSubmissionTimestamp'].fillna(method='bfill', inplace=True)
Google_Revisit_f_4['TaskSubmissionTimestamp'].fillna(method='ffill', inplace=True)

# Is in Source File based on Merchant Ext ID? 
# Is in Source File based on Merchant Mobile Number?

# Source file match 
# Is in Dynamic Source Match?

In [115]:
target_file = Google_Revisit_f_4[['MerchantExternalId', 'StorePhoneNumber', 'TaskSubmissionTimestamp']].rename(
    columns={'TaskSubmissionTimestamp':'Revisit Date'})

In [116]:
target_file.head(1)

  MerchantExternalId  StorePhoneNumber         Revisit Date
0   BCR2DN4T2C5JLEID        9822959713  11/10/2022 18:33:47

In [117]:
target_file['Primary_key'] = range(1,(1+len(target_file)))

In [118]:
Dynamic_source_aug.head(1)

,MerchantId,Objectives,IngestionStatus,Report Date,RWM Remarks,Ingestion Date,Revisit Expire Date,s no
0,BCR2DN4TSCO3DNDR,checkin-nob,ADD,5-Aug-2022,Success,5-Aug-2022,NaN,1

In [119]:
Source_data_Q1_2022.head(1)

,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Merchant Ext.ID,Last Transaction date,Gpay OB E-mail,segments,_merge
0,Nilkanth Enterprises,7.579170e+09,"Bareilly Road ,Motahaldu",263139.0,29.145969,79.522095,Nainital,244715,58515.0,BCR2DN6T57H7THC2,28-12-2021,sjoshi375@gmail.com,active,both

In [120]:
Source_data_Q2_2022.head(1)

    Merchant Ext ID Phone Number segments
0  BCR2DN4T3C22BC37   9930944765   active

In [121]:
Source_data_Q1_2022_ingestion.head(1)

,Name,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Last Transaction date,Gpay OB E-mail,Merchant Health,Unnamed: 13,Unnamed: 14,BCR2DN6TU7X4FGKW,No,8307739195,No.1,No.2,Merchant Ext.ID,Phone Number
0,Ajay Sehgal,"1582,Rajiv Chowk, Connaught Palace",110001,28.629828,77.219109,Delhi,Google Delhi Polygon,22595.0,2021-06-24 00:00:00,na@abc.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Empty,0

In [122]:
For_matching.head(1)

  Phone Number   Merchant Ext.ID
0   7579170207  BCR2DN6T57H7THC2

In [123]:
Vaco_RV_Q2_2022.head(1)

  Owner Mobile No. segments_vaco_mn
0       9606168166           active

In [124]:
Vaco_RV_Q2_2022.shape

(1892985, 2)

### Dynamic Source Match

In [125]:
Dynamic_source_aug_f = Dynamic_source_aug[['MerchantId', 'Objectives', 'IngestionStatus', 'Report Date', 
                                           'Ingestion Date', 'Revisit Expire Date']]

In [126]:
Dynamic_source_aug_f.drop_duplicates(subset=['MerchantId'], keep='last', inplace=True)

In [127]:
Dynamic_source_aug_f.rename(columns={'MerchantId':'MerchantExternalId'}, inplace=True)

In [128]:
Dynamic_source_aug_f['Objectives'].replace('checkin-nob', "Active", inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('support | stuck_settlements', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | support', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | checkin-nob', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | P0', 'active|P0', inplace=True)

In [129]:
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('NULL', np.nan, inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | checkin-nob | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | inactive | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | checkin-nob', 'stuck_settlements', inplace=True)

In [130]:
Dynamic_source_aug_f['Objectives'].replace('active | P0 | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | REVIEW_MERCHANT_EDIT', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | P0 | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | credit', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | stuck_settlements', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | stuck_settlements | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | support', 'Support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | active | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | checkin-nob | stuck_settlements | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)

In [131]:
Dynamic_source_aug_f['Objectives'].replace('P0 | active | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | credit', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | credit | stuck_settlements', 'active|credit ', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | active', 'credit | active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | support | stuck_settlements', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | stuck_settlements', 'stuck_settlements', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | credit', 'active|credit', inplace=True)

In [132]:
Dynamic_source_aug_f['Objectives'].replace('credit | REVIEW_MERCHANT_EDIT', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | credit | REVIEW_MERCHANT_EDIT', 'active | credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | credit', 'active|credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | credit', 'active|credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | stuck_settlements | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | stuck_settlements', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | active | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | REVIEW_MERCHANT_EDIT | active', 'credit|active', inplace=True)

In [133]:
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | support | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('support | stuck_settlements | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | checkin-nob | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | checkin-nob | REVIEW_MERCHANT_EDIT | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | active | REVIEW_MERCHANT_EDIT', 'credit|active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | REVIEW_MERCHANT_EDIT | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | P0 | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | active | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | REVIEW_MERCHANT_EDIT | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | inactive | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | checkin-nob | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | checkin-nob', 'credit', inplace=True)

In [134]:
Dynamic_source_aug_f['Objectives'].replace('support | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | credit | active', 'credit|active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | REVIEW_MERCHANT_EDIT | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | support', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | REVIEW_MERCHANT_EDIT | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | stuck_settlements', 'P0|stuck_settlements', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | support', 'support', inplace=True)

In [135]:
Dynamic_source_aug_f['Objectives'].unique()

array(['Active', 'inactive', 'support', 'active', 'REVIEW_MERCHANT_EDIT',
       'PO| active', 'active|P0', 'stuck_settlements', nan,
       'stuck_settlements | P0', 'P0 | stuck_settlements', 'P0 | active',
       'credit', 'Support', 'Revisit_Merchant_Edit', 'active | P0',
       'credit | active', 'active|credit', 'active | credit', 'P0',
       'active|credit ', 'credit|active',
       'P0 | stuck_settlements | checkin-nob | active', 'P0|Inactive',
       'P0 | inactive | REVIEW_MERCHANT_EDIT', 'inactive | P0',
       'P0 | inactive', 'REVIEW_MERCHANT_EDIT | P0 | inactive',
       'P0 | REVIEW_MERCHANT_EDIT | inactive', 'inactive | checkin-nob',
       'checkin-nob | inactive', 'credit | inactive',
       'inactive | support', 'P0 | inactive | checkin-nob', 'credit | P0',
       'inactive | credit', 'inactive | P0 | checkin-nob',
       'support | inactive', 'P0 | checkin-nob | inactive',
       'stuck_settlements | P0 | inactive', 'inactive | checkin-nob | P0',
       'inactive | credit | REVIEW_MERCHANT_EDIT',
       'REVIEW_MERCHANT_EDIT | inactive | P0', 'P0 | credit',
       'checkin-nob | P0 | inactive', 'checkin-nob | inactive | P0',
       'inactive | P0 | REVIEW_MERCHANT_EDIT',
       'inactive | REVIEW_MERCHANT_EDIT | checkin-nob',
       'inactive | stuck_settlements | P0',
       'stuck_settlements | inactive | P0', 'inactive | credit | P0',
       'P0 | credit | inactive',
       'REVIEW_MERCHANT_EDIT | P0 | inactive | checkin-nob',
       'P0 | inactive | credit', 'checkin-nob | P0',
       'inactive | P0 | stuck_settlements',
       'support | inactive | stuck_settlements', 'inactive | P0 | credit',
       'REVIEW_MERCHANT_EDIT | inactive | support',
       'inactive | REVIEW_MERCHANT_EDIT | P0',
       'P0 | stuck_settlements | inactive',
       'P0 | inactive | REVIEW_MERCHANT_EDIT | checkin-nob',
       'credit | P0 | inactive',
       'REVIEW_MERCHANT_EDIT | credit | inactive',
       'credit | inactive | REVIEW_MERCHANT_EDIT',
       'credit | REVIEW_MERCHANT_EDIT | inactive',
       'checkin-nob | REVIEW_MERCHANT_EDIT | inactive',
       'support | REVIEW_MERCHANT_EDIT | stuck_settlements',
       'checkin-nob | inactive | REVIEW_MERCHANT_EDIT',
       'P0 | inactive | stuck_settlements',
       'REVIEW_MERCHANT_EDIT | checkin-nob | inactive',
       'inactive | REVIEW_MERCHANT_EDIT | P0 | credit',
       'inactive | REVIEW_MERCHANT_EDIT | credit',
       'REVIEW_MERCHANT_EDIT | inactive | checkin-nob | P0',
       'inactive | stuck_settlements | P0 | support', 'P0 | checkin-nob',
       'checkin-nob | inactive | stuck_settlements',
       'P0 | REVIEW_MERCHANT_EDIT | checkin-nob | inactive',
       'stuck_settlements | inactive | support', 'support | P0',
       'inactive | checkin-nob | REVIEW_MERCHANT_EDIT',
       'inactive | stuck_settlements | support',
       'REVIEW_MERCHANT_EDIT | inactive | credit',
       'REVIEW_MERCHANT_EDIT | active | P0 | checkin-nob',
       'Inactive - INR 40 Extra Pay on Txn', 'P0 | support',
       'checkin-nob | active | P0 | REVIEW_MERCHANT_EDIT',
       'P0 | checkin-nob | REVIEW_MERCHANT_EDIT',
       'checkin-nob | P0 | REVIEW_MERCHANT_EDIT', 'Null',
       'Review_Merchant_Edit', 'Review_Merchant_Edit | P0 | Active',
       'P0 | Active', 'Review_Merchant_Edit | Active',
       'Stuck_Settlements', 'Stuck_Settlements | Active',
       'Active | Review_Merchant_Edit', 'Stuck_Settlements | Credit',
       'P0 | Credit', 'P0 | Active | Review_Merchant_Edit',
       'P0 | Checkin-Nob', 'Checkin-Nob', 'P0 | Review_Merchant_Edit',
       'Review_Merchant_Edit | P0', 'Credit | P0', 'Active | P0',
       'Checkin-Nob | P0', 'P0 | Stuck_Settlements',
       'Active | Review_Merchant_Edit | P0',
       'Review_Merchant_Edit | Checkin-Nob',
       'P0 | Stuck_Settlements | Active', 'Active | Stuck_Settlements',
       'Stuck_Settlements | P0', 'Stuck_Settlements | P0 | Active',
       'Credit', 'Active | P0 | Review_Merchant_Edit',
       'Review_Merchant_Edit | Active | Stuck_Settlements',
       'Review_Merchant_Edit | Active | P0',
       'P0 | Review_Merchant_Edit | Active',
       'Review_Merchant_Edit | Stuck_Settlements',
       'Review_Merchant_Edit | Support',
       'Active | Review_Merchant_Edit | Credit',
       'Checkin-Nob | Review_Merchant_Edit',
       'Active | Credit | Review_Merchant_Edit',
       'Support | Stuck_Settlements', 'Active | P0 | Stuck_Settlements',
       'Stuck_Settlements | Support', 'Active | Checkin-Nob | P0',
       'Review_Merchant_Edit | Credit',
       'Review_Merchant_Edit | Support | Stuck_Settlements',
       'Active | Stuck_Settlements | P0', 'Credit | Review_Merchant_Edit',
       'Active | Stuck_Settlements | Review_Merchant_Edit',
       'Active | Review_Merchant_Edit | Checkin-Nob | P0',
       'Stuck_Settlements | Active | P0',
       'Credit | Review_Merchant_Edit | Active',
       'P0 | Active | Review_Merchant_Edit | Checkin-Nob',
       'Stuck_Settlements | Support | Review_Merchant_Edit',
       'Review_Merchant_Edit | Stuck_Settlements | Active'], dtype=object)

In [136]:
Dynamic_source_aug_f['Objectives'] = Dynamic_source_aug_f['Objectives'].str.lower()

In [137]:
Dynamic_source_aug_f.to_csv('test.csv', index=False)

In [138]:
Dynamic_source_aug_f.rename(columns={'Objectives':'Segments'}, inplace=True)

In [139]:
target_file_dynamic_match = target_file.merge(
    Dynamic_source_aug_f, on='MerchantExternalId', how='left', indicator=True)

In [140]:
target_file_dynamic_match.drop_duplicates(subset=['Primary_key'], inplace=True)

In [141]:
target_file_dynamic_match.rename(columns={'_merge':'Is in Dynamic Source?'}, inplace=True)

In [142]:
target_file_dynamic_match['Is in Dynamic Source?'] = target_file_dynamic_match[
    'Is in Dynamic Source?'].map({"left_only":"No Match", "right_only":'No Match', 'both':'Match'})

In [143]:
target_file_dynamic_match["Dynamic Validity"] = target_file_dynamic_match[
    'Is in Dynamic Source?'].map({'Match':"VALID", "No Match":np.nan})

In [144]:
target_file_dynamic_match['Is in Dynamic Source?_Final'] = target_file_dynamic_match['Is in Dynamic Source?']

# Is in Dynamic Source Visit Date Valid?

In [145]:
target_file_dynamic_match.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is in Dynamic Source?,Dynamic Validity,Is in Dynamic Source?_Final
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,Match,VALID,Match

In [146]:
target_file_dynamic_match_f = target_file_dynamic_match[['Primary_key', 'IngestionStatus' ,'Revisit Date', 
                                                         'Revisit Expire Date']]

In [147]:
target_file_dynamic_match_f['Revisit Expire Date'] = pd.to_datetime(target_file_dynamic_match_f[
    'Revisit Expire Date'])
target_file_dynamic_match_f['Revisit Date'] = pd.to_datetime(target_file_dynamic_match_f[
    'Revisit Date'])

In [148]:
target_file_dynamic_match_f['Revisit Expire Date'] = target_file_dynamic_match_f[
    'Revisit Expire Date'].dt.strftime('%Y/%m/%d')
target_file_dynamic_match_f['Revisit Date'] = target_file_dynamic_match_f[
    'Revisit Date'].dt.strftime('%Y/%m/%d')

In [149]:
target_file_dynamic_match_f_del = target_file_dynamic_match_f[target_file_dynamic_match_f[
    'IngestionStatus'].isin(["DELETE"])]

In [150]:
target_file_dynamic_match_f_del.head(1)

      Primary_key IngestionStatus Revisit Date Revisit Expire Date
4788         4789          DELETE   2022/11/10          2022/10/07

In [151]:
target_file_dynamic_match_f_del.shape

(13, 4)

# Check wheather the TaskSubmissionTimestamp > Revisit Expire Date

In [152]:
target_file_dynamic_match_f_del['Match_if_ED<RD'] = target_file_dynamic_match_f_del[
    'Revisit Expire Date'] >= target_file_dynamic_match_f_del['Revisit Date']

In [153]:
target_file_dynamic_match_f_del['Match_if_ED<RD'].replace(True,"VALID", inplace=True)

In [154]:
target_file_dynamic_match_f_del['Match_if_ED<RD'].replace(False,"INVALID", inplace=True)

In [155]:
target_file_dynamic_match_f_del['Match_Dynamic_Validity'] = target_file_dynamic_match_f_del['Match_if_ED<RD']

In [156]:
target_file_dynamic_match_f_del2 = target_file_dynamic_match_f_del[['Primary_key', 'Match_Dynamic_Validity']]

In [157]:
target_file_dynamic_match_merge = target_file_dynamic_match.merge(
    target_file_dynamic_match_f_del2, on='Primary_key', how='left')

In [158]:
target_file_dynamic_match_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [159]:
target_file_dynamic_match_merge.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is in Dynamic Source?,Dynamic Validity,Is in Dynamic Source?_Final,Match_Dynamic_Validity
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,Match,VALID,Match,NaN

In [160]:
target_file_dynamic_match_merge['Check_Delete_validity'] = target_file_dynamic_match_merge[
    'Match_Dynamic_Validity'].str.contains(pat='INVALID')

In [161]:
target_file_dynamic_match_merge['Check_Delete_validity'].replace(True, "No Match Dynamic", inplace=True)
target_file_dynamic_match_merge['Check_Delete_validity'].replace(False, "Match", inplace=True)

In [162]:
target_file_dynamic_match_merge['Match_Dynamic_Validity'].fillna(target_file_dynamic_match_merge[
    'Dynamic Validity'], inplace=True)

In [163]:
target_file_dynamic_match_merge.drop(['Dynamic Validity'], axis=1, inplace=True)

In [164]:
target_file_dynamic_match_merge['Check_Delete_validity'].fillna(target_file_dynamic_match_merge[
    'Is in Dynamic Source?'], inplace=True)

In [165]:
target_file_dynamic_match_merge.drop(['Is in Dynamic Source?'], axis=1, inplace=True)

In [166]:
target_file_dynamic_match_merge.rename(columns={"Match_Dynamic_Validity":"Is the Dynamic Match Valid?", 
                                               "Check_Delete_validity":"Is in Dynamic Source?"}, inplace=True)

In [167]:
target_file_dynamic_match_merge.drop(['Is in Dynamic Source?_Final'], axis = 1, inplace=True)

In [168]:
target_file_dynamic_match_merge['Is in Dynamic Source?_Final'] = target_file_dynamic_match_merge[
    'Is in Dynamic Source?']

# Update the empty segment with the q2 Segment

In [169]:
target_file_dynamic_match_merge.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is the Dynamic Match Valid?,Is in Dynamic Source?,Is in Dynamic Source?_Final
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,VALID,Match,Match

In [170]:
Source_data_Q2_2022.head(1)

    Merchant Ext ID Phone Number segments
0  BCR2DN4T3C22BC37   9930944765   active

In [171]:
target_file_dynamic_match_merge_f = target_file_dynamic_match_merge[['StorePhoneNumber', 'MerchantExternalId', 
                                                                     'IngestionStatus', 'Is in Dynamic Source?',
                                                                    'Segments', 'Primary_key']]

In [172]:
target_file_dynamic_match_merge_f.head(1)

,StorePhoneNumber,MerchantExternalId,IngestionStatus,Is in Dynamic Source?,Segments,Primary_key
0,9822959713,BCR2DN4T2C5JLEID,ADD,Match,inactive - inr 40 extra pay on txn,1

In [173]:
target_file_dynamic_match_merge_f2 = target_file_dynamic_match_merge_f[~target_file_dynamic_match_merge_f[
    "IngestionStatus"].isin([np.nan])]

In [174]:
target_file_dynamic_match_merge_f2.head(1)

,StorePhoneNumber,MerchantExternalId,IngestionStatus,Is in Dynamic Source?,Segments,Primary_key
0,9822959713,BCR2DN4T2C5JLEID,ADD,Match,inactive - inr 40 extra pay on txn,1

In [175]:
Source_data_Q2_2022_mid = Source_data_Q2_2022[[
    'Merchant Ext ID', 'segments']].rename(columns={'Merchant Ext ID':"MerchantExternalId"})

In [176]:
Source_data_Q2_2022_mn = Source_data_Q2_2022[[
    'Phone Number', 'segments']].rename(columns={'Phone Number':"StorePhoneNumber"})

In [177]:
target_file_dynamic_match_merge_f2_q2_mid = target_file_dynamic_match_merge_f2.merge(
    Source_data_Q2_2022_mid, on="MerchantExternalId", how='left', indicator = True)

In [178]:
target_file_dynamic_match_merge_f2_q2_mid.rename(columns={'_merge':"Dynamic MID in Source?"}, inplace=True)

In [179]:
target_file_dynamic_match_merge_f2_q2_mid_mn = target_file_dynamic_match_merge_f2_q2_mid.merge(
    Source_data_Q2_2022_mn, on="StorePhoneNumber", how='left', indicator = True)

In [180]:
target_file_dynamic_match_merge_f2_q2_mid_mn.rename(columns={'_merge':'Dynamic MN in Source?'}, inplace=True)

In [181]:
target_file_dynamic_match_merge_f2_q2_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q2_mid_mn[
    'segments_x'], inplace=True)

In [182]:
target_file_dynamic_match_merge_f2_q2_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q2_mid_mn[
    'segments_y'], inplace=True)

In [183]:
target_file_dynamic_match_merge_f2_q2_mid_mn.head(1)

,StorePhoneNumber,MerchantExternalId,IngestionStatus,Is in Dynamic Source?,Segments,Primary_key,segments_x,Dynamic MID in Source?,segments_y,Dynamic MN in Source?
0,9822959713,BCR2DN4T2C5JLEID,ADD,Match,inactive - inr 40 extra pay on txn,1,active|P0,both,active|P0,both

In [184]:
target_file_dynamic_match_merge_f2_q2_mid_mn_f = target_file_dynamic_match_merge_f2_q2_mid_mn[[
    'Primary_key', 'Segments']].rename(columns={'Segments':"New_Segments"})

In [185]:
target_file_dynamic_match_merge_f2_q2_mid_mn_f.head(1)

   Primary_key                        New_Segments
0            1  inactive - inr 40 extra pay on txn

In [186]:
target_file_dynamic_match_merge2 = target_file_dynamic_match_merge.merge(
    target_file_dynamic_match_merge_f2_q2_mid_mn_f, on='Primary_key', how='left')

In [187]:
target_file_dynamic_match_merge2.drop_duplicates(subset=['Primary_key'], inplace=True)

In [188]:
target_file_dynamic_match_merge2['Segments'].fillna(target_file_dynamic_match_merge2['New_Segments'], inplace=True)

In [189]:
target_file_dynamic_match_merge2.drop(['New_Segments'], axis=1, inplace=True)

# Update the empty segment with the q1 Segment

In [190]:
target_file_dynamic_match_merge2.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is the Dynamic Match Valid?,Is in Dynamic Source?,Is in Dynamic Source?_Final
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,VALID,Match,Match

In [191]:
Source_data_Q1_2022.head(1)

,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Merchant Ext.ID,Last Transaction date,Gpay OB E-mail,segments,_merge
0,Nilkanth Enterprises,7.579170e+09,"Bareilly Road ,Motahaldu",263139.0,29.145969,79.522095,Nainital,244715,58515.0,BCR2DN6T57H7THC2,28-12-2021,sjoshi375@gmail.com,active,both

In [192]:
Source_data_Q1_2022_mid = Source_data_Q1_2022[[
    'Merchant Ext.ID', 'segments']].rename(columns={"Merchant Ext.ID":'MerchantExternalId'})

In [193]:
Source_data_Q1_2022_mn = Source_data_Q1_2022[[
    'Phone Number', 'segments']].rename(columns={"Phone Number":'StorePhoneNumber'})

In [194]:
target_file_dynamic_match_merge2_f = target_file_dynamic_match_merge2[['StorePhoneNumber', 'MerchantExternalId', 
                                                                     'IngestionStatus', 'Is in Dynamic Source?',
                                                                    'Segments', 'Primary_key']]

In [195]:
target_file_dynamic_match_merge2_f2 = target_file_dynamic_match_merge2_f[~target_file_dynamic_match_merge2_f[
    "IngestionStatus"].isin([np.nan])]

In [196]:
target_file_dynamic_match_merge_f2_q1_mid = target_file_dynamic_match_merge2_f2.merge(
    Source_data_Q1_2022_mid, on="MerchantExternalId", how='left', indicator = True)

In [197]:
target_file_dynamic_match_merge_f2_q1_mid.rename(columns={'_merge':"Dynamic MID in Source?"}, inplace=True)

In [198]:
target_file_dynamic_match_merge_f2_q1_mid_mn = target_file_dynamic_match_merge_f2_q1_mid.merge(
    Source_data_Q1_2022_mn, on="StorePhoneNumber", how='left', indicator = True)

In [199]:
target_file_dynamic_match_merge_f2_q1_mid_mn.rename(columns={'_merge':'Dynamic MN in Source?'}, inplace=True)

In [200]:
target_file_dynamic_match_merge_f2_q1_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q1_mid_mn[
    'segments_x'], inplace=True)

In [201]:
target_file_dynamic_match_merge_f2_q1_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q1_mid_mn[
    'segments_y'], inplace=True)

In [202]:
target_file_dynamic_match_merge_f2_q1_mid_mn.head(1)

,StorePhoneNumber,MerchantExternalId,IngestionStatus,Is in Dynamic Source?,Segments,Primary_key,segments_x,Dynamic MID in Source?,segments_y,Dynamic MN in Source?
0,9822959713,BCR2DN4T2C5JLEID,ADD,Match,inactive - inr 40 extra pay on txn,1,NaN,left_only,NaN,left_only

In [203]:
target_file_dynamic_match_merge_f2_q1_mid_mn_f = target_file_dynamic_match_merge_f2_q1_mid_mn[[
    'Primary_key', 'Segments']].rename(columns={'Segments':"New_Segments"})

In [204]:
target_file_dynamic_match_merge_f2_q1_mid_mn_f.head(1)

   Primary_key                        New_Segments
0            1  inactive - inr 40 extra pay on txn

In [205]:
target_file_dynamic_match_merge3 = target_file_dynamic_match_merge2.merge(
    target_file_dynamic_match_merge_f2_q1_mid_mn_f, on='Primary_key', how='left')

In [206]:
target_file_dynamic_match_merge3.drop_duplicates(subset=['Primary_key'], inplace=True)

In [207]:
target_file_dynamic_match_merge3['Segments'].fillna(target_file_dynamic_match_merge3['New_Segments'], inplace=True)

In [208]:
target_file_dynamic_match_merge3.drop(['New_Segments'], axis=1, inplace=True)

# No Match from Dynamic to Q2 Data

### Q2 MID DATA match

In [209]:
target_file_dynamic_match_merge3.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is the Dynamic Match Valid?,Is in Dynamic Source?,Is in Dynamic Source?_Final
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,VALID,Match,Match

In [210]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3[['StorePhoneNumber', 'MerchantExternalId',
                                                                       'Is in Dynamic Source?']]

In [211]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3_f[target_file_dynamic_match_merge3_f[
    'Is in Dynamic Source?'].isin(['No Match'])]

In [212]:
Source_data_Q2_2022_mid.head(1)

  MerchantExternalId segments
0   BCR2DN4T3C22BC37   active

In [213]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3.merge(
    Source_data_Q2_2022_mid, on="MerchantExternalId", how="left", indicator = True)

In [214]:
target_file_dynamic_match_merge3_f.drop_duplicates(subset=['Primary_key'], inplace=True)

In [215]:
target_file_dynamic_match_merge3_f.rename(columns={'_merge':'Is the mid q2 source?'}, inplace=True)

In [216]:
target_file_dynamic_match_merge3_f.rename(columns={'segments':'Q2 Segments'}, inplace=True)

In [217]:
target_file_dynamic_match_merge3_f['Is the mid q2 source?'].unique()

['both', 'left_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [218]:
target_file_dynamic_match_merge3_f['Is the mid q2 source?'] = target_file_dynamic_match_merge3_f[
    'Is the mid q2 source?'].map({'left_only':"No Match",'right_only':"No Match",'both':"Match"})

### Filling the No Match from Dynamic with the Is the mid q2 source?

In [219]:
target_file_dynamic_match_merge3_f["Is in Dynamic Source?"].replace("No Match", np.nan, inplace=True)

In [220]:
target_file_dynamic_match_merge3_f['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge3_f[
    "Is the mid q2 source?"], inplace=True)

In [221]:
target_file_dynamic_match_merge3_f['Segments'].fillna(target_file_dynamic_match_merge3_f[
    "Q2 Segments"], inplace=True)

### Q2 MN DATA match

In [222]:
Source_data_Q2_2022_mn.head(1)

  StorePhoneNumber segments
0       9930944765   active

In [223]:
target_file_dynamic_match_merge3_f.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is the Dynamic Match Valid?,Is in Dynamic Source?,Is in Dynamic Source?_Final,Q2 Segments,Is the mid q2 source?
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,VALID,Match,Match,active|P0,Match

In [224]:
target_file_dynamic_match_merge3_f2 = target_file_dynamic_match_merge3_f[['StorePhoneNumber', 'MerchantExternalId',
                                                                       'Is in Dynamic Source?', 'Primary_key']]

In [225]:
target_file_dynamic_match_merge3_f3 = target_file_dynamic_match_merge3_f2[target_file_dynamic_match_merge3_f2[
    'Is in Dynamic Source?'].isin(['No Match'])]

In [226]:
Source_data_Q2_2022_mn.head(1)

  StorePhoneNumber segments
0       9930944765   active

In [227]:
target_file_dynamic_match_merge4_f = target_file_dynamic_match_merge3_f3.merge(
    Source_data_Q2_2022_mn, on="StorePhoneNumber", how="left", indicator = True)

In [228]:
target_file_dynamic_match_merge4_f.drop_duplicates(subset=['Primary_key'], inplace=True)

In [229]:
target_file_dynamic_match_merge4_f.rename(columns={'_merge':'Is the mn q2 source?'}, inplace=True)

In [230]:
target_file_dynamic_match_merge4_f.rename(columns={'segments':'Q2 MN Segments'}, inplace=True)

In [231]:
target_file_dynamic_match_merge4_f['Is the mn q2 source?'].unique()

['left_only', 'both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [232]:
target_file_dynamic_match_merge4_f['Is the mn q2 source?'] = target_file_dynamic_match_merge4_f[
    'Is the mn q2 source?'].map({'left_only':"No Match",'right_only':"No Match",'both':"MN Match"})

In [233]:
target_file_dynamic_match_merge4_f2 = target_file_dynamic_match_merge4_f[["Primary_key", 'Q2 MN Segments',
                                                                          'Is the mn q2 source?']]

In [234]:
target_file_dynamic_match_merge5_f2 = target_file_dynamic_match_merge3_f.merge(
    target_file_dynamic_match_merge4_f2, on='Primary_key', how='left')

In [235]:
target_file_dynamic_match_merge5_f2.drop_duplicates(subset=['Primary_key'], inplace=True)

### Filling the No Match from Dynamic with the Is the mid q2 source?

In [236]:
target_file_dynamic_match_merge5_f2["Is in Dynamic Source?"].replace("No Match", np.nan, inplace=True)

In [237]:
target_file_dynamic_match_merge5_f2['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge5_f2[
    "Is the mn q2 source?"], inplace=True)

In [238]:
target_file_dynamic_match_merge5_f2['Segments'].fillna(target_file_dynamic_match_merge5_f2[
    "Q2 MN Segments"], inplace=True)

In [239]:
target_file_dynamic_match_merge5_f2.head(1)

,MerchantExternalId,StorePhoneNumber,Revisit Date,Primary_key,Segments,IngestionStatus,Report Date,Ingestion Date,Revisit Expire Date,Is the Dynamic Match Valid?,Is in Dynamic Source?,Is in Dynamic Source?_Final,Q2 Segments,Is the mid q2 source?,Q2 MN Segments,Is the mn q2 source?
0,BCR2DN4T2C5JLEID,9822959713,11/10/2022 18:33:47,1,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,VALID,Match,Match,active|P0,Match,NaN,NaN

In [240]:
Source_data_Q1_2022.head(1)

,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Merchant Ext.ID,Last Transaction date,Gpay OB E-mail,segments,_merge
0,Nilkanth Enterprises,7.579170e+09,"Bareilly Road ,Motahaldu",263139.0,29.145969,79.522095,Nainital,244715,58515.0,BCR2DN6T57H7THC2,28-12-2021,sjoshi375@gmail.com,active,both

# No Match from Dynamic to Q1 Data

### Q1 MID Data Match

In [241]:
target_file_dynamic_match_merge5_f3 = target_file_dynamic_match_merge5_f2[['StorePhoneNumber',
                                'MerchantExternalId', 'Is in Dynamic Source?', 'Primary_key']]

In [242]:
Source_data_Q1_2022_mid.head(1)

  MerchantExternalId segments
0   BCR2DN6T57H7THC2   active

In [243]:
target_file_dynamic_match_merge5_f4 = target_file_dynamic_match_merge5_f3[target_file_dynamic_match_merge5_f3[
    "Is in Dynamic Source?"].isin(['No Match'])]

In [244]:
target_file_dynamic_match_merge5_f4.head(1)

    StorePhoneNumber MerchantExternalId Is in Dynamic Source?  Primary_key
34        8121577228   BCR2DN4T2S7INJQJ              No Match           35

In [245]:
target_file_dynamic_match_merge6_q1_mid_merge = target_file_dynamic_match_merge5_f4.merge(
    Source_data_Q1_2022_mid, on='MerchantExternalId', how='left', indicator=True)

In [246]:
target_file_dynamic_match_merge6_q1_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [247]:
target_file_dynamic_match_merge6_q1_mid_merge.rename(columns={'_merge':"Is MID in Q1 Source?"}, inplace=True)

In [248]:
target_file_dynamic_match_merge6_q1_mid_merge['Is MID in Q1 Source?'].unique()

['left_only', 'both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [249]:
target_file_dynamic_match_merge6_q1_mid_merge['Is MID in Q1 Source?'] = target_file_dynamic_match_merge6_q1_mid_merge[
    'Is MID in Q1 Source?'].map({'left_only':"No Match",'right_only':"No Match", 'both':'Match'})

In [250]:
target_file_dynamic_match_merge6_q1_mid_merge.rename(columns={"segments":"q1 segments"}, inplace=True)

In [251]:
target_file_dynamic_match_merge6_q1_mid_merge.head(1)

,StorePhoneNumber,MerchantExternalId,Is in Dynamic Source?,Primary_key,q1 segments,Is MID in Q1 Source?
0,8121577228,BCR2DN4T2S7INJQJ,No Match,35,NaN,No Match

### Q1 MN Data Match

In [252]:
Source_data_Q1_2022_mn.head(1)

   StorePhoneNumber segments
0      7.579170e+09   active

In [253]:
target_file_dynamic_match_merge6_q1_mid_mn_merge = target_file_dynamic_match_merge6_q1_mid_merge.merge(
Source_data_Q1_2022_mn, on='StorePhoneNumber', how='left', indicator=True)

In [254]:
target_file_dynamic_match_merge6_q1_mid_mn_merge.rename(columns={"_merge":"Is MN in Q1 Source?", 
                                                                 "segments":"q1 mn segments"}, inplace=True)

In [255]:
target_file_dynamic_match_merge6_q1_mid_mn_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [256]:
target_file_dynamic_match_merge6_q1_mid_mn_merge[
    'Is MN in Q1 Source?'] = target_file_dynamic_match_merge6_q1_mid_mn_merge[
    'Is MN in Q1 Source?'].map({"left_only":"No Match",'right_only':"No Match", 'both':'MN Match'})

In [257]:
target_file_dynamic_match_merge6_q1_mid_mn_merge_f = target_file_dynamic_match_merge6_q1_mid_mn_merge[[
    "Primary_key", "q1 segments", "Is MID in Q1 Source?", "q1 mn segments", "Is MN in Q1 Source?"]]

In [258]:
target_file_dynamic_match_merge6 = target_file_dynamic_match_merge5_f2.merge(
    target_file_dynamic_match_merge6_q1_mid_mn_merge_f, on='Primary_key', how='left')

In [259]:
target_file_dynamic_match_merge6.drop_duplicates(subset=['Primary_key'], inplace=True)

In [260]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].replace("No Match", np.nan, inplace=True)
target_file_dynamic_match_merge6['Is MID in Q1 Source?'].replace("No Match", np.nan, inplace=True)

In [261]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge6[
    'Is MID in Q1 Source?'], inplace=True)

In [262]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge6[
    'Is MN in Q1 Source?'], inplace=True)

In [263]:
target_file_dynamic_match_merge6['Segments'].fillna(target_file_dynamic_match_merge6[
    'q1 segments'], inplace=True)

In [264]:
target_file_dynamic_match_merge6['Segments'].fillna(target_file_dynamic_match_merge6[
    'q1 mn segments'], inplace=True)

# Matching the no match with the for matching file

In [265]:
For_matching2 = For_matching.rename(columns={"Phone Number":"StorePhoneNumber", 
                             "Merchant Ext.ID":"MerchantExternalId"})

In [266]:
For_matching2.head(1)

  StorePhoneNumber MerchantExternalId
0       7579170207   BCR2DN6T57H7THC2

In [267]:
For_matching2_mid = For_matching2[['MerchantExternalId']]
For_matching2_mn = For_matching2[['StorePhoneNumber']]

In [268]:
target_file_dynamic_match_merge6_f = target_file_dynamic_match_merge6[target_file_dynamic_match_merge6[
    "Is in Dynamic Source?"].isin(['No Match'])]

In [269]:
target_file_dynamic_match_merge6_f2 = target_file_dynamic_match_merge6_f[["StorePhoneNumber", "MerchantExternalId",
                            "Revisit Date", 'Primary_key','Is in Dynamic Source?']]

In [270]:
target_file_dynamic_match_merge6_f2_mid_merge = target_file_dynamic_match_merge6_f2.merge(For_matching2_mid,
                                    on='MerchantExternalId', how='left', indicator=True)

In [271]:
target_file_dynamic_match_merge6_f2_mid_merge.rename(columns={'_merge':"Is the MID in For Matching"}, inplace=True)

In [272]:
target_file_dynamic_match_merge6_f2_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [273]:
target_file_dynamic_match_merge6_f2_mid_mn_merge = target_file_dynamic_match_merge6_f2_mid_merge.merge(
    For_matching2_mn, on='StorePhoneNumber', how='left', indicator=True)

In [274]:
target_file_dynamic_match_merge6_f2_mid_mn_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [275]:
target_file_dynamic_match_merge6_f2_mid_mn_merge.rename(
    columns={'_merge':"Is the MN in For Matching"}, inplace=True)

In [276]:
target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MID in For Matching'] = target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MID in For Matching'].map({"left_only":"No Match", "right_only":"No Match", "both":"Match"})
target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MN in For Matching'] = target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MN in For Matching'].map({"left_only":"No Match", "right_only":"No Match", "both":"MN Match"})

In [277]:
target_file_dynamic_match_merge6_f2_mid_mn_merge_f = target_file_dynamic_match_merge6_f2_mid_mn_merge[[
    "Primary_key", 'Is the MID in For Matching', "Is the MN in For Matching"]]

In [278]:
target_file_dynamic_match_merge7 = target_file_dynamic_match_merge6.merge(
    target_file_dynamic_match_merge6_f2_mid_mn_merge_f, on="Primary_key", how='left')

In [279]:
target_file_dynamic_match_merge7.drop_duplicates(subset=['Primary_key'], inplace=True)

# Cheating Columns Is in Source File based on Merchant Ext ID? & Is in Source File based on Merchant Mobile Number?

In [280]:
target_file_dynamic_match_merge7["Is the mid q2 source?"].replace("No Match", np.nan, inplace=True)
target_file_dynamic_match_merge7["Is the mn q2 source?"].replace("No Match", np.nan, inplace=True)

In [281]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'] = np.nan
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'] = np.nan

In [282]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is the mid q2 source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is MID in Q1 Source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is the MID in For Matching'], inplace=True)

In [283]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is the mn q2 source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is MN in Q1 Source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is the MN in For Matching'], inplace=True)

In [284]:
target_file_dynamic_match_merge7[
    'Is in Source File based on Merchant Ext ID?'].replace(np.nan, "No Match", inplace=True)
target_file_dynamic_match_merge7[
    'Is in Source File based on Merchant Mobile Number?'].replace(np.nan, "No Match", inplace=True)

# Filling the empty segment with Vaco_RV_Q2_2022

In [285]:
Vaco_RV_Q2_2022.head(1)

  Owner Mobile No. segments_vaco_mn
0       9606168166           active

In [286]:
target_file_dynamic_match_merge7_f = target_file_dynamic_match_merge7[['StorePhoneNumber', 'Primary_key', 
                                                                       "Is in Dynamic Source?"]]

In [287]:
target_file_dynamic_match_merge7_1 = target_file_dynamic_match_merge7_f[target_file_dynamic_match_merge7_f[
    "Is in Dynamic Source?"].isin(['Match', "MN Match"])]

In [288]:
target_file_dynamic_match_merge7_1.head(1)

   StorePhoneNumber  Primary_key Is in Dynamic Source?
0        9822959713            1                 Match

In [289]:
target_file_dynamic_match_merge7_1['Is in Dynamic Source?'].unique()

array(['Match', 'MN Match'], dtype=object)

In [290]:
Vaco_RV_Q2_2022.rename(columns={'Owner Mobile No.':'StorePhoneNumber'}, inplace=True)

In [291]:
Vaco_RV_Q2_2022['StorePhoneNumber'] = pd.to_numeric(Vaco_RV_Q2_2022['StorePhoneNumber'])

In [292]:
target_file_dynamic_match_merge7_2 = target_file_dynamic_match_merge7_1.merge(
    Vaco_RV_Q2_2022, on="StorePhoneNumber", how="left")

In [293]:
target_file_dynamic_match_merge7_2_f = target_file_dynamic_match_merge7_2[['Primary_key', 'segments_vaco_mn']]

In [294]:
target_file_dynamic_match_merge8 = target_file_dynamic_match_merge7.merge(
    target_file_dynamic_match_merge7_2_f, on='Primary_key', how='left')

In [295]:
target_file_dynamic_match_merge8.drop_duplicates(subset=['Primary_key'], inplace=True)

In [296]:
target_file_dynamic_match_merge8['Segments'].fillna(target_file_dynamic_match_merge8[
    'segments_vaco_mn'], inplace=True)

In [297]:
Is_in_source = target_file_dynamic_match_merge8[['MerchantExternalId', 'Segments', 
                                   'IngestionStatus', 'Report Date','Ingestion Date', 'Revisit Expire Date',
                             'Is in Dynamic Source?_Final', 'Is the Dynamic Match Valid?','Is in Dynamic Source?', 
'Is in Source File based on Merchant Ext ID?', 'Is in Source File based on Merchant Mobile Number?']].rename(
    columns={"Is in Dynamic Source?": "Is in Source File?", 'Is in Dynamic Source?_Final':"Is in Dynamic Source?",
            "Report Date":"Dynamic Report Date", "Ingestion Date":"Dynamic Ingestion Date", 
             'IngestionStatus':"Dynamic IngestionStatus"})

In [298]:
Is_in_source.head(1)

,MerchantExternalId,Segments,Dynamic IngestionStatus,Dynamic Report Date,Dynamic Ingestion Date,Revisit Expire Date,Is in Dynamic Source?,Is the Dynamic Match Valid?,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?
0,BCR2DN4T2C5JLEID,inactive - inr 40 extra pay on txn,ADD,4-Nov-2022,4-Nov-2022,NaN,Match,VALID,Match,Match,No Match

In [299]:
Google_Revisit_f_4_merge = Google_Revisit_f_4.merge(Is_in_source, on='MerchantExternalId', how='left')

In [300]:
Google_Revisit_f_4_merge.drop_duplicates(subset = ['MerchantExternalId'], inplace = True)

In [301]:
Google_Revisit_f_6 = Google_Revisit_f_4_merge

In [302]:
Google_Revisit_f_6.shape

(5307, 32)

In [303]:
# Stop Here

# IF R is Blank then RWM App Code
### =IF( R2="",IF(T2="Yes",FILTER(RWM!M:M,RWM!AJ:AJ=G2),""),REGEXEXTRACT(R2,"[0-9]+"))

In [304]:
RWM_Revisit.shape

(5844, 1)

In [305]:
RWM_Revisit_2.shape

(5844, 34)

In [306]:
RWM_Revisit_Concat.shape

(5844, 35)

In [307]:
RWM_Revisit_Concat.head(1)

,Merchant ID,Merchant Name,Visit Count,Business Category,Owner Mobile No.,Follow Up Date,PIN Code,On Boarding Date,On Boarding Time,On-Boarded Employee Code,...,Reason for not Accepting Payments using G-Pay,New Collateral Given : QR Code label,New Collateral Given : G-Pay Accepted Sticker,New Collateral Given : Dangler,QR Code String,Not Interested in Gpay Reasons,Created By,Created Name,Created Date,Merchant Ext ID
0,8356409,sri sanvi hair style's,1,Service,9177126322,NaN,504231,Nov-10-2022,20:51:55,81037,...,NaN,NaN,NaN,NaN,upi://pay?pa=9177126322@okbizaxis&pn=sri%20san...,NaN,81037,Kuntala shiva,Nov-10-2022 20:47:42,BCR2DN4T2SV25CSU

In [308]:
RWM_mid_ec = RWM_Revisit_Concat.filter(['Merchant Ext ID', 'Employee Code']).rename(
    columns={'Merchant Ext ID':'MerchantExternalId'})

In [309]:
RWM_mid_ec.shape

(5844, 2)

In [310]:
Google_mid_email = Google_Revisit_f_6.filter(['MerchantExternalId', 'AgentEmail'])

In [311]:
Google_mid_email.shape

(5307, 2)

In [312]:
Google_mid_email_merge = Google_mid_email.merge(RWM_mid_ec, how='left', on='MerchantExternalId')
Google_mid_email_merge.head(5)

  MerchantExternalId                 AgentEmail  Employee Code
0   BCR2DN4T2C5JLEID  sol.20378.vbs@gpayfos.com        20378.0
1   BCR2DN4T2C5MHWQN  del.30129.vbs@gpayfos.com        30129.0
2   BCR2DN4T2C7LJ3J7  san.80396.vbs@gpayfos.com        80396.0
3   BCR2DN4T2CFLNMZH  lat.51071.vbs@gpayfos.com        51071.0
4   BCR2DN4T2CRL35QP  ind.60813.vbs@gpayfos.com        60813.0

In [313]:
Google_mid_email_merge.shape

(5308, 3)

## Extracting the number from test using RegEx

In [314]:
Google_mid_email_merge['IF R is Blank then RWM App Code'] = Google_mid_email_merge[
    'AgentEmail'].str.extract('(\d+)')

In [315]:
Google_mid_email_merge.head(1)

,MerchantExternalId,AgentEmail,Employee Code,IF R is Blank then RWM App Code
0,BCR2DN4T2C5JLEID,sol.20378.vbs@gpayfos.com,20378.0,20378

In [316]:
Google_mid_email_merge.drop_duplicates(subset = ['MerchantExternalId'], inplace = True)

In [317]:
Google_mid_email_merge.shape

(5307, 4)

### Fill the na (Blank) of one column with another columns

In [318]:
Google_mid_email_merge['IF R is Blank then RWM App Code'].fillna(Google_mid_email_merge[
    'Employee Code'], inplace = True)

### Filtering and Merging column with the main dataframe

In [319]:
Google_mid_email_merge.head(1)

,MerchantExternalId,AgentEmail,Employee Code,IF R is Blank then RWM App Code
0,BCR2DN4T2C5JLEID,sol.20378.vbs@gpayfos.com,20378.0,20378

In [320]:
Google_mid_email_f = Google_mid_email_merge.filter(['MerchantExternalId', 'IF R is Blank then RWM App Code'])

In [321]:
Google_Revisit_f_7 = Google_Revisit_f_6.merge(Google_mid_email_f, how = 'left', on = 'MerchantExternalId')

In [322]:
Google_Revisit_f_7.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Dynamic IngestionStatus,Dynamic Report Date,Dynamic Ingestion Date,Revisit Expire Date,Is in Dynamic Source?,Is the Dynamic Match Valid?,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,ADD,4-Nov-2022,4-Nov-2022,NaN,Match,VALID,Match,Match,No Match,20378

# Team View City

In [323]:
team_view_bi_overall.head(1)

,DOJ,Aadhar Number,Staffing Partner,Current Partner Name,EMP_Name,EMP_Code,Mobile_Number,City,RoleName,Pan_No,...,Created_By,Created_Date,LDAP,ReferredBy,FirstOnboardingDate,FirstRevisitDate,LastOnboardingDate,LastRevisitDate,Last_Working_Date,QRCode
0,5-Feb-2021,201401299523,AccuraFind,AccuraFind,PRAKASH,33803,8800166939,Gmap Gurgaon,FSE,EQLPP5850A,...,Pankaj.Kumar,2021-02-05,NaN,NaN,NaN,NaN,NaN,NaN,05-Feb-21,NaN

In [324]:
team_view_bi_overall_f = team_view_bi_overall.filter([
    'EMP_Code', 'City']).rename(columns={'EMP_Code':'IF R is Blank then RWM App Code'})

In [325]:
team_view_bi_overall_f.head(1)

   IF R is Blank then RWM App Code          City
0                            33803  Gmap Gurgaon

In [326]:
Google_Revisit_f_7_bi_f = Google_Revisit_f_7.filter(['IF R is Blank then RWM App Code'])

In [327]:
Google_Revisit_f_7_bi_f.dtypes

IF R is Blank then RWM App Code    object
dtype: object

In [328]:
Google_Revisit_f_7_bi_f['IF R is Blank then RWM App Code'] = pd.to_numeric(Google_Revisit_f_7_bi_f[
    'IF R is Blank then RWM App Code'], downcast='integer')

In [329]:
Google_Revisit_f_7_bi_merge = Google_Revisit_f_7_bi_f.merge(team_view_bi_overall_f, how = 'left', on = 'IF R is Blank then RWM App Code')

In [330]:
Google_Revisit_f_7_bi_merge.shape

(5307, 2)

In [331]:
Google_Revisit_f_7_bi_merge.head(1)

   IF R is Blank then RWM App Code     City
0                            20378  Solapur

In [332]:
Google_Revisit_f_7_bi_merge.rename(columns = {'City': 'Team View City'}, inplace = True)

In [333]:
Google_Revisit_f_7_bi_merge.head(1)

   IF R is Blank then RWM App Code Team View City
0                            20378        Solapur

### Adding the team view city with the Google_Revisit_f_7

In [334]:
Google_Revisit_f_8 = pd.concat([Google_Revisit_f_7,Google_Revisit_f_7_bi_merge['Team View City']], axis=1, join='inner')

In [335]:
Google_Revisit_f_8.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Dynamic Report Date,Dynamic Ingestion Date,Revisit Expire Date,Is in Dynamic Source?,Is the Dynamic Match Valid?,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,Team View City
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,4-Nov-2022,4-Nov-2022,NaN,Match,VALID,Match,Match,No Match,20378,Solapur

In [336]:
latest_team_view_bi_f = latest_team_view_bi[['Employee Code', 'City']].rename(
    columns={'Employee Code':'IF R is Blank then RWM App Code', 'City':'latest city'})

In [337]:
Google_Revisit_f_8['IF R is Blank then RWM App Code'] = pd.to_numeric(Google_Revisit_f_8[
    'IF R is Blank then RWM App Code'])

In [338]:
Google_Revisit_f_8['IF R is Blank then RWM App Code'].replace(np.nan, 00000, inplace=True)

In [339]:
Google_Revisit_f_8_merge = Google_Revisit_f_8.merge(
    latest_team_view_bi_f, on='IF R is Blank then RWM App Code', how='left')

In [340]:
Google_Revisit_f_8_merge.shape

(5307, 35)

In [341]:
Google_Revisit_f_8_merge.drop_duplicates(subset = ['MerchantExternalId'], inplace = True)

In [342]:
Google_Revisit_f_8_merge['latest city'].fillna(Google_Revisit_f_8_merge['Team View City'], inplace=True)

In [343]:
Google_Revisit_f_8['IF R is Blank then RWM App Code'].replace( 00000, np.nan, inplace=True)

In [344]:
Google_Revisit_f_8 = Google_Revisit_f_8_merge

In [345]:
Google_Revisit_f_8.rename(columns={'Team View City':'latest city_2'}, inplace=True)

In [346]:
Google_Revisit_f_8.rename(columns={'latest city':'Team View City'}, inplace=True)

# Task Count 
## Counting the lenght of the string in dataframe and substracting it

In [347]:
Google_Revisit_mid_cstt = Google_Revisit_f_8.filter(['MerchantExternalId', 'CompletedSubTaskTypes'])

In [348]:
Google_Revisit_mid_cstt['Total Len'] = Google_Revisit_mid_cstt['CompletedSubTaskTypes'].str.len()

In [349]:
Google_Revisit_mid_cstt.head(1)

,MerchantExternalId,CompletedSubTaskTypes,Total Len
0,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",66.0

In [350]:
Google_Revisit_mid_cstt['CompletedSubTaskTypes with no space'] = Google_Revisit_mid_cstt['CompletedSubTaskTypes'].str.replace(" ", '')

In [351]:
Google_Revisit_mid_cstt.head(1)

,MerchantExternalId,CompletedSubTaskTypes,Total Len,CompletedSubTaskTypes with no space
0,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",66.0,"PROVISION_VPA,CAPTURE_ADDITIONAL_PICTURES,TAKE..."

In [352]:
Google_Revisit_mid_cstt['Total Len with no space'] = Google_Revisit_mid_cstt[
    'CompletedSubTaskTypes with no space'].str.len()

In [353]:
Google_Revisit_mid_cstt.head(1)

,MerchantExternalId,CompletedSubTaskTypes,Total Len,CompletedSubTaskTypes with no space,Total Len with no space
0,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",66.0,"PROVISION_VPA,CAPTURE_ADDITIONAL_PICTURES,TAKE...",64.0

In [354]:
Google_Revisit_mid_cstt['Task Count'] = Google_Revisit_mid_cstt['Total Len'] - Google_Revisit_mid_cstt[
    'Total Len with no space']

In [355]:
Google_Revisit_mid_cstt.head(1)

,MerchantExternalId,CompletedSubTaskTypes,Total Len,CompletedSubTaskTypes with no space,Total Len with no space,Task Count
0,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",66.0,"PROVISION_VPA,CAPTURE_ADDITIONAL_PICTURES,TAKE...",64.0,2.0

### Filling the na (blank) with -1

In [356]:
Google_Revisit_mid_cstt['Task Count'].fillna(-1, inplace = True)

In [357]:
Google_Revisit_mid_cstt['Task Count'] = Google_Revisit_mid_cstt['Task Count'] + 1

In [358]:
Google_Revisit_mid_cstt_f = Google_Revisit_mid_cstt.filter(['MerchantExternalId', 'Task Count'])

## Combining the above dataframe with the main dataframe

In [359]:
Google_Revisit_mid_cstt_f.head(1)

  MerchantExternalId  Task Count
0   BCR2DN4T2C5JLEID         3.0

In [360]:
Google_Revisit_f_9 = pd.concat([Google_Revisit_f_8, Google_Revisit_mid_cstt_f[
    'Task Count']], axis = 1, join = 'inner')

In [361]:
Google_Revisit_f_9.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Revisit Expire Date,Is in Dynamic Source?,Is the Dynamic Match Valid?,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,NaN,Match,VALID,Match,Match,No Match,20378,Solapur,Solapur,3.0

In [362]:
Google_Revisit_f_9.shape

(5307, 36)

# Is in Google Daily OB File?

In [363]:
Google_OB.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,VerificationTimestamp,AgentEmail,MerchantEmail,MerchantExternalId,Validity,InvalidReason,QRCount,StickerQRCount,StandeeQRCount,OnboardingsFromSamePhoneNumber,GmbOptIn,GmbVerification
0,Ganesh Sai Vegetable Market,Karimnagar,505001,7306427572,10-Nov-2022 13:26:18,10-Nov-2022 13:27:49,kar.49029.vbs@gpayfos.com,prasadchinni01@gmail.com,BCR2DN4T2TVZ3LAW,VALID,INVALID_REASON_UNSPECIFIED,3,2,1,NaN,True,True

In [364]:
Google_Revisit_f_9.shape

(5307, 36)

In [365]:
Google_OB_mid_1 = Google_OB.filter(['MerchantExternalId'])
Google_OB_mid_2 = Google_OB.filter(['MerchantExternalId']).rename(columns={'MerchantExternalId':'MerchantExternalId_2'})

In [366]:
Google_OB_mid_concat = pd.concat([Google_OB_mid_1, Google_OB_mid_2], axis = 1, join = 'inner')
Google_OB_mid_concat.shape

(7640, 2)

In [367]:
Google_Revisit_f_9_f = Google_Revisit_f_9.filter(['StorePhoneNumber', 'MerchantExternalId'])
Google_Revisit_f_9_f.shape

(5307, 2)

In [368]:
Google_Revisit_f_9_mid_merge = Google_Revisit_f_9_f.merge(Google_OB_mid_concat, how='left', on='MerchantExternalId')

In [369]:
Google_Revisit_f_9_mid_merge['Unique MID'] = Google_Revisit_f_9_mid_merge[
    'MerchantExternalId'] == Google_Revisit_f_9_mid_merge['MerchantExternalId_2']

In [370]:
Google_Revisit_f_9_mid_merge.head(1)

   StorePhoneNumber MerchantExternalId MerchantExternalId_2  Unique MID
0        9822959713   BCR2DN4T2C5JLEID                  NaN       False

In [371]:
Google_Revisit_f_9_mid_merge.head(1)

   StorePhoneNumber MerchantExternalId MerchantExternalId_2  Unique MID
0        9822959713   BCR2DN4T2C5JLEID                  NaN       False

In [372]:
Google_Revisit_f_9_mid_merge['Is in Google Daily OB File?'] = Google_Revisit_f_9_mid_merge[
    'Unique MID']

In [373]:
Google_Revisit_f_9_OB = Google_Revisit_f_9_mid_merge['Is in Google Daily OB File?'].map({True:'Yes', False:'No'})
Google_Revisit_f_9_OB

0       No
1       No
2       No
3       No
4       No
        ..
5302    No
5303    No
5304    No
5305    No
5306    No
Name: Is in Google Daily OB File?, Length: 5307, dtype: object

In [374]:
Google_Revisit_f_10 = pd.concat([Google_Revisit_f_9, Google_Revisit_f_9_OB], axis = 1, join = 'inner')

In [375]:
Google_Revisit_f_10.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Dynamic Source?,Is the Dynamic Match Valid?,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,VALID,Match,Match,No Match,20378,Solapur,Solapur,3.0,No

# Is Previous Revisit same month? and Previous Revisit Date

In [376]:
Previous_google_revisit_mid = Previous_google_revisit.filter([
    'TaskSubmissionTimestamp', 'MerchantExternalId', 'Date'])

In [377]:
Previous_google_revisit_mid.head(1)

  TaskSubmissionTimestamp MerchantExternalId       Date
0     2022-06-07 11:26:54   BCR2DN4T2CA2D3JX 2022-06-07

In [378]:
Previous_google_revisit_mid_2 = Previous_google_revisit_mid.filter([
    'MerchantExternalId']).rename(columns={'MerchantExternalId':'MerchantExternalId_2'})

In [379]:
Previous_google_revisit_mid_concat = pd.concat([
    Previous_google_revisit_mid ,Previous_google_revisit_mid_2], axis = 1, join = 'inner')

In [380]:
Google_Revisit_f_10_f = Google_Revisit_f_10.filter(['MerchantExternalId'])
Google_Revisit_f_10_f.shape

(5307, 1)

In [381]:
Google_Revisit_f_10_merge = Google_Revisit_f_10_f.merge(
    Previous_google_revisit_mid_concat, how = 'left', on = 'MerchantExternalId')
Google_Revisit_f_10_merge

,MerchantExternalId,TaskSubmissionTimestamp,Date,MerchantExternalId_2
0,BCR2DN4T2C5JLEID,2022-06-27 14:00:49,2022-06-27,BCR2DN4T2C5JLEID
1,BCR2DN4T2C5MHWQN,NaN,NaT,NaN
2,BCR2DN4T2C7LJ3J7,2022-06-17 17:38:49,2022-06-17,BCR2DN4T2C7LJ3J7
3,BCR2DN4T2CFLNMZH,8/20/2022 9:21:28,2022-08-20,BCR2DN4T2CFLNMZH
4,BCR2DN4T2CRL35QP,NaN,NaT,NaN
...,...,...,...,...
5411,BCR2DN6TZOC2NRQP,NaN,NaT,NaN
5412,BCR2DN6TZPE3XKZU,NaN,NaT,NaN
5413,BCR2DN6TZPEL5UIR,NaN,NaT,NaN
5414,BCR2DN6TZPKMJQ3L,10/11/2022 11:31:12,2022-10-11,BCR2DN6TZPKMJQ3L
5415,BCR2DN6TZPTIDCQM,NaN,NaT,NaN

In [382]:
Google_Revisit_f_10_merge.drop_duplicates(subset = ['MerchantExternalId'], inplace = True)

In [383]:
Google_Revisit_f_10_merge.shape

(5307, 4)

In [384]:
Google_Revisit_f_10_merge.head(1)

  MerchantExternalId TaskSubmissionTimestamp       Date MerchantExternalId_2
0   BCR2DN4T2C5JLEID     2022-06-27 14:00:49 2022-06-27     BCR2DN4T2C5JLEID

In [385]:
Google_Revisit_f_10_merge['Is Previous Revisit same month?'] = (Google_Revisit_f_10_merge[
    'MerchantExternalId'] == Google_Revisit_f_10_merge['MerchantExternalId_2']).map({True: 'Yes', False: 'No'})

In [386]:
Google_Revisit_f_10_f = Google_Revisit_f_10_merge.filter([
'MerchantExternalId','Is Previous Revisit same month?','Date']).rename(columns={'Date':'Previous Revisit Date'})

In [387]:
Google_Revisit_f_10_f.head(1)

  MerchantExternalId Is Previous Revisit same month? Previous Revisit Date
0   BCR2DN4T2C5JLEID                             Yes            2022-06-27

In [388]:
Google_Revisit_f_10_f.dtypes

MerchantExternalId                         object
Is Previous Revisit same month?            object
Previous Revisit Date              datetime64[ns]
dtype: object

### Change the Date format to M/DD/YYYY

In [389]:
Google_Revisit_f_10_f['Previous Revisit Date'] = Google_Revisit_f_10_f['Previous Revisit Date'].dt.strftime('%-m/%-d/%Y')

In [390]:
Google_Revisit_f_10_f.head(5)

  MerchantExternalId Is Previous Revisit same month? Previous Revisit Date
0   BCR2DN4T2C5JLEID                             Yes             6/27/2022
1   BCR2DN4T2C5MHWQN                              No                   NaN
2   BCR2DN4T2C7LJ3J7                             Yes             6/17/2022
3   BCR2DN4T2CFLNMZH                             Yes             8/20/2022
4   BCR2DN4T2CRL35QP                              No                   NaN

In [391]:
Google_Revisit_f_10_f.shape

(5307, 3)

In [392]:
Google_Revisit_f_10.shape

(5307, 37)

In [393]:
Google_Revisit_f_10_merge = Google_Revisit_f_10.merge(Google_Revisit_f_10_f, how = 'left', on = 'MerchantExternalId')

In [394]:
Google_Revisit_f_10_merge.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,Match,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022

In [395]:
Google_Revisit_f_10_merge.shape

(5307, 39)

In [396]:
Google_Revisit_f_11 = Google_Revisit_f_10_merge

# Remarks (Only Duplicate Revisit) and (Self OB)

In [397]:
Google_Revisit_f_11.shape

(5307, 39)

In [398]:
Google_Revisit_f_11.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,Match,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022

In [399]:
Google_Revisit_f_11_f = Google_Revisit_f_11.filter(['MerchantExternalId', 'Previous Revisit Date'])
Google_Revisit_f_11_f.shape

(5307, 2)

### Find wheather the cell is blank

In [400]:
Google_Revisit_f_11_f['Is the cell empty'] = Google_Revisit_f_11_f['Previous Revisit Date'].isna()

In [401]:
Google_Revisit_f_11_f['Is the cell empty'] = Google_Revisit_f_11_f['Is the cell empty'].map({
    True: np.nan, False: 'Duplicate Revisit'})

In [402]:
Google_Revisit_f_11_f.shape

(5307, 3)

In [403]:
Google_Revisit_f_11_f2 = Google_Revisit_f_11_f.filter([
    'MerchantExternalId', 'Is the cell empty']).rename(columns={'Is the cell empty':'Remarks'})

In [404]:
Google_Revisit_f_11_f2.head(1)

  MerchantExternalId            Remarks
0   BCR2DN4T2C5JLEID  Duplicate Revisit

In [405]:
Google_Revisit_f_11_f2.shape

(5307, 2)

### Add Self OB code

### Filter out the verfied merchant from the CompletedSubTaskTypes 
#### By filtering string

In [406]:
Google_Revisit_f_11.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,Match,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022

In [407]:
Google_Revisit_f_11_f_2 = Google_Revisit_f_11[['MerchantExternalId', 'CompletedSubTaskTypes']]

In [408]:
Google_Revisit_f_11_f_2['Remarks Self OB'] = Google_Revisit_f_11_f_2[
    'CompletedSubTaskTypes'].str.contains("VERIFY_MERCHANT")

In [409]:
Google_Revisit_f_11_f_2.head()

,MerchantExternalId,CompletedSubTaskTypes,Remarks Self OB
0,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",False
1,BCR2DN4T2C5MHWQN,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, CA...",False
2,BCR2DN4T2C7LJ3J7,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",False
3,BCR2DN4T2CFLNMZH,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",False
4,BCR2DN4T2CRL35QP,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",False

In [410]:
Google_Revisit_f_11_f_2['Remarks Self OB'] = Google_Revisit_f_11_f_2[
    'Remarks Self OB'].map({True: 'Self OB', False: np.nan})

In [411]:
Google_Revisit_f_11_f_2.shape

(5307, 3)

In [412]:
Google_Revisit_f_11_f_2.head(1)

,MerchantExternalId,CompletedSubTaskTypes,Remarks Self OB
0,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN

In [413]:
Google_Revisit_f_11_f_3 = Google_Revisit_f_11_f_2[['MerchantExternalId', 'Remarks Self OB']]

In [414]:
Google_Revisit_f_11_f2.head()

  MerchantExternalId            Remarks
0   BCR2DN4T2C5JLEID  Duplicate Revisit
1   BCR2DN4T2C5MHWQN                NaN
2   BCR2DN4T2C7LJ3J7  Duplicate Revisit
3   BCR2DN4T2CFLNMZH  Duplicate Revisit
4   BCR2DN4T2CRL35QP                NaN

In [415]:
Google_Revisit_f_11_f_merge = Google_Revisit_f_11_f2.merge(Google_Revisit_f_11_f_3, how = 'left', on = 'MerchantExternalId')

In [416]:
Google_Revisit_f_11_f_merge.shape

(5307, 3)

In [417]:
Google_Revisit_f_11_f_merge.head(1)

  MerchantExternalId            Remarks Remarks Self OB
0   BCR2DN4T2C5JLEID  Duplicate Revisit             NaN

In [418]:
Google_Revisit_f_11_f_merge['Remarks Self OB'].fillna(Google_Revisit_f_11_f_merge[
    'Remarks'], inplace = True)

In [419]:
Google_Revisit_f_11_f2 = Google_Revisit_f_11_f_merge[[
    'Remarks Self OB']].rename(columns={'Remarks Self OB':'Remarks'})

In [420]:
Google_Revisit_f_11.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File?,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,Match,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022

In [421]:
Google_Revisit_f_11.shape

(5307, 39)

In [422]:
Google_Revisit_f_11_concat = pd.concat([Google_Revisit_f_11, Google_Revisit_f_11_f2], axis = 1, join = 'inner')

In [423]:
Google_Revisit_f_11_concat.shape

(5307, 40)

In [424]:
Google_Revisit_f_11_concat.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit

In [425]:
Google_Revisit_f_12 = Google_Revisit_f_11_concat

# Off City?

In [426]:
Pivot_table_f_1 = Pivot_table.filter(['Unnamed: 5']).rename(columns={'Unnamed: 5': 'Team View City'})
Pivot_table_f_2 = Pivot_table.filter(['Unnamed: 5']).rename(columns={'Unnamed: 5': 'City_2'})
Pivot_table_f_concat = pd.concat([Pivot_table_f_1, Pivot_table_f_2], axis = 1, join = 'inner')

In [427]:
Pivot_table_f_concat.dropna(inplace = True)

In [428]:
Pivot_table_f_concat.head(1)

  Team View City City_2
0           Agra   Agra

In [429]:
Google_Revisit_f_12.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File based on Merchant Ext ID?,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Match,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit

In [430]:
Google_Revisit_f_12.shape

(5307, 40)

In [431]:
Google_Revisit_f_12_f = Google_Revisit_f_12.filter(['MerchantExternalId','Team View City'])

In [432]:
Google_Revisit_f_12_f

     MerchantExternalId Team View City
0      BCR2DN4T2C5JLEID        Solapur
1      BCR2DN4T2C5MHWQN          Delhi
2      BCR2DN4T2C7LJ3J7         Sangli
3      BCR2DN4T2CFLNMZH          Latur
4      BCR2DN4T2CRL35QP         Indore
...                 ...            ...
5302   BCR2DN6TZOC2NRQP        Madurai
5303   BCR2DN6TZPE3XKZU      AHMEDABAD
5304   BCR2DN6TZPEL5UIR     Davanagere
5305   BCR2DN6TZPKMJQ3L          Delhi
5306   BCR2DN6TZPTIDCQM          Delhi

[5307 rows x 2 columns]

In [433]:
Google_Revisit_f_12_merge = Google_Revisit_f_12_f.merge(Pivot_table_f_concat, how = 'left', on = 'Team View City')

In [434]:
Google_Revisit_f_12_merge.head(1)

  MerchantExternalId Team View City   City_2
0   BCR2DN4T2C5JLEID        Solapur  Solapur

In [435]:
Google_Revisit_f_12_merge['Off City?'] = Google_Revisit_f_12_merge[
    'Team View City'] == Google_Revisit_f_12_merge['City_2']
Google_Revisit_f_12_merge['Off City?'] = Google_Revisit_f_12_merge['Off City?'].map({True: 'No', False: 'Yes'})

In [436]:
Google_Revisit_f_12_merge.head(1)

  MerchantExternalId Team View City   City_2 Off City?
0   BCR2DN4T2C5JLEID        Solapur  Solapur        No

In [437]:
Google_Revisit_f_12_f = Google_Revisit_f_12_merge.filter(['MerchantExternalId', 'Off City?'])

In [438]:
Google_Revisit_f_12_f.shape

(5307, 2)

In [439]:
Google_Revisit_f_12_merge_2 = Google_Revisit_f_12.merge(Google_Revisit_f_12_f, how = 'left', on = 'MerchantExternalId')

In [440]:
Google_Revisit_f_12_merge_2.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No

In [441]:
Google_Revisit_f_13 = Google_Revisit_f_12_merge_2

# Replacable column name

In [442]:
Pivot_table.head()

,OLD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,active,active|credit,active|P0,...,Final,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,110001.0,0.0,181.0,181.0,NaN,Agra,587101,1,0,0,...,61,0,5,0,NaN,postal_code,City Name,NaN,BCR2DN4T3C5LL7A3,NaN
1,110002.0,1.0,215.0,216.0,NaN,AHMEDABAD,587102,1,0,0,...,19,0,2,0,NaN,387001,Anand,NaN,BCR2DN4T3CHMDNBV,NaN
2,110003.0,2.0,355.0,357.0,NaN,Ahmednagar,587103,3,0,1,...,63,0,3,0,NaN,387002,Anand,NaN,BCR2DN4T3CHOHKKX,NaN
3,110005.0,3.0,2029.0,2032.0,NaN,Aligarh,587112,0,0,0,...,12,0,0,0,NaN,387110,Anand,NaN,BCR2DN4T3CHP3LIR,NaN
4,110006.0,17.0,3274.0,3291.0,NaN,Amravati,587116,0,0,0,...,5,0,0,0,NaN,387115,Anand,NaN,BCR2DN4T3CTI7JYL,NaN

In [443]:
Pivot_table_f_2 = Pivot_table.filter(['Unnamed: 20', 'Unnamed: 21'])
Pivot_table_f_2.head(1)

   Unnamed: 20 Unnamed: 21
0  postal_code   City Name

### Changing the columns name with row 1

In [444]:
Pivot_table_f_2.columns = Pivot_table_f_2.iloc[0]

In [445]:
Pivot_table_f_3 = Pivot_table_f_2.drop(0)

In [446]:
Pivot_table_f_3_f_1 = Pivot_table_f_3.filter(['postal_code']).rename(columns={'postal_code':'Pincode'})
Pivot_table_f_3_f_2 = Pivot_table_f_3.filter([
    'postal_code', 'City Name']).rename(columns={'postal_code':'Pincode_2'})
Pivot_table_f_3_f_2.shape

(5439, 2)

In [447]:
Pivot_table_f_3_f_concat = pd.concat([Pivot_table_f_3_f_1, Pivot_table_f_3_f_2], axis = 1, join = 'inner')

In [448]:
Pivot_table_f_3_f_concat.head(1)

0 Pincode Pincode_2 City Name
1  387001    387001     Anand

In [449]:
Google_Revisit_f_13.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is in Source File based on Merchant Mobile Number?,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,No Match,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No

In [450]:
Google_Revisit_f_13_f = Google_Revisit_f_13.filter(['MerchantExternalId', 'Pincode'])
Google_Revisit_f_13_f.shape

(5307, 2)

In [451]:
Google_Revisit_f_13_f.dtypes

MerchantExternalId    object
Pincode                int64
dtype: object

In [452]:
Pivot_table_f_3_f_concat['Pincode'] = pd.to_numeric(Pivot_table_f_3_f_concat['Pincode'])

In [453]:
Google_Revisit_f_13_f_merge = Google_Revisit_f_13_f.merge(Pivot_table_f_3_f_concat, how = 'left', on = 'Pincode')

In [454]:
Google_Revisit_f_13_f_dd = Google_Revisit_f_13_f_merge.drop_duplicates(subset = ['MerchantExternalId'])

In [455]:
Google_Revisit_f_13_f_dd.shape

(5307, 4)

In [456]:
Google_Revisit_f_13_f_dd_2 = Google_Revisit_f_13_f_dd.rename(columns = {'City Name':'Remove the Name with nan'})

In [457]:
Google_Revisit_f_13_f_dd_2.head(1)

  MerchantExternalId  Pincode Pincode_2 Remove the Name with nan
0   BCR2DN4T2C5JLEID   413216       NaN                      NaN

In [458]:
Google_Revisit_f_13_f_3 = Google_Revisit_f_13_f_dd_2.filter(['MerchantExternalId', 'Remove the Name with nan'])

In [459]:
Google_Revisit_f_13_f_merge = Google_Revisit_f_13.merge(
    Google_Revisit_f_13_f_3, how = 'left', on='MerchantExternalId')

In [460]:
Google_Revisit_f_13_f_merge.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No,NaN

In [461]:
Google_Revisit_f_15 = Google_Revisit_f_13_f_merge

In [462]:
Google_Revisit_f_15.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No,NaN

# Is in Old Source?

In [463]:
Source_data_Q1_2022_ingestion_f = Source_data_Q1_2022_ingestion[['Merchant Ext.ID', 'Phone Number']]

In [464]:
Source_data_Q1_2022_ingestion_f.head(1)

  Merchant Ext.ID  Phone Number
0           Empty             0

In [465]:
Source_data_Q1_2022_ingestion_f.shape

(404814, 2)

In [466]:
Google_Revisit_f_15.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,IF R is Blank then RWM App Code,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,20378,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No,NaN

In [467]:
Google_Revisit_f_15.shape

(5307, 42)

In [468]:
Google_Revisit_f_15_f = Google_Revisit_f_15[['MerchantExternalId', 'StorePhoneNumber', 'Is in Source File?']]
Google_Revisit_f_15_f.head(1)

  MerchantExternalId  StorePhoneNumber Is in Source File?
0   BCR2DN4T2C5JLEID        9822959713              Match

In [469]:
Google_Revisit_f_15_f = Google_Revisit_f_15_f[Google_Revisit_f_15_f["Is in Source File?"].isin(['No Match'])]

## Matching Mobile number with the old database

In [470]:
Google_Revisit_f_15_mn = Google_Revisit_f_15_f

In [471]:
Source_data_Q1_2022_ing_mn = Source_data_Q1_2022_ingestion_f.rename(
    columns= {"Merchant Ext.ID":"MerchantExternalId"})

In [472]:
Google_Revisit_f_15_f_m1 = Google_Revisit_f_15_f.merge(
    Source_data_Q1_2022_ing_mn, how = 'left', on = 'MerchantExternalId', indicator=True)

In [473]:
Google_Revisit_f_15_f_m1.shape

(197, 5)

In [474]:
Google_Revisit_f_15_f_m1.drop_duplicates(subset=['MerchantExternalId'], inplace=True)

In [475]:
Google_Revisit_f_15_f_m1.head(1)

,MerchantExternalId,StorePhoneNumber,Is in Source File?,Phone Number,_merge
0,BCR2DN4T2S7INJQJ,8121577228,No Match,NaN,left_only

In [476]:
Google_Revisit_f_15_f_m1.rename(columns={'_merge':"Is the MID in OLD Source?"}, inplace=True)

## Matching MID with the old database

In [477]:
Source_data_Q1_2022_ing_mid = Source_data_Q1_2022_ingestion_f.rename(
    columns = { "Phone Number":"StorePhoneNumber"})

In [478]:
Source_data_Q1_2022_ing_mid_f = Source_data_Q1_2022_ing_mid[["StorePhoneNumber"]]

In [479]:
Google_Revisit_f_15_f_m2 = Google_Revisit_f_15_f_m1.merge(
    Source_data_Q1_2022_ing_mid_f, how = 'left', on='StorePhoneNumber', indicator=True)

In [480]:
Google_Revisit_f_15_f_m2.shape

(197, 6)

In [481]:
Google_Revisit_f_15_f_m2.rename(columns={"_merge":'Is the MN in OLD Source?'}, inplace=True)

In [482]:
Google_Revisit_f_15_f_m2.head(1)

,MerchantExternalId,StorePhoneNumber,Is in Source File?,Phone Number,Is the MID in OLD Source?,Is the MN in OLD Source?
0,BCR2DN4T2S7INJQJ,8121577228,No Match,NaN,left_only,left_only

In [483]:
Google_Revisit_f_15_f_m2['Is the MID in OLD Source?'] = Google_Revisit_f_15_f_m2[
    'Is the MID in OLD Source?'].map({'left_only':'No', 'right_only':'No', 'both':'Yes'})
Google_Revisit_f_15_f_m2['Is the MN in OLD Source?'] = Google_Revisit_f_15_f_m2[
    'Is the MN in OLD Source?'].map({'left_only':'No', 'right_only':'No', 'both':'Yes'})

In [484]:
Google_Revisit_f_15_f_m2['Is the MID in OLD Source?'].replace("No", np.nan, inplace=True)

In [485]:
Google_Revisit_f_15_f_m2['Is the MID in OLD Source?'].fillna(Google_Revisit_f_15_f_m2[
    'Is the MN in OLD Source?'], inplace=True)

In [486]:
Google_Revisit_f_15_f_m2.rename(columns={'Is the MID in OLD Source?':"Is in Old Source?"}, inplace=True)

In [487]:
Google_Revisit_f_15_f_f = Google_Revisit_f_15_f_m2[['MerchantExternalId', 'Is in Old Source?']]

In [488]:
Google_Revisit_f_15_merge = Google_Revisit_f_15.merge(Google_Revisit_f_15_f_f, on='MerchantExternalId', how='left')

In [489]:
Google_Revisit_f_15_merge["Is in Old Source?"].replace(np.nan, "No", inplace=True)

In [490]:
Google_Revisit_f_16 = Google_Revisit_f_15_merge

# OLD Valid

### Filter out the MID, InvalidReasons, segments and Is in Old Source?
#### If (Is in Old Source?) = Yes, Then check the Invalidreasons = np.nan / Invalid_NotOnTargetlist, After which fill the segment column with active old

In [491]:
Google_Revisit_f_16.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan,Is in Old Source?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No,NaN,No

In [492]:
Google_Revisit_f_16_f = Google_Revisit_f_16[[
    'MerchantExternalId', 'InvalidReasons',  'Is in Old Source?', 'Segments']]

In [493]:
Google_Revisit_f_16_f.head(1)

,MerchantExternalId,InvalidReasons,Is in Old Source?,Segments
0,BCR2DN4T2C5JLEID,NaN,No,inactive - inr 40 extra pay on txn

In [494]:
Filt_Yes = Google_Revisit_f_16_f['Is in Old Source?'] == 'Yes'

In [495]:
Google_Revisit_f_16_f2 = Google_Revisit_f_16_f[Filt_Yes]

In [496]:
Google_Revisit_f_16_f2.shape

(0, 4)

In [497]:
Google_Revisit_f_16_f2.head(1)

Empty DataFrame
Columns: [MerchantExternalId, InvalidReasons, Is in Old Source?, Segments]
Index: []

In [498]:
Google_Revisit_f_16_f2['Invalid_NotOnTargetlist'] = Google_Revisit_f_16_f2[
    'InvalidReasons'].isin(['Invalid_NotOnTargetlist'])

In [499]:
Google_Revisit_f_16_f2.head(1)

Empty DataFrame
Columns: [MerchantExternalId, InvalidReasons, Is in Old Source?, Segments, Invalid_NotOnTargetlist]
Index: []

In [500]:
Google_Revisit_f_16_f2.shape

(0, 5)

### Is the InvalidReasons is blank

In [501]:
Google_Revisit_f_16_f2['Is the InvalidReasons is blank'] = False

In [502]:
Google_Revisit_f_16_f2['Invalid_NotOnTargetlist'].fillna(Google_Revisit_f_16_f2[
    'Is the InvalidReasons is blank'], inplace = True)

In [503]:
Google_Revisit_f_16_f2

Empty DataFrame
Columns: [MerchantExternalId, InvalidReasons, Is in Old Source?, Segments, Invalid_NotOnTargetlist, Is the InvalidReasons is blank]
Index: []

In [504]:
Google_Revisit_f_16_f2['Invalid_NotOnTargetlist'] = Google_Revisit_f_16_f2[
    'Invalid_NotOnTargetlist'].map({True:"active old", False: np.nan})

In [505]:
Google_Revisit_f_16_f2.head(1)

Empty DataFrame
Columns: [MerchantExternalId, InvalidReasons, Is in Old Source?, Segments, Invalid_NotOnTargetlist, Is the InvalidReasons is blank]
Index: []

In [506]:
Google_Revisit_f_16_f3 = Google_Revisit_f_16_f2[[
    'MerchantExternalId', 'Invalid_NotOnTargetlist']].rename(columns={'Invalid_NotOnTargetlist': 'Active_Old'})

In [507]:
Google_Revisit_f_16_f3_1 = Google_Revisit_f_16_f3[['Active_Old']].rename(columns= {'Active_Old': 'OLD Valid'})

In [508]:
Google_Revisit_f_16_f3_concat = pd.concat([
    Google_Revisit_f_16_f3, Google_Revisit_f_16_f3_1], axis = 1, join = 'inner')

In [509]:
Google_Revisit_f_16_f3_concat['OLD Valid'] = Google_Revisit_f_16_f3_concat[
    'OLD Valid'].map({'active old':'VALID'})

In [510]:
Google_Revisit_f_16_f3_concat.head(1)

Empty DataFrame
Columns: [MerchantExternalId, Active_Old, OLD Valid]
Index: []

In [511]:
Google_Revisit_f_16_f3_concat.shape

(0, 3)

#### Filter from the main dataframe following data for merging (MID and Segments)

In [512]:
Google_Revisit_f_16.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,latest city_2,Team View City,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan,Is in Old Source?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Solapur,Solapur,3.0,No,Yes,6/27/2022,Duplicate Revisit,No,NaN,No

In [513]:
Google_Revisit_f_16.rename(columns={"Segments":'segments'}, inplace=True)

In [514]:
Google_Revisit_f_16_3 = Google_Revisit_f_16[['MerchantExternalId', 'segments']]

In [515]:
Google_Revisit_f_16_3_merge = Google_Revisit_f_16_3.merge(
    Google_Revisit_f_16_f3_concat, how='left', on='MerchantExternalId')

In [516]:
Google_Revisit_f_16_3_merge.head()

  MerchantExternalId                            segments Active_Old OLD Valid
0   BCR2DN4T2C5JLEID  inactive - inr 40 extra pay on txn        NaN       NaN
1   BCR2DN4T2C5MHWQN                            inactive        NaN       NaN
2   BCR2DN4T2C7LJ3J7  inactive - inr 40 extra pay on txn        NaN       NaN
3   BCR2DN4T2CFLNMZH  inactive - inr 40 extra pay on txn        NaN       NaN
4   BCR2DN4T2CRL35QP  inactive - inr 40 extra pay on txn        NaN       NaN

In [517]:
Google_Revisit_f_16_3_merge['segments'].fillna(Google_Revisit_f_16_3_merge[
    'Active_Old'], inplace = True)

In [518]:
Google_Revisit_f_16_4 = Google_Revisit_f_16_3_merge[['segments', 'OLD Valid']].rename(
    columns={'segments':'segments_2'})

In [519]:
Google_Revisit_f_16_4.shape

(5307, 2)

In [520]:
Google_Revisit_f_16_4.head(1)

                           segments_2 OLD Valid
0  inactive - inr 40 extra pay on txn       NaN

In [521]:
Google_Revisit_f_16_4_concat = pd.concat([Google_Revisit_f_16, Google_Revisit_f_16_4], axis = 1, join = 'inner')

In [522]:
Google_Revisit_f_16_4_concat.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Task Count,Is in Google Daily OB File?,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan,Is in Old Source?,segments_2,OLD Valid
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,3.0,No,Yes,6/27/2022,Duplicate Revisit,No,NaN,No,inactive - inr 40 extra pay on txn,NaN

In [523]:
Google_Revisit_f_16_4_concat['segments'].fillna(Google_Revisit_f_16_4_concat['segments_2'], inplace = True)

In [524]:
Google_Revisit_f_17 = Google_Revisit_f_16_4_concat

In [525]:
Google_Revisit_f_17['Is in Dynamic Source?_2'] = Google_Revisit_f_17['Is in Dynamic Source?']

In [526]:
Google_Revisit_f_17['Is in Dynamic + Consolidated Source?'] = Google_Revisit_f_17['Is in Source File?']

In [527]:
Google_Revisit_f_17.rename(
    columns={'Is the Dynamic Match Valid?':'Is in Dynamic Source Visit Date Valid?'}, inplace=True)

In [528]:
Google_Revisit_f_21 = Google_Revisit_f_17

In [529]:
Google_Revisit_f_21.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan,Is in Old Source?,segments_2,OLD Valid,Is in Dynamic Source?_2,Is in Dynamic + Consolidated Source?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Yes,6/27/2022,Duplicate Revisit,No,NaN,No,inactive - inr 40 extra pay on txn,NaN,Match,Match

In [530]:
Google_Revisit_f_21.shape

(5307, 47)

# Changing the Team View City Name

In [531]:
Google_Revisit_f_21.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,PreProvisionedQRCount,...,Is Previous Revisit same month?,Previous Revisit Date,Remarks,Off City?,Remove the Name with nan,Is in Old Source?,segments_2,OLD Valid,Is in Dynamic Source?_2,Is in Dynamic + Consolidated Source?
0,Mangal Jewellers,Solapur,413216,9822959713,5/9/2022 17:41:48,11/10/2022 18:33:47,BCR2DN4T2C5JLEID,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, TA...",NaN,3.0,...,Yes,6/27/2022,Duplicate Revisit,No,NaN,No,inactive - inr 40 extra pay on txn,NaN,Match,Match

In [532]:
Google_Revisit_f_21['Team View City_2'] = np.nan

In [533]:
Google_Revisit_f_21['Team View City_2'].fillna(Google_Revisit_f_21['Remove the Name with nan'], inplace=True)

In [534]:
Google_Revisit_f_21['Team View City_2'].fillna(Google_Revisit_f_21['Team View City'], inplace=True)

In [535]:
Google_Revisit_f_15 = Google_Revisit_f_21

# Rerrange the column in the dataframe

In [536]:
Google_Revisit_f_o = Google_Revisit_f_15.filter(['StoreName','City','Pincode', 'StorePhoneNumber',
'OnboardingTimestamp', 'TaskSubmissionTimestamp', 'MerchantExternalId', 'CompletedSubTaskTypes',
'AdditionalQRs', 'PreProvisionedQRCount', 'StickerQRCount', 'StandeeQRCount', 'MerchantVerified',
'MerchantEditStatus','RejectedEditFields','Validity', 'InvalidReasons', 'AgentEmail', 
                                                 'Is in Dynamic + Consolidated Source?',
'Is in RWM', 'IF R is Blank then RWM App Code', 'Team View City_2', 'Task Count',
'Is in Source File based on Merchant Ext ID?','Is in Source File based on Merchant Mobile Number?',
'Is in Google Daily OB File?', 'Is Previous Revisit same month?', 'Previous Revisit Date', 'Remarks',
'Off City?','Remove the Name with nan', 'GmbOptIn','GmbListingStatus', 'NewtoGMB', 'Is in Old Source?',
'OLD Valid', 'segments_2','Is in Dynamic Source?_2', 'Is in Dynamic Source Visit Date Valid?',
"Revisit Expire Date", 'Dynamic IngestionStatus', 'Dynamic Ingestion Date']).rename(
    columns={'Is in Dynamic + Consolidated Source?':'Is in Source File?','Remove the Name with nan':'', 
'Team View City_2':'Team View City' , 'segments_2':'Segments', 'Is in Dynamic Source?_2':'Is in Dynamic Source?'})

# Index the  StoreName

In [537]:
Google_Revisit_i = Google_Revisit_f_o.set_index('StoreName')

In [538]:
Google_Revisit_i.to_excel('Google_Revisit_i.xlsx')

# Optimizing Output

In [539]:
wb = op.load_workbook('Google_Revisit_i.xlsx')
ws = wb['Sheet1']

### Change Width

In [540]:
ws.column_dimensions['A'].width = 12
ws.column_dimensions['B'].width = 12
ws.column_dimensions['C'].width = 12
ws.column_dimensions['D'].width = 12
ws.column_dimensions['E'].width = 20
ws.column_dimensions['F'].width = 19
ws.column_dimensions['G'].width = 19
ws.column_dimensions['H'].width = 42
ws.column_dimensions['I'].width = 12
ws.column_dimensions['J'].width = 12
ws.column_dimensions['K'].width = 12
ws.column_dimensions['L'].width = 12
ws.column_dimensions['M'].width = 12
ws.column_dimensions['N'].width = 12
ws.column_dimensions['O'].width = 12
ws.column_dimensions['P'].width = 12
ws.column_dimensions['Q'].width = 12
ws.column_dimensions['R'].width = 12
ws.column_dimensions['S'].width = 12
ws.column_dimensions['T'].width = 12
ws.column_dimensions['U'].width = 12
ws.column_dimensions['V'].width = 12
ws.column_dimensions['W'].width = 12
ws.column_dimensions['X'].width = 12
ws.column_dimensions['Y'].width = 12
ws.column_dimensions['Z'].width = 12
ws.column_dimensions['AA'].width = 12
ws.column_dimensions['AB'].width = 12
ws.column_dimensions['AC'].width = 12
ws.column_dimensions['AD'].width = 12
ws.column_dimensions['AE'].width = 12
ws.column_dimensions['AF'].width = 12
ws.column_dimensions['AG'].width = 12
ws.column_dimensions['AH'].width = 12
ws.column_dimensions['AI'].width = 12
ws.column_dimensions['AJ'].width = 12
ws.column_dimensions['AK'].width = 12
ws.column_dimensions['AL'].width = 12
ws.column_dimensions['AM'].width = 12
ws.column_dimensions['AN'].width = 12
ws.column_dimensions['AO'].width = 12
ws.column_dimensions['AP'].width = 12
ws.column_dimensions['AQ'].width = 12
ws.column_dimensions['AR'].width = 12
ws.column_dimensions['AS'].width = 12
ws.column_dimensions['AT'].width = 12

### Change Height

In [541]:
ws.row_dimensions[1].height = 70

## Change Font

In [542]:
Rows = Font(name='Arial', bold= False, size = "10")
Heading_Rows = Font(name='Arial', bold= True, size = "10")

In [543]:
col = Google_Revisit_i.columns

#### Font change for Header

In [544]:
for j in range(1, (len(col)+2)):
        ws.cell(row=1, column=j).font = Heading_Rows

#### Font change for body

In [545]:
for i in range(2, (len(Google_Revisit_i)+2)):
    for j in range(1, (len(col)+2)):
        ws.cell(row=i, column=j).font = Rows

# No Border

In [546]:
border = Border(left=None, right=None, top=None, bottom=None)

In [547]:
for i in range(1, (len(Google_Revisit_i)+2)):
    for j in range(1, (len(col)+2)):
        ws.cell(row=i, column=j).border = border

# Alignment

In [548]:
body_ali = Alignment(wrap_text=False, horizontal="center", vertical="center")
head_ali = Alignment(wrap_text=True, shrinkToFit=True, horizontal="center", vertical="center")

In [549]:
for j in range(1, (len(col)+2)):
        ws.cell(row=1, column=j).alignment = head_ali

In [550]:
for i in range(2, (len(Google_Revisit_i)+2)):
    for j in range(2, (len(col)+2)):
        ws.cell(row=i, column=j).alignment = body_ali

In [551]:
wb.save(output_loc+'Google_Revisit_Final.xlsx')

In [552]:
Stop =
RWM Start

SyntaxError: invalid syntax (600381529.py, line 1)

# RWM Script

In [ ]:
input_loc_source = '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/'
input_loc = '/home/dhrubakumardolai/Desktop/Python Test/Target/Revisit File/'
output_loc = '/home/dhrubakumardolai/Desktop/Python Test/Result/Revisit File/'

In [ ]:
RWN_Revisit = pd.read_excel(
    '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Revisit Merchant Master Records/2022/11/10/10-Nov-2022.xlsx')

In [ ]:
RWN_Revisit.shape

In [ ]:
df_G = pd.read_csv(
    '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/2022/11/10/visits/data-00000-of-00001.csv')

In [ ]:
RWM_visit_master = pd.read_excel(
    '/home/dhrubakumardolai/Desktop/Python Test/Visit Master Records/2022/11/10/10-Nov-2022.xlsx')

In [ ]:
RWM_visit_master.shape

# Google Validity

In [ ]:
google_final = pd.read_excel(output_loc+'Google_Revisit_Final.xlsx')

In [ ]:
google_final.shape

# Extract the data from the Revisit.xlsx for Pivot table

In [ ]:
Pivot_table = pd.read_csv(input_loc_source+"10th Sep'22 Revisit - Pivot Table 1.csv")

# Dynamic Source Aug'22

In [ ]:
Dynamic_source_aug = Dynamic_source_aug

# Extract Source file from Q1 2022

In [ ]:
Source_data_Q1_2022.head(1)

# Extracting Source file from Q2 2022

In [ ]:
Source_data_Q2_2022.head(1)

# Extracting the old Q1 revisit ingestion

In [ ]:
Source_data_Q1_2022_ingestion.head(1)

### Rearranging files

In [ ]:
RWN_Revisit_f = RWN_Revisit[['City Name','Merchant ID','Merchant Name','Visit Count','Business Category',
                                    'Owner Mobile No.','Follow Up Date','PIN Code','On Boarding Date',
                                    'On Boarding Time','On-Boarded Employee Code','Visit By','Employee Code',
                                    'Role Name','POD Name','POD ID','Employment Type','Revisit Date',
                                    'Revisit Time','Team Lead Name','Remarks','Visit Status','Approved By',
                                    'Approved Date','Approved Time','Approved Remarks',
                                    'Reason for not Accepting Payments using G-Pay',
                                    'New Collateral Given : QR Code label',
                                    'New Collateral Given : G-Pay Accepted Sticker',
                                    'New Collateral Given : Dangler','QR Code String',
                                    'Not Interested in Gpay Reasons','Created By','Created Name','Created Date']]

In [ ]:
RWN_Revisit_f.shape

# Vaco_RV_Q2_2022.csv

In [ ]:
Vaco_RV_Q2_2022.shape

# Extracting Data from df_G
# After which sort and remove duplicate from the data

In [ ]:
df_G.set_index('StoreName').head(1)

In [ ]:
df_G2 = df_G[['StoreName','City','Pincode','StorePhoneNumber','OnboardingTimestamp',
'TaskSubmissionTimestamp','MerchantExternalId','CompletedSubTaskTypes','AdditionalQRs','PreProvisionedQRCount',
'StickerQRCount','StandeeQRCount','MerchantVerified','MerchantEditStatus','RejectedEditFields','Validity',
                                   'InvalidReasons','AgentEmail']]
len(df_G2)

#### Sorting Data

In [ ]:
df_G3 = df_G2.sort_values(by=['Validity', 'MerchantExternalId'], ascending = [False, True])
len(df_G3)

#### Remove Duplicate from google revisit

In [ ]:
df_G4 = df_G3.drop_duplicates(subset = ['MerchantExternalId'])

In [ ]:
len(df_G4)

#### Filter

In [ ]:
RWN_Revisit_f.head(1)

In [ ]:
RWN_Revisit_f.shape

In [ ]:
RWN_Revisit_raw = RWN_Revisit_f[~RWN_Revisit_f['Remarks'].isin(['Revisit Done'])]

In [ ]:
RWN_Revisit_raw.shape

In [ ]:
RWN_Revisit_f = RWN_Revisit_f[RWN_Revisit_f['Remarks'].isin(['Revisit Done'])]

In [ ]:
RWN_Revisit_f.head(1)

In [ ]:
len(RWN_Revisit_f)

# Counting the string in the Merchant Ext ID and replace the Merchant Ext ID with len less the 14 as Empty

# Take the Header "QR Code String" and Split the string and put it in the Column No. 31

In [ ]:
RWN_Revisit_split = RWN_Revisit_f['QR Code String'].str.split('=', expand = True)

In [ ]:
RWN_Revisit_f['Merchant Ext ID'] = RWN_Revisit_split[5]

In [ ]:
RWN_Revisit_f.head(1)

In [ ]:
RWN_Revisit_f.shape

In [ ]:
RWN_Revisit_f[RWN_Revisit_f['Merchant ID'].isin(['1913347'])]

# Spliting for Raw Revisit

In [ ]:
RWN_Revisit_raw_split = RWN_Revisit_raw['QR Code String'].str.split('=', expand = True)

In [ ]:
RWN_Revisit_raw.shape

In [ ]:
RWN_Revisit_raw['Merchant Ext ID'] = RWN_Revisit_raw_split[5]

In [ ]:
RWN_Revisit_raw.head(1)

# Extracting MID From Google Revisit and filling the Merchant Ext ID in RWM Revisit

In [ ]:
df_G4_f = df_G4[['StorePhoneNumber', 'MerchantExternalId']]

In [ ]:
RWN_Revisit_f2 = RWN_Revisit_f[['Merchant ID', 'Owner Mobile No.', 'Merchant Ext ID']]

In [ ]:
RWN_Revisit_f2_mn = RWN_Revisit_f2.rename(columns={'Owner Mobile No.':'StorePhoneNumber'})

In [ ]:
RWN_Revisit_f2_mid = RWN_Revisit_f2.rename(columns={'Merchant Ext ID':'MerchantExternalId'})

In [ ]:
RWN_Revisit_f2_mn_merge = RWN_Revisit_f2_mn.merge(df_G4_f, on='StorePhoneNumber', how='left')

In [ ]:
RWN_Revisit_f2_mn_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_f2_mn_merge.shape

In [ ]:
RWN_Revisit_f2_mn_merge_f = RWN_Revisit_f2_mn_merge[['Merchant ID', 'MerchantExternalId']]

In [ ]:
RWN_Revisit_f2_mid_merge = RWN_Revisit_f2_mid.merge(df_G4_f, on='MerchantExternalId', how='left')

In [ ]:
RWN_Revisit_f2_mid_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_f2_mid_merge.shape

In [ ]:
RWN_Revisit_f2_mid_merge_f = RWN_Revisit_f2_mid_merge[['Merchant ID', 'StorePhoneNumber']]

In [ ]:
RWN_Revisit_f_merge_mid = RWN_Revisit_f.merge(RWN_Revisit_f2_mn_merge_f, on='Merchant ID', how='left')

In [ ]:
RWN_Revisit_f_merge_mid.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_f_merge_mid_mn = RWN_Revisit_f_merge_mid.merge(
    RWN_Revisit_f2_mid_merge_f, on='Merchant ID', how='left')

In [ ]:
RWN_Revisit_f_merge_mid_mn.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_f_merge_mid_mn['Merchant Ext ID'].fillna(RWN_Revisit_f_merge_mid_mn[
    'MerchantExternalId'], inplace=True)

In [ ]:
RWN_Revisit_f_merge_mid_mn['Owner Mobile No.'].fillna(RWN_Revisit_f_merge_mid_mn[
    'StorePhoneNumber'], inplace=True)

In [ ]:
RWN_Revisit_f = RWN_Revisit_f_merge_mid_mn

# Filtering Visit Master

In [ ]:
RWM_visit_master.head(1)

In [ ]:
RWM_visit_master_rename = RWM_visit_master.rename(columns={'Visit Date':'Revisit Date', 
                                                           'Visit Time':'Revisit Time', 
                                                           'Revisit Remarks': 'Remarks'})

In [ ]:
RWM_visit_master_rename_f = RWM_visit_master_rename[RWM_visit_master_rename['Remarks'].isin(['Revisit Done'])]

In [ ]:
df_G_f = df_G[['StorePhoneNumber','MerchantExternalId']].rename(
    columns={'MerchantExternalId':'Merchant Ext ID_google', 'StorePhoneNumber':'Owner Mobile No.'})

In [ ]:
RWN_visit_master_split = RWM_visit_master_rename_f['QR Code String'].str.split('=', expand = True)

In [ ]:
RWM_visit_master_rename_f['Merchant Ext ID'] = RWN_visit_master_split[5]

In [ ]:
RWM_visit_master_rename_f_merge = RWM_visit_master_rename_f.merge(df_G_f, on='Owner Mobile No.', how='left')

In [ ]:
RWM_visit_master_rename_f_merge.drop_duplicates(subset=['Merchant ID'], inplace=True)

In [ ]:
RWM_visit_master_rename_f_merge['Merchant Ext ID'].fillna(
    RWM_visit_master_rename_f_merge['Merchant Ext ID_google'], inplace=True)

In [ ]:
RWM_visit_master_rename_f_merge.drop(['Merchant Ext ID_google'], axis=1, inplace=True)

In [ ]:
RWM_visit_master_rename_f = RWM_visit_master_rename_f_merge

In [ ]:
len(RWM_visit_master_rename_f)

In [ ]:
RWN_Revisit_f_merid = RWN_Revisit_f[['Merchant ID']]

In [ ]:
RWM_visit_master_rename_f_merge = RWM_visit_master_rename_f.merge(
    RWN_Revisit_f_merid, on='Merchant ID', how='left', indicator=True)

In [ ]:
RWM_visit_master_rename_f_merge_f = RWM_visit_master_rename_f_merge[RWM_visit_master_rename_f_merge[
    '_merge'].isin(['left_only'])]

In [ ]:
RWM_visit_master_rename_f_merge_f.shape

In [ ]:
RWM_visit_master_rename_f_merge_f.drop(['_merge'], axis=1, inplace=True)

In [ ]:
RWN_Revisit_f2 = RWN_Revisit_f.append(RWM_visit_master_rename_f_merge_f, ignore_index=True)

In [ ]:
RWN_Revisit_f2.shape

In [ ]:
len(RWN_Revisit_f)+len(RWM_visit_master_rename_f_merge_f) == len(RWN_Revisit_f2)

In [ ]:
RWN_Revisit_f = RWN_Revisit_f2

# Filter Merchant Ext ID only

In [ ]:
RWN_Revisit_f['Len Merchant Ext ID'] = RWN_Revisit_f['Merchant Ext ID'].str.len()

In [ ]:
RWN_Revisit_f['Len Merchant Ext ID>14'] = RWN_Revisit_f['Len Merchant Ext ID']>14

In [ ]:
RWN_Revisit_f['Len Merchant Ext ID>14'].replace(False, 'Empty', inplace=True)
RWN_Revisit_f['Len Merchant Ext ID>14'].replace(True, np.nan, inplace=True)

In [ ]:
RWN_Revisit_f['Len Merchant Ext ID>14'].fillna(RWN_Revisit_f['Merchant Ext ID'],  inplace=True)

In [ ]:
RWN_Revisit_f.drop(['Len Merchant Ext ID', 'Merchant Ext ID'], axis= 1, inplace=True)

In [ ]:
RWN_Revisit_f.rename(columns={'Len Merchant Ext ID>14':'Merchant Ext ID'}, inplace=True)

In [ ]:
RWN_Revisit_f['Merchant Ext ID'].replace('Empty', np.nan, inplace=True)

In [ ]:
df_G_f.head()

In [ ]:
RWN_Revisit_f_merge = RWN_Revisit_f.merge(df_G_f, on='Owner Mobile No.', how='left')

In [ ]:
RWN_Revisit_f_merge['Merchant Ext ID'].fillna(RWN_Revisit_f_merge['Merchant Ext ID_google'], inplace=True)

In [ ]:
RWN_Revisit_f_merge['Merchant Ext ID'].replace(np.nan, 'Empty', inplace=True)

In [ ]:
RWN_Revisit_f = RWN_Revisit_f_merge

# Is in Google Daily File?

In [ ]:
df_G_MID = df_G4[['MerchantExternalId']]

In [ ]:
df_G_MID.shape

In [ ]:
RWN_Revisit_f.head(1)

In [ ]:
RWN_Revisit_MID = RWN_Revisit_f[['Merchant ID','Merchant Ext ID']].rename(
    columns = {'Merchant Ext ID': 'MerchantExternalId'})

In [ ]:
RWN_Revisit_MID.head(1)

In [ ]:
RWN_Revisit_MID_merge = RWN_Revisit_MID.merge(df_G_MID, how = 'left' ,on = 'MerchantExternalId', indicator=True)

In [ ]:
RWN_Revisit_MID_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_MID_merge.shape

In [ ]:
RWN_Revisit_MID_merge.head(1)

In [ ]:
RWN_Revisit_MID_merge['_merge'].unique()

In [ ]:
RWN_Revisit_MID_merge.rename(columns={'_merge':'Is in Google Daily File?'}, inplace=True)

In [ ]:
RWN_Revisit_MID_merge['Is in Google Daily File?'] = RWN_Revisit_MID_merge[
    'Is in Google Daily File?'].map({'both': 'Yes', 'left_only': 'No'})

In [ ]:
RWN_Revisit_MID_merge.head(1)

In [ ]:
RWN_Revisit_MID_f = RWN_Revisit_MID_merge[['Merchant ID','Is in Google Daily File?']]

In [ ]:
RWN_Revisit_f_merge = RWN_Revisit_f.merge(RWN_Revisit_MID_f, on='Merchant ID', how='left')

In [ ]:
RWN_Revisit_f_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_f_merge.head(1)

In [ ]:
RWN_Revisit_f_merge.rename(columns={'Is in Google Daily File?':'google_daily_file'}, inplace=True)

In [ ]:
RWN_Revisit_f_merge.shape

In [ ]:
RWN_Revisit_f = RWN_Revisit_f_merge

In [ ]:
RWN_Revisit_f.head(1)

In [ ]:
df_G4.head(1)

In [ ]:
df_G5 = df_G4[['MerchantExternalId', 'CompletedSubTaskTypes']]

In [ ]:
RWN_Revisit_c = RWN_Revisit_f[[
    'Merchant ID', 'Merchant Ext ID']].rename(columns={'Merchant Ext ID':'MerchantExternalId'})

In [ ]:
RWN_Revisit_c.head(1)

In [ ]:
RWN_Revisit_c_merge = RWN_Revisit_c.merge(df_G5, how='left', on='MerchantExternalId')
RWN_Revisit_c_merge.head(1)

In [ ]:
RWN_Revisit_c_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_c_merge.head(1)

In [ ]:
RWN_Revisit_c_f = RWN_Revisit_c_merge[['Merchant ID', 'CompletedSubTaskTypes']]

In [ ]:
RWN_Revisit_f_merge = RWN_Revisit_f.merge(RWN_Revisit_c_f, on='Merchant ID', how='left')

In [ ]:
RWN_Revisit_f_merge.drop_duplicates(subset=['Merchant ID'], inplace=True)

In [ ]:
RWN_Revisit_f_merge.head(1)

In [ ]:
RWN_Revisit_c3 = RWN_Revisit_f_merge

# Task Count
### Counting the lenght of the string in dataframe and substracting it

In [ ]:
RWM_Revisit_mid_cstt = RWN_Revisit_c3.filter(['Merchant ID' ,'Merchant Ext ID', 'CompletedSubTaskTypes'])

In [ ]:
RWM_Revisit_mid_cstt

In [ ]:
RWM_Revisit_mid_cstt['Total Len'] = RWM_Revisit_mid_cstt['CompletedSubTaskTypes'].str.len()

In [ ]:
RWM_Revisit_mid_cstt.head(1)

In [ ]:
RWM_Revisit_mid_cstt['CompletedSubTaskTypes with no space'] = RWM_Revisit_mid_cstt[
    'CompletedSubTaskTypes'].str.replace(" ", '')

In [ ]:
RWM_Revisit_mid_cstt['Total Len with no space'] = RWM_Revisit_mid_cstt['CompletedSubTaskTypes with no space'].str.len()

In [ ]:
RWM_Revisit_mid_cstt['Task Count'] = RWM_Revisit_mid_cstt[
    'Total Len'] - RWM_Revisit_mid_cstt['Total Len with no space']

In [ ]:
RWM_Revisit_mid_cstt['Task Count'].fillna(-1, inplace = True)

In [ ]:
RWM_Revisit_mid_cstt['Task Count'] = RWM_Revisit_mid_cstt['Task Count'] + 1

In [ ]:
RWM_Revisit_mid_cstt['Task Count'] = RWM_Revisit_mid_cstt['Task Count'].replace(0,np.nan)

In [ ]:
RWM_Revisit_mid_cstt.head(1)

In [ ]:
RWM_Revisit_mid_cstt_f = RWM_Revisit_mid_cstt.filter(['Merchant ID', 'Merchant Ext ID', 'Task Count'])

In [ ]:
RWM_Revisit_mid_cstt_f.head(1)

In [ ]:
RWN_Revisit_c3.shape

In [ ]:
RWN_Revisit_concat = pd.concat([RWN_Revisit_c3, RWM_Revisit_mid_cstt_f['Task Count']], axis = 1, join = 'inner')

In [ ]:
RWN_Revisit_c4 = RWN_Revisit_concat

# PreProvisionedQRCount, StickerQRCount, StandeeQRCount

In [ ]:
RWN_Revisit_c4_f = RWN_Revisit_c4.filter([
    'Merchant ID', 'Merchant Ext ID']).rename(columns={'Merchant Ext ID':'MerchantExternalId'})
RWN_Revisit_c4_f.shape

In [ ]:
RWN_Revisit_c4_f.head(1)

In [ ]:
df_G4.shape

In [ ]:
df_G4.head(1)

In [ ]:
df_G4_f = df_G4.filter(['MerchantExternalId', 'PreProvisionedQRCount', 'StickerQRCount', 'StandeeQRCount'])
df_G4_f.head(1)

### Merging dataframe df_G4_f with the RWN_Revisit_c4_f

In [ ]:
RWN_Revisit_c4_merge = RWN_Revisit_c4_f.merge(df_G4_f, how='left', on='MerchantExternalId')

In [ ]:
RWN_Revisit_c4_merge_f = RWN_Revisit_c4_merge.filter(['PreProvisionedQRCount', 'StickerQRCount', 'StandeeQRCount'])

### Concate the column with the original dataframe

In [ ]:
RWN_Revisit_c4_concat = pd.concat([RWN_Revisit_c4, RWN_Revisit_c4_merge_f], axis = 1, join = 'inner')

In [ ]:
RWN_Revisit_c4_concat.head(1)

In [ ]:
RWN_Revisit_c5 = RWN_Revisit_c4_concat

# Validity

In [ ]:
df_G4.shape

In [ ]:
df_G4.head(1)

In [ ]:
RWN_Revisit_c5.shape

In [ ]:
RWN_Revisit_c5.head(1)

In [ ]:
df_G4_f = df_G4.filter(['MerchantExternalId', 'Validity'])

In [ ]:
RWN_Revisit_c5_f = RWN_Revisit_c5.filter(['Merchant ID', 'Merchant Ext ID']).rename(
    columns={'Merchant Ext ID':'MerchantExternalId'})

In [ ]:
RWN_Revisit_c5_f.head(1)

In [ ]:
RWN_Revisit_c5_f_merge = RWN_Revisit_c5_f.merge(df_G4_f, how='left' , on= 'MerchantExternalId')

In [ ]:
RWN_Revisit_c5_f_merge.drop_duplicates(subset='Merchant ID', inplace=True)

In [ ]:
RWN_Revisit_c5_f_merge.shape

In [ ]:
RWN_Revisit_c5_f_merge.head(1)

In [ ]:
RWN_Revisit_c5_f2 = RWN_Revisit_c5_f_merge.filter(['Validity'])

In [ ]:
RWN_Revisit_c5_f2.head(1)

In [ ]:
RWN_Revisit_c5_f_concat = pd.concat([RWN_Revisit_c5, RWN_Revisit_c5_f2], axis = 1, join='inner')

In [ ]:
RWN_Revisit_c6 = RWN_Revisit_c5_f_concat

In [ ]:
RWN_Revisit_c6.shape

# Updating validity from google final

In [ ]:
google_final.head(1)

In [ ]:
google_final_f = google_final[['MerchantExternalId', 'Validity']].rename(
    columns={'MerchantExternalId':'Merchant Ext ID','Validity':'Validity_2'})

In [ ]:
RWN_Revisit_c6_merge_2 = RWN_Revisit_c6.merge(google_final_f, on='Merchant Ext ID', how='left')

In [ ]:
RWN_Revisit_c6_merge_2.drop_duplicates(subset = ['Merchant ID'], inplace=True)

In [ ]:
RWN_Revisit_c6_merge_2['Validity_2'].fillna(RWN_Revisit_c6_merge_2['Validity'], inplace=True)

In [ ]:
RWN_Revisit_c6 = RWN_Revisit_c6_merge_2

In [ ]:
RWN_Revisit_c6.shape

In [ ]:
RWN_Revisit_c6.head(1)

# InvalidReasons

In [ ]:
df_G4.head(1)

In [ ]:
RWN_Revisit_c6.head(1)

In [ ]:
df_G4_f = df_G4.filter(['MerchantExternalId', 'InvalidReasons'])

In [ ]:
RWN_Revisit_c6_f = RWN_Revisit_c6.filter([
    'Merchant ID', 'Merchant Ext ID']).rename(columns={'Merchant Ext ID':'MerchantExternalId'})

In [ ]:
RWN_Revisit_c6_f_merge = RWN_Revisit_c6_f.merge(df_G4_f, how='left', on='MerchantExternalId')

In [ ]:
RWN_Revisit_c6_f2 = RWN_Revisit_c6_f_merge.filter(['InvalidReasons'])

In [ ]:
RWN_Revisit_c6_f2.head(1)

In [ ]:
RWN_Revisit_c6.head(1)

In [ ]:
RWN_Revisit_c6_concat = pd.concat([RWN_Revisit_c6, RWN_Revisit_c6_f2], axis = 1, join = 'inner') 
RWN_Revisit_c6_concat.head(1)

In [ ]:
RWN_Revisit_c7 = RWN_Revisit_c6_concat

# Google Pincode

In [ ]:
df_G4.head(1)

In [ ]:
df_G4_f_1 = df_G4.filter(['MerchantExternalId', 'Pincode'])
df_G4_f_2 = df_G4.filter(['StorePhoneNumber', 'Pincode']).rename(columns={'Pincode':'Pincode_2'})

In [ ]:
RWN_Revisit_c7_f = RWN_Revisit_c7.filter([
     'Merchant ID', 'Merchant Ext ID', 'Owner Mobile No.','google_daily_file']).rename(columns={
    'Merchant Ext ID':'MerchantExternalId', 'Owner Mobile No.': 'StorePhoneNumber'})
RWN_Revisit_c7_f.head(1)

In [ ]:
RWN_Revisit_c7_f.shape

In [ ]:
Filt_yes = RWN_Revisit_c7_f['google_daily_file'] == 'Yes'

In [ ]:
RWN_Revisit_c7_f2 = RWN_Revisit_c7_f[Filt_yes]

In [ ]:
RWN_Revisit_c7_f = RWN_Revisit_c7_f2

In [ ]:
RWN_Revisit_c7_f.shape

In [ ]:
RWN_Revisit_c7_f_merge_1 = RWN_Revisit_c7_f.merge(df_G4_f_1, how = 'left', on = 'MerchantExternalId')

In [ ]:
RWN_Revisit_c7_f_merge_2 = RWN_Revisit_c7_f_merge_1.merge(df_G4_f_2, how = 'left', on = 'StorePhoneNumber')

In [ ]:
RWN_Revisit_c7_f_merge_2['Pincode'].fillna(RWN_Revisit_c7_f_merge_2['Pincode_2'], inplace = True)

In [ ]:
RWN_Revisit_c7_f_merge_2_f = RWN_Revisit_c7_f_merge_2[['MerchantExternalId', 'Pincode']]

In [ ]:
RWN_Revisit_c7_f_merge_2_f.rename(
    columns={'MerchantExternalId':'Merchant Ext ID','Pincode': 'Google Pincode'}, inplace=True)

In [ ]:
RWN_Revisit_c7_merge = RWN_Revisit_c7.merge(RWN_Revisit_c7_f_merge_2_f, how = 'left', on= 'Merchant Ext ID')

In [ ]:
RWN_Revisit_c8 = RWN_Revisit_c7_merge

In [ ]:
RWN_Revisit_c8.head(1)

In [ ]:
# Start from here

# Source file match

In [ ]:
input_loc_source = "/home/dhrubakumardolai/Desktop/Python Test/Target/Source Match/"

In [ ]:
target_file = RWN_Revisit_c8[['Merchant ID', 'Owner Mobile No.', 'Merchant Ext ID', 
"Revisit Date"]].rename(columns={'Owner Mobile No.':"StorePhoneNumber", "Merchant Ext ID":"MerchantExternalId"})

In [ ]:
target_file.head(1)

In [ ]:
target_file['Primary_key'] = range(1,(1+len(target_file)))

In [ ]:
Dynamic_source_aug.head(1)

In [ ]:
Source_data_Q1_2022.head(1)

In [ ]:
Source_data_Q2_2022.head(1)

In [ ]:
Source_data_Q1_2022_ingestion.head(1)

In [ ]:
For_matching.head(1)

In [ ]:
Vaco_RV_Q2_2022.head(1)

In [ ]:
Vaco_RV_Q2_2022.shape

### Dynamic Source Match

In [ ]:
Dynamic_source_aug_f = Dynamic_source_aug[['MerchantId', 'Objectives', 'IngestionStatus', 'Report Date', 
                                           'Ingestion Date', 'Revisit Expire Date']]

In [ ]:
Dynamic_source_aug_f.drop_duplicates(subset=['MerchantId'], keep='last', inplace=True)

In [ ]:
Dynamic_source_aug_f.rename(columns={'MerchantId':'MerchantExternalId'}, inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('checkin-nob', "Active", inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('support | stuck_settlements', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | support', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | checkin-nob', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | P0', 'active|P0', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('NULL', np.nan, inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | checkin-nob | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | inactive | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | checkin-nob', 'stuck_settlements', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('active | P0 | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | REVIEW_MERCHANT_EDIT', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | P0 | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | credit', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | stuck_settlements', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | stuck_settlements | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | support', 'Support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | active | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | checkin-nob | stuck_settlements | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('P0 | active | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | credit', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | credit | stuck_settlements', 'active|credit ', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | active', 'credit | active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | support | stuck_settlements', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | stuck_settlements', 'stuck_settlements', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | credit', 'active|credit', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('credit | REVIEW_MERCHANT_EDIT', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | credit | REVIEW_MERCHANT_EDIT', 'active | credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | credit', 'active|credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | credit', 'active|credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | stuck_settlements | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | stuck_settlements', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | active | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | REVIEW_MERCHANT_EDIT | active', 'credit|active', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | support | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('support | stuck_settlements | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | checkin-nob | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | checkin-nob | REVIEW_MERCHANT_EDIT | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | active | REVIEW_MERCHANT_EDIT', 'credit|active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | REVIEW_MERCHANT_EDIT | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | P0 | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | active | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | REVIEW_MERCHANT_EDIT | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | inactive | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | checkin-nob | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | checkin-nob', 'credit', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('support | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | credit | active', 'credit|active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | REVIEW_MERCHANT_EDIT | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | support', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | REVIEW_MERCHANT_EDIT | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | stuck_settlements', 'P0|stuck_settlements', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | support', 'support', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].unique()

In [ ]:
Dynamic_source_aug_f['Objectives'] = Dynamic_source_aug_f['Objectives'].str.lower()

In [ ]:
Dynamic_source_aug_f.rename(columns={'Objectives':'Segments'}, inplace=True)

In [ ]:
target_file_dynamic_match = target_file.merge(
    Dynamic_source_aug_f, on='MerchantExternalId', how='left', indicator=True)

In [ ]:
target_file_dynamic_match.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match.rename(columns={'_merge':'Is in Dynamic Source?'}, inplace=True)

In [ ]:
target_file_dynamic_match['Is in Dynamic Source?'] = target_file_dynamic_match[
    'Is in Dynamic Source?'].map({"left_only":"No Match", "right_only":'No Match', 'both':'Match'})

In [ ]:
target_file_dynamic_match["Dynamic Validity"] = target_file_dynamic_match[
    'Is in Dynamic Source?'].map({'Match':"VALID", "No Match":np.nan})

In [ ]:
target_file_dynamic_match['Is in Dynamic Source?_Final'] = target_file_dynamic_match['Is in Dynamic Source?']

# Is in Dynamic Source Visit Date Valid?

In [ ]:
target_file_dynamic_match.head(1)

In [ ]:
target_file_dynamic_match_f = target_file_dynamic_match[['Primary_key', 'IngestionStatus' ,'Revisit Date', 
                                                         'Revisit Expire Date']]

In [ ]:
target_file_dynamic_match_f['Revisit Expire Date'] = pd.to_datetime(target_file_dynamic_match_f[
    'Revisit Expire Date'])
target_file_dynamic_match_f['Revisit Date'] = pd.to_datetime(target_file_dynamic_match_f[
    'Revisit Date'])

In [ ]:
target_file_dynamic_match_f['Revisit Expire Date'] = target_file_dynamic_match_f[
    'Revisit Expire Date'].dt.strftime('%Y/%m/%d')
target_file_dynamic_match_f['Revisit Date'] = target_file_dynamic_match_f[
    'Revisit Date'].dt.strftime('%Y/%m/%d')

In [ ]:
target_file_dynamic_match_f_del = target_file_dynamic_match_f[target_file_dynamic_match_f[
    'IngestionStatus'].isin(["DELETE"])]

In [ ]:
target_file_dynamic_match_f_del.head(1)

In [ ]:
target_file_dynamic_match_f_del.shape

# Check wheather the TaskSubmissionTimestamp > Revisit Expire Date

In [ ]:
# start2

In [ ]:
target_file_dynamic_match_f_del['Match_if_ED<RD'] = target_file_dynamic_match_f_del[
    'Revisit Expire Date'] >= target_file_dynamic_match_f_del['Revisit Date']

In [ ]:
target_file_dynamic_match_f_del['Match_if_ED<RD'].replace(True,"VALID", inplace=True)

In [ ]:
target_file_dynamic_match_f_del['Match_if_ED<RD'].replace(False,"INVALID", inplace=True)

In [ ]:
target_file_dynamic_match_f_del['Match_Dynamic_Validity'] = target_file_dynamic_match_f_del['Match_if_ED<RD']

In [ ]:
target_file_dynamic_match_f_del2 = target_file_dynamic_match_f_del[['Primary_key', 'Match_Dynamic_Validity']]

In [ ]:
target_file_dynamic_match_merge = target_file_dynamic_match.merge(
    target_file_dynamic_match_f_del2, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge.head(1)

In [ ]:
target_file_dynamic_match_merge['Check_Delete_validity'] = target_file_dynamic_match_merge[
    'Match_Dynamic_Validity'].str.contains(pat='INVALID')

In [ ]:
target_file_dynamic_match_merge['Check_Delete_validity'].replace(False, "Match", inplace=True)
target_file_dynamic_match_merge['Check_Delete_validity'].replace(True, "No Match Dynamic", inplace=True)

In [ ]:
target_file_dynamic_match_merge['Match_Dynamic_Validity'].fillna(target_file_dynamic_match_merge[
    'Dynamic Validity'], inplace=True)

In [ ]:
target_file_dynamic_match_merge.drop(['Dynamic Validity'], axis=1, inplace=True)

In [ ]:
target_file_dynamic_match_merge['Check_Delete_validity'].fillna(target_file_dynamic_match_merge[
    'Is in Dynamic Source?'], inplace=True)

In [ ]:
target_file_dynamic_match_merge.drop(['Is in Dynamic Source?'], axis=1, inplace=True)

In [ ]:
target_file_dynamic_match_merge.rename(columns={"Match_Dynamic_Validity":"Is the Dynamic Match Valid?", 
                                               "Check_Delete_validity":"Is in Dynamic Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge.drop(['Is in Dynamic Source?_Final'], axis=1, inplace=True)

In [ ]:
target_file_dynamic_match_merge['Is in Dynamic Source?_Final'] = np.nan
target_file_dynamic_match_merge['Is in Dynamic Source?_Final'] = target_file_dynamic_match_merge[
    'Is in Dynamic Source?']

# Update the empty segment with the q2 Segment

In [ ]:
target_file_dynamic_match_merge.head(1)

In [ ]:
Source_data_Q2_2022.head(1)

In [ ]:
target_file_dynamic_match_merge_f = target_file_dynamic_match_merge[['StorePhoneNumber', 'MerchantExternalId', 
                                                                     'IngestionStatus', 'Is in Dynamic Source?',
                                                                    'Segments', 'Primary_key']]

In [ ]:
target_file_dynamic_match_merge_f.head(1)

In [ ]:
target_file_dynamic_match_merge_f2 = target_file_dynamic_match_merge_f[~target_file_dynamic_match_merge_f[
    "IngestionStatus"].isin([np.nan])]

In [ ]:
target_file_dynamic_match_merge_f2.head(1)

In [ ]:
Source_data_Q2_2022_mid = Source_data_Q2_2022[[
    'Merchant Ext ID', 'segments']].rename(columns={'Merchant Ext ID':"MerchantExternalId"})

In [ ]:
Source_data_Q2_2022_mn = Source_data_Q2_2022[[
    'Phone Number', 'segments']].rename(columns={'Phone Number':"StorePhoneNumber"})

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid = target_file_dynamic_match_merge_f2.merge(
    Source_data_Q2_2022_mid, on="MerchantExternalId", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid.rename(columns={'_merge':"Dynamic MID in Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn = target_file_dynamic_match_merge_f2_q2_mid.merge(
    Source_data_Q2_2022_mn, on="StorePhoneNumber", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn.rename(columns={'_merge':'Dynamic MN in Source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q2_mid_mn[
    'segments_x'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q2_mid_mn[
    'segments_y'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn.head(1)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn_f = target_file_dynamic_match_merge_f2_q2_mid_mn[[
    'Primary_key', 'Segments']].rename(columns={'Segments':"New_Segments"})

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn_f.head(1)

In [ ]:
target_file_dynamic_match_merge2 = target_file_dynamic_match_merge.merge(
    target_file_dynamic_match_merge_f2_q2_mid_mn_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge2.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge2['Segments'].fillna(target_file_dynamic_match_merge2['New_Segments'], inplace=True)

In [ ]:
target_file_dynamic_match_merge2.drop(['New_Segments'], axis=1, inplace=True)

# Update the empty segment with the q1 Segment

In [ ]:
target_file_dynamic_match_merge2.head(1)

In [ ]:
Source_data_Q1_2022.head(1)

In [ ]:
Source_data_Q1_2022_mid = Source_data_Q1_2022[[
    'Merchant Ext.ID', 'segments']].rename(columns={"Merchant Ext.ID":'MerchantExternalId'})

In [ ]:
Source_data_Q1_2022_mn = Source_data_Q1_2022[[
    'Phone Number', 'segments']].rename(columns={"Phone Number":'StorePhoneNumber'})

In [ ]:
target_file_dynamic_match_merge2_f = target_file_dynamic_match_merge2[['StorePhoneNumber', 'MerchantExternalId', 
                                                                     'IngestionStatus', 'Is in Dynamic Source?',
                                                                    'Segments', 'Primary_key']]

In [ ]:
target_file_dynamic_match_merge2_f2 = target_file_dynamic_match_merge2_f[~target_file_dynamic_match_merge2_f[
    "IngestionStatus"].isin([np.nan])]

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid = target_file_dynamic_match_merge2_f2.merge(
    Source_data_Q1_2022_mid, on="MerchantExternalId", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid.rename(columns={'_merge':"Dynamic MID in Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn = target_file_dynamic_match_merge_f2_q1_mid.merge(
    Source_data_Q1_2022_mn, on="StorePhoneNumber", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn.rename(columns={'_merge':'Dynamic MN in Source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q1_mid_mn[
    'segments_x'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q1_mid_mn[
    'segments_y'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn.head(1)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn_f = target_file_dynamic_match_merge_f2_q1_mid_mn[[
    'Primary_key', 'Segments']].rename(columns={'Segments':"New_Segments"})

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn_f.head(1)

In [ ]:
target_file_dynamic_match_merge3 = target_file_dynamic_match_merge2.merge(
    target_file_dynamic_match_merge_f2_q1_mid_mn_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge3.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge3['Segments'].fillna(target_file_dynamic_match_merge3['New_Segments'], inplace=True)

In [ ]:
target_file_dynamic_match_merge3.drop(['New_Segments'], axis=1, inplace=True)

# No Match from Dynamic to Q2 Data

### Q2 MID DATA match

In [ ]:
target_file_dynamic_match_merge3.head(1)

In [ ]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3[['StorePhoneNumber', 'MerchantExternalId',
                                                                       'Is in Dynamic Source?']]

In [ ]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3_f[target_file_dynamic_match_merge3_f[
    'Is in Dynamic Source?'].isin(['No Match'])]

In [ ]:
Source_data_Q2_2022_mid.head(1)

In [ ]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3.merge(
    Source_data_Q2_2022_mid, on="MerchantExternalId", how="left", indicator = True)

In [ ]:
target_file_dynamic_match_merge3_f.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f.rename(columns={'_merge':'Is the mid q2 source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f.rename(columns={'segments':'Q2 Segments'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f['Is the mid q2 source?'].unique()

In [ ]:
target_file_dynamic_match_merge3_f['Is the mid q2 source?'] = target_file_dynamic_match_merge3_f[
    'Is the mid q2 source?'].map({'left_only':"No Match",'right_only':"No Match",'both':"Match"})

### Filling the No Match from Dynamic with the Is the mid q2 source?

In [ ]:
target_file_dynamic_match_merge3_f["Is in Dynamic Source?"].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge3_f[
    "Is the mid q2 source?"], inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f['Segments'].fillna(target_file_dynamic_match_merge3_f[
    "Q2 Segments"], inplace=True)

### Q2 MN DATA match

In [ ]:
Source_data_Q2_2022_mn.head(1)

In [ ]:
target_file_dynamic_match_merge3_f.head(1)

In [ ]:
target_file_dynamic_match_merge3_f2 = target_file_dynamic_match_merge3_f[['StorePhoneNumber', 'MerchantExternalId',
                                                                       'Is in Dynamic Source?', 'Primary_key']]

In [ ]:
target_file_dynamic_match_merge3_f3 = target_file_dynamic_match_merge3_f2[target_file_dynamic_match_merge3_f2[
    'Is in Dynamic Source?'].isin(['No Match'])]

In [ ]:
Source_data_Q2_2022_mn.head(1)

In [ ]:
target_file_dynamic_match_merge4_f = target_file_dynamic_match_merge3_f3.merge(
    Source_data_Q2_2022_mn, on="StorePhoneNumber", how="left", indicator = True)

In [ ]:
target_file_dynamic_match_merge4_f.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge4_f.rename(columns={'_merge':'Is the mn q2 source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge4_f.rename(columns={'segments':'Q2 MN Segments'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge4_f['Is the mn q2 source?'].unique()

In [ ]:
target_file_dynamic_match_merge4_f['Is the mn q2 source?'] = target_file_dynamic_match_merge4_f[
    'Is the mn q2 source?'].map({'left_only':"No Match",'right_only':"No Match",'both':"MN Match"})

In [ ]:
target_file_dynamic_match_merge4_f2 = target_file_dynamic_match_merge4_f[["Primary_key", 'Q2 MN Segments',
                                                                          'Is the mn q2 source?']]

In [ ]:
target_file_dynamic_match_merge5_f2 = target_file_dynamic_match_merge3_f.merge(
    target_file_dynamic_match_merge4_f2, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge5_f2.drop_duplicates(subset=['Primary_key'], inplace=True)

### Filling the No Match from Dynamic with the Is the mid q2 source?

In [ ]:
target_file_dynamic_match_merge5_f2["Is in Dynamic Source?"].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge5_f2['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge5_f2[
    "Is the mn q2 source?"], inplace=True)

In [ ]:
target_file_dynamic_match_merge5_f2['Segments'].fillna(target_file_dynamic_match_merge5_f2[
    "Q2 MN Segments"], inplace=True)

In [ ]:
target_file_dynamic_match_merge5_f2.head(1)

In [ ]:
Source_data_Q1_2022.head(1)

# No Match from Dynamic to Q1 Data

### Q1 MID Data Match

In [ ]:
target_file_dynamic_match_merge5_f3 = target_file_dynamic_match_merge5_f2[['StorePhoneNumber',
                                'MerchantExternalId', 'Is in Dynamic Source?', 'Primary_key']]

In [ ]:
Source_data_Q1_2022_mid.head(1)

In [ ]:
target_file_dynamic_match_merge5_f4 = target_file_dynamic_match_merge5_f3[target_file_dynamic_match_merge5_f3[
    "Is in Dynamic Source?"].isin(['No Match'])]

In [ ]:
target_file_dynamic_match_merge5_f4.head(1)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge = target_file_dynamic_match_merge5_f4.merge(
    Source_data_Q1_2022_mid, on='MerchantExternalId', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.rename(columns={'_merge':"Is MID in Q1 Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge['Is MID in Q1 Source?'].unique()

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge['Is MID in Q1 Source?'] = target_file_dynamic_match_merge6_q1_mid_merge[
    'Is MID in Q1 Source?'].map({'left_only':"No Match",'right_only':"No Match", 'both':'Match'})

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.rename(columns={"segments":"q1 segments"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.head(1)

### Q1 MN Data Match

In [ ]:
Source_data_Q1_2022_mn.head(1)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge = target_file_dynamic_match_merge6_q1_mid_merge.merge(
Source_data_Q1_2022_mn, on='StorePhoneNumber', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge.rename(columns={"_merge":"Is MN in Q1 Source?", 
                                                                 "segments":"q1 mn segments"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge[
    'Is MN in Q1 Source?'] = target_file_dynamic_match_merge6_q1_mid_mn_merge[
    'Is MN in Q1 Source?'].map({"left_only":"No Match",'right_only':"No Match", 'both':'MN Match'})

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge_f = target_file_dynamic_match_merge6_q1_mid_mn_merge[[
    "Primary_key", "q1 segments", "Is MID in Q1 Source?", "q1 mn segments", "Is MN in Q1 Source?"]]

In [ ]:
target_file_dynamic_match_merge6 = target_file_dynamic_match_merge5_f2.merge(
    target_file_dynamic_match_merge6_q1_mid_mn_merge_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge6.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].replace("No Match", np.nan, inplace=True)
target_file_dynamic_match_merge6['Is MID in Q1 Source?'].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge6[
    'Is MID in Q1 Source?'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge6[
    'Is MN in Q1 Source?'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Segments'].fillna(target_file_dynamic_match_merge6[
    'q1 segments'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Segments'].fillna(target_file_dynamic_match_merge6[
    'q1 mn segments'], inplace=True)

# Matching the no match with the for matching file

In [ ]:
For_matching2 = For_matching.rename(columns={"Phone Number":"StorePhoneNumber", 
                             "Merchant Ext.ID":"MerchantExternalId"})

In [ ]:
For_matching2.head(1)

In [ ]:
For_matching2_mid = For_matching2[['MerchantExternalId']]
For_matching2_mn = For_matching2[['StorePhoneNumber']]

In [ ]:
target_file_dynamic_match_merge6_f = target_file_dynamic_match_merge6[target_file_dynamic_match_merge6[
    "Is in Dynamic Source?"].isin(['No Match'])]

In [ ]:
target_file_dynamic_match_merge6_f2 = target_file_dynamic_match_merge6_f[["StorePhoneNumber", "MerchantExternalId",
                            "Revisit Date", 'Primary_key', 'Is in Dynamic Source?']]

In [ ]:
target_file_dynamic_match_merge6_f2_mid_merge = target_file_dynamic_match_merge6_f2.merge(For_matching2_mid,
                                    on='MerchantExternalId', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_merge.rename(columns={'_merge':"Is the MID in For Matching"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge = target_file_dynamic_match_merge6_f2_mid_merge.merge(
    For_matching2_mn, on='StorePhoneNumber', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge.rename(
    columns={'_merge':"Is the MN in For Matching"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MID in For Matching'] = target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MID in For Matching'].map({"left_only":"No Match", "right_only":"No Match", "both":"Match"})
target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MN in For Matching'] = target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MN in For Matching'].map({"left_only":"No Match", "right_only":"No Match", "both":"MN Match"})

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge_f = target_file_dynamic_match_merge6_f2_mid_mn_merge[[
    "Primary_key", 'Is the MID in For Matching', "Is the MN in For Matching"]]

In [ ]:
target_file_dynamic_match_merge7 = target_file_dynamic_match_merge6.merge(
    target_file_dynamic_match_merge6_f2_mid_mn_merge_f, on="Primary_key", how='left')

In [ ]:
target_file_dynamic_match_merge7.drop_duplicates(subset=['Primary_key'], inplace=True)

# Cheating Columns Is in Source File based on Merchant Ext ID? & Is in Source File based on Merchant Mobile Number?

In [ ]:
target_file_dynamic_match_merge7["Is the mid q2 source?"].replace("No Match", np.nan, inplace=True)
target_file_dynamic_match_merge7["Is the mn q2 source?"].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'] = np.nan
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'] = np.nan

In [ ]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is the mid q2 source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is MID in Q1 Source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is the MID in For Matching'], inplace=True)

In [ ]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is the mn q2 source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is MN in Q1 Source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is the MN in For Matching'], inplace=True)

In [ ]:
target_file_dynamic_match_merge7[
    'Is in Source File based on Merchant Ext ID?'].replace(np.nan, "No Match", inplace=True)
target_file_dynamic_match_merge7[
    'Is in Source File based on Merchant Mobile Number?'].replace(np.nan, "No Match", inplace=True)

# Filling the empty segment with Vaco_RV_Q2_2022

In [ ]:
Vaco_RV_Q2_2022.head(1)

In [ ]:
target_file_dynamic_match_merge7_f = target_file_dynamic_match_merge7[['StorePhoneNumber', 'Primary_key', 
                                                                       "Is in Dynamic Source?"]]

In [ ]:
target_file_dynamic_match_merge7_1 = target_file_dynamic_match_merge7_f[target_file_dynamic_match_merge7_f[
    "Is in Dynamic Source?"].isin(['Match', "MN Match"])]

In [ ]:
target_file_dynamic_match_merge7_1.head(1)

In [ ]:
target_file_dynamic_match_merge7_1['Is in Dynamic Source?'].unique()

In [ ]:
target_file_dynamic_match_merge7_2 = target_file_dynamic_match_merge7_1.merge(
    Vaco_RV_Q2_2022, on="StorePhoneNumber", how="left")

In [ ]:
target_file_dynamic_match_merge7_2_f = target_file_dynamic_match_merge7_2[['Primary_key', 'segments_vaco_mn']]

In [ ]:
target_file_dynamic_match_merge8 = target_file_dynamic_match_merge7.merge(
    target_file_dynamic_match_merge7_2_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge8.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge8['Segments'].fillna(target_file_dynamic_match_merge8[
    'segments_vaco_mn'], inplace=True)

In [ ]:
target_file_dynamic_match_merge8['Is in Latest Source?'] = np.nan

In [ ]:
target_file_dynamic_match_merge8['Is in Latest Source?'] = target_file_dynamic_match_merge8[
    'Is in Dynamic Source?']

In [ ]:
Is_in_source = target_file_dynamic_match_merge8[["Merchant ID", 'StorePhoneNumber', 
                            'MerchantExternalId', 'Revisit Date', 'Segments', 'IngestionStatus', 'Report Date', 
                                  'Ingestion Date', 'Revisit Expire Date','Is in Dynamic Source?_Final', 
 'Is in Latest Source?','Is the Dynamic Match Valid?', 'Is in Dynamic Source?', 
'Is in Source File based on Merchant Ext ID?', 'Is in Source File based on Merchant Mobile Number?']].rename(
    columns={"Is in Dynamic Source?": "Is in Source File?", 'Is in Dynamic Source?_Final':"Is in Dynamic Source?"})

In [ ]:
Is_in_source_f = Is_in_source[['Merchant ID', 'Segments', 'IngestionStatus', 'Report Date', 'Ingestion Date',
            'Revisit Expire Date', 'Is in Dynamic Source?', 'Is in Latest Source?', 'Is the Dynamic Match Valid?',
            'Is in Source File?']]

In [ ]:
RWN_Revisit_c8_merge = RWN_Revisit_c8.merge(Is_in_source_f, on='Merchant ID', how='left')

In [ ]:
RWN_Revisit_c8_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_c8 = RWN_Revisit_c8_merge

In [ ]:
# Stop Here

# OLD DataSoruce?

In [ ]:
RWN_Revisit_c8_f = RWN_Revisit_c8[['Merchant ID', 'Merchant Ext ID', 'Owner Mobile No.', 'Is in Source File?']]

In [ ]:
RWN_Revisit_c8_f.shape

In [ ]:
RWN_Revisit_c8_f = RWN_Revisit_c8_f[RWN_Revisit_c8_f['Is in Source File?'].isin(['No Match'])]

In [ ]:
Source_data_Q1_2022_ingestion_mid = Source_data_Q1_2022_ingestion[[
    'Merchant Ext.ID']].rename(columns={'Merchant Ext.ID':'Merchant Ext ID'})
Source_data_Q1_2022_ingestion_mn = Source_data_Q1_2022_ingestion[[
    'Phone Number']].rename(columns={'Phone Number':'Owner Mobile No.'})

In [ ]:
RWN_Revisit_c8_f_merge = RWN_Revisit_c8_f.merge(
    Source_data_Q1_2022_ingestion_mid, how='left', on='Merchant Ext ID', indicator=True)

In [ ]:
RWN_Revisit_c8_f_merge.drop_duplicates(subset = ['Merchant ID'], inplace=True)

In [ ]:
RWN_Revisit_c8_f_merge.rename(columns={'_merge':'OLD DataSoruce?_MID'}, inplace=True)

In [ ]:
RWN_Revisit_c8_f_merge2 = RWN_Revisit_c8_f_merge.merge(
    Source_data_Q1_2022_ingestion_mn, how='left', on='Owner Mobile No.', indicator=True)

In [ ]:
RWN_Revisit_c8_f_merge2.drop_duplicates(subset = ['Merchant ID'], inplace=True)

In [ ]:
RWN_Revisit_c8_f_merge2.rename(columns={'_merge':'OLD DataSoruce?_MN'}, inplace=True)

In [ ]:
RWN_Revisit_c8_f_merge2['OLD DataSoruce?_MID'].replace('left_only', np.nan, inplace=True)
RWN_Revisit_c8_f_merge2['OLD DataSoruce?_MID'].replace('both', "Yes", inplace=True)
RWN_Revisit_c8_f_merge2['OLD DataSoruce?_MN'].replace('left_only', np.nan, inplace=True)
RWN_Revisit_c8_f_merge2['OLD DataSoruce?_MN'].replace('both', "Yes", inplace=True)

In [ ]:
RWN_Revisit_c8_f_merge2['Match_mid'] = np.nan
RWN_Revisit_c8_f_merge2['Match_mid'].fillna(RWN_Revisit_c8_f_merge2['OLD DataSoruce?_MN'], inplace=True)
RWN_Revisit_c8_f_merge2['Match_mid'].fillna(RWN_Revisit_c8_f_merge2['OLD DataSoruce?_MID'], inplace=True)
RWN_Revisit_c8_f_merge2['Match_mid'].replace(np.nan, 'No', inplace=True)

In [ ]:
RWN_Revisit_c8_f2 = RWN_Revisit_c8_f_merge2[[
    'Merchant ID', 'Match_mid']].rename(columns={'Match_mid':'OLD DataSoruce?'})

In [ ]:
RWN_Revisit_c9 = RWN_Revisit_c8.merge(RWN_Revisit_c8_f2, how = 'left', on = 'Merchant ID')

In [ ]:
RWN_Revisit_c9.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_c9['OLD DataSoruce?'].replace(np.nan, "No", inplace=True)

In [ ]:
RWN_Revisit_c9.shape

In [ ]:
RWN_Revisit_c9.rename(columns={"Segments":"segments"}, inplace=True)

In [ ]:
RWN_Revisit_c10 = RWN_Revisit_c9

In [ ]:
RWN_Revisit_c10.drop_duplicates(subset=['Merchant ID'], inplace=True)

In [ ]:
RWN_Revisit_c10.shape

# Segment (active old)

In [ ]:
RWN_Revisit_c10_f = RWN_Revisit_c10[['Merchant ID', 'OLD DataSoruce?', 'InvalidReasons', 'segments']]

In [ ]:
RWN_Revisit_c10_f.head(1)

In [ ]:
Filter_Yes = RWN_Revisit_c10_f['OLD DataSoruce?'] == 'Yes'

In [ ]:
RWN_Revisit_c10_f2 = RWN_Revisit_c10_f[Filter_Yes]

In [ ]:
RWN_Revisit_c10_f2.shape

In [ ]:
RWN_Revisit_c10_f2.head(1)

In [ ]:
RWN_Revisit_c10_f2['Invalid_NotOnTargetlist'] = RWN_Revisit_c10_f2[
    'InvalidReasons'].str.contains('Invalid_NotOnTargetlist')

In [ ]:
RWN_Revisit_c10_f2.head(1)

In [ ]:
RWN_Revisit_c10_f2['Invalid_NotOnTargetlist'].fillna(False, inplace= True)

In [ ]:
RWN_Revisit_c10_f2['Invalid_NotOnTargetlist'] = RWN_Revisit_c10_f2[
    'Invalid_NotOnTargetlist'].map({True:"active old", False: np.nan})

In [ ]:
RWN_Revisit_c10_f2['segments'].fillna(RWN_Revisit_c10_f2[
    'Invalid_NotOnTargetlist'], inplace = True)

In [ ]:
RWN_Revisit_c10_f3 = RWN_Revisit_c10_f2[['Merchant ID', 'segments']].rename(columns={'segments':'segments_2'})

In [ ]:
RWN_Revisit_c10_merge = RWN_Revisit_c10.merge(RWN_Revisit_c10_f3, how = 'left', on = 'Merchant ID')

In [ ]:
RWN_Revisit_c10_merge.head(1)

In [ ]:
RWN_Revisit_c10_merge['segments'].fillna(RWN_Revisit_c10_merge['segments_2'], inplace = True)

In [ ]:
RWN_Revisit_c11 = RWN_Revisit_c10_merge

In [ ]:
RWN_Revisit_c11.shape

In [ ]:
# Start from here

# Is in Source File?

In [ ]:
RWN_Revisit_c11_f = RWN_Revisit_c11[['Merchant ID', 'Is in Latest Source?' ,'OLD DataSoruce?']]

In [ ]:
RWN_Revisit_c11_f['Is in Latest Source?'] = RWN_Revisit_c11_f[
    'Is in Latest Source?'].map({'No Match':False, 'Match':True})

In [ ]:
RWN_Revisit_c11_f['OLD DataSoruce?'] = RWN_Revisit_c11_f[
    'OLD DataSoruce?'].map({'No':False, 'Yes':True})

In [ ]:
RWN_Revisit_c11_f['Is in Source File?'] = RWN_Revisit_c11_f[
    'Is in Latest Source?'] + RWN_Revisit_c11_f['OLD DataSoruce?']

In [ ]:
RWN_Revisit_c11_f['Is in Source File?'] = RWN_Revisit_c11_f[
    'Is in Source File?'].map({False:'No Match', True:'Match'})

In [ ]:
RWN_Revisit_c11_f_2 = RWN_Revisit_c11_f[['Merchant ID', 'Is in Source File?']]

In [ ]:
RWN_Revisit_c11_merge = RWN_Revisit_c11.merge(RWN_Revisit_c11_f_2, how='left', on = 'Merchant ID')

In [ ]:
RWN_Revisit_c12 = RWN_Revisit_c11_merge

In [ ]:
RWN_Revisit_c12.head(1)

In [ ]:
RWN_Revisit_c12.shape

# On Boarding Date, On Boarding Time and Revisit Time

In [ ]:
RWN_Revisit_c12['On Boarding Date'] = pd.to_datetime(RWN_Revisit_c12['On Boarding Date'])
RWN_Revisit_c12['On Boarding Time'] = pd.to_datetime(RWN_Revisit_c12['On Boarding Time'])

In [ ]:
RWN_Revisit_c12['On Boarding Date'] = RWN_Revisit_c12['On Boarding Date'].dt.strftime('%b-%d-%Y')
RWN_Revisit_c12['On Boarding Time'] = RWN_Revisit_c12['On Boarding Time'].dt.strftime('%-H:%M:%S')

In [ ]:
RWN_Revisit_c12['Revisit Time'] = pd.to_datetime(RWN_Revisit_c12['Revisit Time'])

In [ ]:
RWN_Revisit_c12['Revisit Time'] = RWN_Revisit_c12['Revisit Time'].dt.strftime('%-H:%M:%S')

In [ ]:
RWN_Revisit_c12['Created Date'] = pd.to_datetime(RWN_Revisit_c12['Created Date'])

In [ ]:
RWN_Revisit_c12['Created Date'] = RWN_Revisit_c12['Created Date'].dt.strftime('%b-%-d-%Y %-H:%M:%S')

In [ ]:
RWN_Revisit_c12.shape

In [ ]:
RWN_Revisit_c12.rename(
    columns={'Is the Dynamic Match Valid?':"Is in Dynamic Source Visit Date Valid?"}, inplace=True)

In [ ]:
RWN_Revisit_c16 = RWN_Revisit_c12

In [ ]:
RWN_Revisit_c16.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_c16.head(1)

# Changing Validity for the Active old

In [ ]:
RWN_Revisit_c16_f = RWN_Revisit_c16[['Merchant ID', 'Validity', 'InvalidReasons', 'OLD DataSoruce?']].rename(
    columns={'Validity':'Validity_o'})

In [ ]:
RWN_Revisit_c16_f2 = RWN_Revisit_c16_f[RWN_Revisit_c16_f['OLD DataSoruce?'].isin(['Yes'])]

In [ ]:
RWN_Revisit_c16_f3 = RWN_Revisit_c16_f2[RWN_Revisit_c16_f2['InvalidReasons'].isin(['Invalid_NotOnTargetlist'])]

In [ ]:
RWN_Revisit_c16_f3['Validity_o'].replace('INVALID', 'VALID', inplace=True)

In [ ]:
RWN_Revisit_c16_f4 = RWN_Revisit_c16_f3[['Merchant ID', 'Validity_o']]

In [ ]:
RWN_Revisit_c16.shape

In [ ]:
RWN_Revisit_c16_merge = RWN_Revisit_c16.merge(RWN_Revisit_c16_f4, how='left', on='Merchant ID')

In [ ]:
RWN_Revisit_c16_merge['Validity_o'].fillna(RWN_Revisit_c16_merge['Validity_2'], inplace=True)

In [ ]:
RWN_Revisit_c17 = RWN_Revisit_c16_merge

In [ ]:
RWN_Revisit_c = RWN_Revisit_c17

# Filter out the "Merchant ID" and "Pin Code" in a original Dataframe
# Dulpicate the above Dataframe
# Filter out only the numeric character in the Duplicate Dataframe
# Left Join the original and duplicate Dataframe

In [ ]:
RWN_Revisit_pin_o = RWN_Revisit_c.filter(['Merchant ID','PIN Code'])
RWN_Revisit_pin_d = RWN_Revisit_c.filter(['Merchant ID','PIN Code'])
RWN_Revisit_pin_d2 = RWN_Revisit_pin_d.rename(columns = {
        'PIN Code':'PIN Code_2'})

#### Detect the numeric value

In [ ]:
RWN_Revisit_pin_d2['Pin Code_N'] = RWN_Revisit_pin_d2['PIN Code_2'].str.isnumeric()

#### Filter the numeric value only

In [ ]:
RWN_Revisit_pin_d3 = (RWN_Revisit_pin_d2['Pin Code_N'] != False)

In [ ]:
RWN_Revisit_pin_d4 = RWN_Revisit_pin_d2[RWN_Revisit_pin_d3]
RWN_Revisit_pin_d4.head(2)

#### Left join with the original data

In [ ]:
RWN_Revisit_pin = RWN_Revisit_pin_o.merge(RWN_Revisit_pin_d4, how = 'left' ,on = 'Merchant ID')
RWN_Revisit_pin.head(5)

In [ ]:
RWN_Revisit_pin.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_pin.shape

In [ ]:
RWN_Revisit_pin_2 = RWN_Revisit_pin.filter(['Merchant ID', 'PIN Code_2'])

In [ ]:
RWN_Revisit_pin_2.shape

# Filtering the postal_code and City Name from the Pivot Table 1

In [ ]:
Pivot_table.head(1)

In [ ]:
Pivot_table_f = Pivot_table[['Unnamed: 20', 'Unnamed: 21']]

In [ ]:
Pivot_table_f.columns = Pivot_table_f.iloc[0]

In [ ]:
Pivot_table_f = Pivot_table_f.drop(0)

In [ ]:
Pivot_table_f = Pivot_table_f.dropna()

In [ ]:
Pivot_table_f.rename(columns={'postal_code':'PIN Code_2', 'City Name':'City Name_2'}, inplace=True)

In [ ]:
Pivot_table_f.shape

In [ ]:
Pivot_table_f.head(1)

In [ ]:
Pivot_table_f.dtypes

In [ ]:
Pivot_table_f['PIN Code_2'] = pd.to_numeric(Pivot_table_f['PIN Code_2'])

In [ ]:
RWN_Revisit_pin_2.head(1)

In [ ]:
RWN_Revisit_pin_2['PIN Code_2'] = pd.to_numeric(RWN_Revisit_pin_2['PIN Code_2'])

In [ ]:
RWN_Revisit_pin_2.dtypes

In [ ]:
RWN_Revisit_pin_2_merge = RWN_Revisit_pin_2.merge(Pivot_table_f, on='PIN Code_2', how='left')

In [ ]:
RWN_Revisit_pin_2_merge.drop_duplicates(subset = ['Merchant ID'], inplace = True)

In [ ]:
RWN_Revisit_pin_2 = RWN_Revisit_pin_2_merge

# Replace NaN in Approved Time and Approved Remarks with "NA"

In [ ]:
RWN_Revisit_at_ar = RWN_Revisit_c.fillna({'Approved Time': 'NA', 'Approved Remarks': 'NA'})
RWN_Revisit_at_ar.filter(['Approved Time', 'Approved Remarks']).head(5)

In [ ]:
RWN_Revisit_c.shape

# Index Merchant ID
# Merge all the columns in a single Row
#### Left join the pin code(RWN_Revisit_pin_2) to the main project dataframe

In [ ]:
RWN_Revisit_c_2 = RWN_Revisit_at_ar.merge(RWN_Revisit_pin_2, how = 'left' ,on = 'Merchant ID')

In [ ]:
RWN_Revisit_at_ar.shape

In [ ]:
RWN_Revisit_c_2['City Name_2'].fillna(RWN_Revisit_c_2['City Name'], inplace=True)

In [ ]:
RWN_Revisit_c_3 = RWN_Revisit_c_2.filter(['City Name_2','Merchant ID','Merchant Name', 'Visit Count', 
'Business Category','Owner Mobile No.', 'Follow Up Date', 'PIN Code_2', 'On Boarding Date', 'On Boarding Time',
'On-Boarded Employee Code', 'Visit By', 'Employee Code', 'Role Name', 'POD Name', 'POD ID', 'Employment Type',
'Revisit Date', 'Revisit Time', 'Team Lead Name', 'Remarks', 'Visit Status', 'Approved By', 'Approved Date',
'Approved Time', 'Approved Remarks', 'Reason for not Accepting Payments using G-Pay',
'New Collateral Given : QR Code label', 'New Collateral Given : G-Pay Accepted Sticker',
'New Collateral Given : Dangler', 'QR Code String', 'Not Interested in Gpay Reasons', 'Created By',
'Created Name', 'Created Date', 'Merchant Ext ID', 'google_daily_file', 'CompletedSubTaskTypes',
'Task Count', 'Is in Source File?_x' ,'PreProvisionedQRCount', 'StickerQRCount', 'StandeeQRCount', 
'Validity_o', 'InvalidReasons', 'Is in Latest Source?','segments','OLD DataSoruce?',
'Google Pincode', 'Is in Dynamic Source?','Is in Dynamic Source Visit Date Valid?', 'Report Date', 
'IngestionStatus', 'Report Date', 'Ingestion Date', 'Revisit Expire Date']).rename(
    columns={'InvalidReasons':'Invalid Reason','segments':'Segment','PIN Code_2':'PIN Code',
           "City Name_2":"City Name" ,'Is in Dynamic + Consolidated Source?':'Is in Source File?', 
             'Validity_o':'Validity'})

In [ ]:
RWN_Revisit_c_3['City Name'].replace("Bhopal", "Hyderabad", inplace=True)

#### Index Merchant ID # Test Code

In [ ]:
RWN_Revisit_i = RWN_Revisit_c_3.set_index('City Name')

In [ ]:
len(RWN_Revisit_i)

# Rename Codes

#### Rename the Column to Is in Google Daily File?

In [ ]:
RWN_Revisit_o = RWN_Revisit_i.rename(columns = {'google_daily_file': 'Is in Google Daily File?'})

#### Download the Final File

In [ ]:
RWN_Revisit_o.to_excel('RWN_Revisit_1.xlsx')

# Optimizing Output

In [ ]:
wb = op.load_workbook('RWN_Revisit_1.xlsx')

In [ ]:
ws = wb['Sheet1']

In [ ]:
ws.column_dimensions['A'].width = 12
ws.column_dimensions['B'].width = 12
ws.column_dimensions['C'].width = 12
ws.column_dimensions['D'].width = 12
ws.column_dimensions['E'].width = 12
ws.column_dimensions['F'].width = 12
ws.column_dimensions['G'].width = 12
ws.column_dimensions['H'].width = 12
ws.column_dimensions['I'].width = 12
ws.column_dimensions['J'].width = 12
ws.column_dimensions['K'].width = 12
ws.column_dimensions['L'].width = 12
ws.column_dimensions['M'].width = 12
ws.column_dimensions['N'].width = 12
ws.column_dimensions['O'].width = 12
ws.column_dimensions['P'].width = 12
ws.column_dimensions['Q'].width = 12
ws.column_dimensions['R'].width = 12
ws.column_dimensions['S'].width = 12
ws.column_dimensions['T'].width = 12
ws.column_dimensions['U'].width = 12
ws.column_dimensions['V'].width = 12
ws.column_dimensions['W'].width = 12
ws.column_dimensions['X'].width = 12
ws.column_dimensions['Y'].width = 12
ws.column_dimensions['Z'].width = 12
ws.column_dimensions['AA'].width = 12
ws.column_dimensions['AB'].width = 12
ws.column_dimensions['AC'].width = 12
ws.column_dimensions['AD'].width = 12
ws.column_dimensions['AE'].width = 12
ws.column_dimensions['AF'].width = 12
ws.column_dimensions['AG'].width = 12
ws.column_dimensions['AH'].width = 12
ws.column_dimensions['AI'].width = 12
ws.column_dimensions['AJ'].width = 12
ws.column_dimensions['AK'].width = 12
ws.column_dimensions['AL'].width = 12
ws.column_dimensions['AM'].width = 12
ws.column_dimensions['AN'].width = 12
ws.column_dimensions['AO'].width = 12
ws.column_dimensions['AP'].width = 12
ws.column_dimensions['AQ'].width = 12
ws.column_dimensions['AR'].width = 12
ws.column_dimensions['AS'].width = 14
ws.column_dimensions['AT'].width = 12
ws.column_dimensions['AU'].width = 12
ws.column_dimensions['AV'].width = 12
ws.column_dimensions['AW'].width = 12
ws.column_dimensions['AX'].width = 12
ws.column_dimensions['AY'].width = 12

## Row Height

In [ ]:
ws.row_dimensions[1].height = 50

# Change Font Style

In [ ]:
Rows = Font(name='Arial', bold= False, size = "10")
Heading_Rows = Font(name='Arial', bold= True, size = "10")

In [ ]:
col = RWN_Revisit_o.columns

#### Font change for header

In [ ]:
for j in range(1, (len(col)+2)):
        ws.cell(row=1, column=j).font = Heading_Rows

#### Font change for body

In [ ]:
for i in range(2, (len(RWN_Revisit_o)+2)):
    for j in range(1, (len(col)+2)):
        ws.cell(row=i, column=j).font = Rows

# No Border

In [ ]:
border = Border(left=None, right=None, top=None, bottom=None)

In [ ]:
for i in range(1, (len(RWN_Revisit_o)+2)):
    for j in range(1, (len(col)+2)):
        ws.cell(row=i, column=j).border = border

# Alignment

In [ ]:
body_ali = Alignment(wrap_text=False, horizontal="center", vertical="center")

In [ ]:
head_ali = Alignment(wrap_text=True, shrinkToFit=True, horizontal="center", vertical="center")

In [ ]:
for j in range(1, (len(col)+2)):
        ws.cell(row=1, column=j).alignment = head_ali

In [ ]:
for i in range(2, (len(RWN_Revisit_o)+2)):
    for j in range(2, (len(col)+2)):
        ws.cell(row=i, column=j).alignment = body_ali

# Download File

In [ ]:
wb.save(output_loc+'RWN_Revisit_Final.xlsx')

In [ ]:
RWN_Revisit_raw.head(1)

In [ ]:
RWN_Revisit_c_3.head(1)

In [ ]:
RWN_Revisit_raw = RWN_Revisit_raw[['City Name','Merchant ID','Merchant Name','Visit Count','Business Category',
'Owner Mobile No.','Follow Up Date','PIN Code','On Boarding Date','On Boarding Time','On-Boarded Employee Code',
'Visit By','Employee Code','Role Name','POD Name','POD ID','Employment Type','Revisit Date','Revisit Time',
'Team Lead Name','Remarks','Visit Status','Approved By','Approved Date','Approved Time','Approved Remarks',
'Reason for not Accepting Payments using G-Pay','New Collateral Given : QR Code label',
'New Collateral Given : G-Pay Accepted Sticker','New Collateral Given : Dangler','QR Code String',
'Not Interested in Gpay Reasons','Created By','Created Name','Created Date','Merchant Ext ID',]]

In [ ]:
RWN_Revisit_raw.to_excel(output_loc+'RWM_Revisit_Raw.xlsx', index=False)

In [ ]:
source_file =

# Source file match

In [ ]:
input_loc_source = "/home/dhrubakumardolai/Desktop/Python Test/Target/Source Match/"

In [ ]:
target_file = pd.read_csv(input_loc_source+"target(1).csv")

In [ ]:
target_file['Revisit Date'].fillna(method='bfill', inplace=True)
target_file['Revisit Date'].fillna(method='ffill', inplace=True)

In [ ]:
target_file.head(1)

In [ ]:
target_file.shape

In [ ]:
target_file['Primary_key'] = range(1,(1+len(target_file)))

In [ ]:
Dynamic_source_aug.head(1)

In [ ]:
Source_data_Q1_2022.head(1)

In [ ]:
Source_data_Q2_2022.head(1)

In [ ]:
Source_data_Q1_2022_ingestion.head(1)

In [ ]:
For_matching.head(1)

In [ ]:
Vaco_RV_Q2_2022.head(1)

In [ ]:
Vaco_RV_Q2_2022.shape

### Dynamic Source Match

In [ ]:
Dynamic_source_aug_f = Dynamic_source_aug[['MerchantId', 'Objectives', 'IngestionStatus', 'Report Date', 
                                           'Ingestion Date', 'Revisit Expire Date']]

In [ ]:
Dynamic_source_aug_f.drop_duplicates(subset=['MerchantId'], keep='last', inplace=True)

In [ ]:
Dynamic_source_aug_f.rename(columns={'MerchantId':'MerchantExternalId'}, inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('checkin-nob', "Active", inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('support | stuck_settlements', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | support', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | checkin-nob', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | P0', 'active|P0', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('NULL', np.nan, inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | checkin-nob | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | inactive | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | checkin-nob', 'stuck_settlements', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('active | P0 | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | REVIEW_MERCHANT_EDIT', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | P0 | active', 'PO| active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | credit', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | stuck_settlements', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | stuck_settlements | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | support', 'Support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | active | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | checkin-nob | stuck_settlements | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('P0 | active | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | credit', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob', 'Revisit_Merchant_Edit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | credit | stuck_settlements', 'active|credit ', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | active', 'credit | active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | support | stuck_settlements', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | stuck_settlements', 'stuck_settlements', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | credit', 'active|credit', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('credit | REVIEW_MERCHANT_EDIT', 'credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | credit | REVIEW_MERCHANT_EDIT', 'active | credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | credit', 'active|credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | checkin-nob | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | credit', 'active|credit', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | stuck_settlements | REVIEW_MERCHANT_EDIT', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | stuck_settlements | REVIEW_MERCHANT_EDIT', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | stuck_settlements', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | active | REVIEW_MERCHANT_EDIT | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | active | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | REVIEW_MERCHANT_EDIT | active', 'credit|active', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | support | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | active | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('support | stuck_settlements | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | P0 | checkin-nob | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | checkin-nob | REVIEW_MERCHANT_EDIT | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | active | REVIEW_MERCHANT_EDIT', 'credit|active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | P0 | REVIEW_MERCHANT_EDIT | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | active | P0 | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | active | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | P0 | REVIEW_MERCHANT_EDIT | checkin-nob', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | inactive | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | active | checkin-nob | REVIEW_MERCHANT_EDIT', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('credit | checkin-nob', 'credit', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].replace('support | REVIEW_MERCHANT_EDIT', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | checkin-nob | P0', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('active | REVIEW_MERCHANT_EDIT | stuck_settlements', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | credit | active', 'credit|active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('inactive | REVIEW_MERCHANT_EDIT | stuck_settlements', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | inactive', 'inactive', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | support', 'support', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('checkin-nob | REVIEW_MERCHANT_EDIT | P0 | active', 'active|P0', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('P0 | REVIEW_MERCHANT_EDIT | stuck_settlements', 'P0|stuck_settlements', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('REVIEW_MERCHANT_EDIT | stuck_settlements | active', 'active', inplace=True)
Dynamic_source_aug_f['Objectives'].replace('stuck_settlements | REVIEW_MERCHANT_EDIT | support', 'support', inplace=True)

In [ ]:
Dynamic_source_aug_f['Objectives'].unique()

In [ ]:
Dynamic_source_aug_f['Objectives'] = Dynamic_source_aug_f['Objectives'].str.lower()

In [ ]:
Dynamic_source_aug_f.rename(columns={'Objectives':'Segments'}, inplace=True)

In [ ]:
target_file_dynamic_match = target_file.merge(
    Dynamic_source_aug_f, on='MerchantExternalId', how='left', indicator=True)

In [ ]:
target_file_dynamic_match.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match.rename(columns={'_merge':'Is in Dynamic Source?'}, inplace=True)

In [ ]:
target_file_dynamic_match['Is in Dynamic Source?'] = target_file_dynamic_match[
    'Is in Dynamic Source?'].map({"left_only":"No Match", "right_only":'No Match', 'both':'Match'})

In [ ]:
target_file_dynamic_match["Dynamic Validity"] = target_file_dynamic_match[
    'Is in Dynamic Source?'].map({'Match':"VALID", "No Match":np.nan})

In [ ]:
target_file_dynamic_match['Is in Dynamic Source?_Final'] = target_file_dynamic_match['Is in Dynamic Source?']

# Is in Dynamic Source Visit Date Valid?

In [ ]:
target_file_dynamic_match.head(1)

In [ ]:
target_file_dynamic_match_f = target_file_dynamic_match[['Primary_key', 'IngestionStatus' ,'Revisit Date', 
                                                         'Revisit Expire Date']]

In [ ]:
target_file_dynamic_match_f['Revisit Expire Date'] = pd.to_datetime(target_file_dynamic_match_f[
    'Revisit Expire Date'])
target_file_dynamic_match_f['Revisit Date'] = pd.to_datetime(target_file_dynamic_match_f[
    'Revisit Date'])

In [ ]:
target_file_dynamic_match_f['Revisit Expire Date'] = target_file_dynamic_match_f[
    'Revisit Expire Date'].dt.strftime('%Y/%m/%d')
target_file_dynamic_match_f['Revisit Date'] = target_file_dynamic_match_f[
    'Revisit Date'].dt.strftime('%Y/%m/%d')

In [ ]:
target_file_dynamic_match_f_del = target_file_dynamic_match_f[target_file_dynamic_match_f[
    'IngestionStatus'].isin(["DELETE"])]

In [ ]:
target_file_dynamic_match_f_del.head(1)

In [ ]:
target_file_dynamic_match_f_del.shape

# Check wheather the TaskSubmissionTimestamp > Revisit Expire Date

In [ ]:
target_file_dynamic_match_f_del['Match_if_ED<RD'] = target_file_dynamic_match_f_del[
    'Revisit Expire Date'] >= target_file_dynamic_match_f_del['Revisit Date']

In [ ]:
target_file_dynamic_match_f_del['Match_if_ED<RD'].replace(True,"VALID", inplace=True)

In [ ]:
target_file_dynamic_match_f_del['Match_if_ED<RD'].replace(False,"INVALID", inplace=True)

In [ ]:
target_file_dynamic_match_f_del['Match_Dynamic_Validity'] = target_file_dynamic_match_f_del['Match_if_ED<RD']

In [ ]:
target_file_dynamic_match_f_del2 = target_file_dynamic_match_f_del[['Primary_key', 'Match_Dynamic_Validity']]

In [ ]:
target_file_dynamic_match_merge = target_file_dynamic_match.merge(
    target_file_dynamic_match_f_del2, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge.head(1)

In [ ]:
target_file_dynamic_match_merge['Check_Delete_validity'] = target_file_dynamic_match_merge[
    'Match_Dynamic_Validity'].str.contains(pat='INVALID')

In [ ]:
target_file_dynamic_match_merge['Check_Delete_validity'].replace(False, "Match", inplace=True)
target_file_dynamic_match_merge['Check_Delete_validity'].replace(True, "No Match Dynamic", inplace=True)

In [ ]:
target_file_dynamic_match_merge['Match_Dynamic_Validity'].fillna(target_file_dynamic_match_merge[
    'Dynamic Validity'], inplace=True)

In [ ]:
target_file_dynamic_match_merge.drop(['Dynamic Validity'], axis=1, inplace=True)

In [ ]:
target_file_dynamic_match_merge['Check_Delete_validity'].fillna(target_file_dynamic_match_merge[
    'Is in Dynamic Source?'], inplace=True)

In [ ]:
target_file_dynamic_match_merge.drop(['Is in Dynamic Source?'], axis=1, inplace=True)

In [ ]:
target_file_dynamic_match_merge.rename(columns={"Match_Dynamic_Validity":"Is the Dynamic Match Valid?", 
                                               "Check_Delete_validity":"Is in Dynamic Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge.drop(['Is in Dynamic Source?_Final'], axis=1, inplace=True)

In [ ]:
target_file_dynamic_match_merge['Is in Dynamic Source?_Final'] = np.nan
target_file_dynamic_match_merge['Is in Dynamic Source?_Final'] = target_file_dynamic_match_merge[
    'Is in Dynamic Source?']

# Update the empty segment with the q2 Segment

In [ ]:
target_file_dynamic_match_merge.head(1)

In [ ]:
Source_data_Q2_2022.head(1)

In [ ]:
target_file_dynamic_match_merge_f = target_file_dynamic_match_merge[['StorePhoneNumber', 'MerchantExternalId', 
                                                                     'IngestionStatus', 'Is in Dynamic Source?',
                                                                    'Segments', 'Primary_key']]

In [ ]:
target_file_dynamic_match_merge_f.head(1)

In [ ]:
target_file_dynamic_match_merge_f2 = target_file_dynamic_match_merge_f[~target_file_dynamic_match_merge_f[
    "IngestionStatus"].isin([np.nan])]

In [ ]:
target_file_dynamic_match_merge_f2.head(1)

In [ ]:
Source_data_Q2_2022_mid = Source_data_Q2_2022[[
    'Merchant Ext ID', 'segments']].rename(columns={'Merchant Ext ID':"MerchantExternalId"})

In [ ]:
Source_data_Q2_2022_mn = Source_data_Q2_2022[[
    'Phone Number', 'segments']].rename(columns={'Phone Number':"StorePhoneNumber"})

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid = target_file_dynamic_match_merge_f2.merge(
    Source_data_Q2_2022_mid, on="MerchantExternalId", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid.rename(columns={'_merge':"Dynamic MID in Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn = target_file_dynamic_match_merge_f2_q2_mid.merge(
    Source_data_Q2_2022_mn, on="StorePhoneNumber", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn.rename(columns={'_merge':'Dynamic MN in Source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q2_mid_mn[
    'segments_x'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q2_mid_mn[
    'segments_y'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn.head(1)

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn_f = target_file_dynamic_match_merge_f2_q2_mid_mn[[
    'Primary_key', 'Segments']].rename(columns={'Segments':"New_Segments"})

In [ ]:
target_file_dynamic_match_merge_f2_q2_mid_mn_f.head(1)

In [ ]:
target_file_dynamic_match_merge2 = target_file_dynamic_match_merge.merge(
    target_file_dynamic_match_merge_f2_q2_mid_mn_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge2.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge2['Segments'].fillna(target_file_dynamic_match_merge2['New_Segments'], inplace=True)

In [ ]:
target_file_dynamic_match_merge2.drop(['New_Segments'], axis=1, inplace=True)

# Update the empty segment with the q1 Segment

In [ ]:
target_file_dynamic_match_merge2.head(1)

In [ ]:
Source_data_Q1_2022.head(1)

In [ ]:
Source_data_Q1_2022_mid = Source_data_Q1_2022[[
    'Merchant Ext.ID', 'segments']].rename(columns={"Merchant Ext.ID":'MerchantExternalId'})

In [ ]:
Source_data_Q1_2022_mn = Source_data_Q1_2022[[
    'Phone Number', 'segments']].rename(columns={"Phone Number":'StorePhoneNumber'})

In [ ]:
target_file_dynamic_match_merge2_f = target_file_dynamic_match_merge2[['StorePhoneNumber', 'MerchantExternalId', 
                                                                     'IngestionStatus', 'Is in Dynamic Source?',
                                                                    'Segments', 'Primary_key']]

In [ ]:
target_file_dynamic_match_merge2_f2 = target_file_dynamic_match_merge2_f[~target_file_dynamic_match_merge2_f[
    "IngestionStatus"].isin([np.nan])]

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid = target_file_dynamic_match_merge2_f2.merge(
    Source_data_Q1_2022_mid, on="MerchantExternalId", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid.rename(columns={'_merge':"Dynamic MID in Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn = target_file_dynamic_match_merge_f2_q1_mid.merge(
    Source_data_Q1_2022_mn, on="StorePhoneNumber", how='left', indicator = True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn.rename(columns={'_merge':'Dynamic MN in Source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q1_mid_mn[
    'segments_x'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn['Segments'].fillna(target_file_dynamic_match_merge_f2_q1_mid_mn[
    'segments_y'], inplace=True)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn.head(1)

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn_f = target_file_dynamic_match_merge_f2_q1_mid_mn[[
    'Primary_key', 'Segments']].rename(columns={'Segments':"New_Segments"})

In [ ]:
target_file_dynamic_match_merge_f2_q1_mid_mn_f.head(1)

In [ ]:
target_file_dynamic_match_merge3 = target_file_dynamic_match_merge2.merge(
    target_file_dynamic_match_merge_f2_q1_mid_mn_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge3.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge3['Segments'].fillna(target_file_dynamic_match_merge3['New_Segments'], inplace=True)

In [ ]:
target_file_dynamic_match_merge3.drop(['New_Segments'], axis=1, inplace=True)

# No Match from Dynamic to Q2 Data

### Q2 MID DATA match

In [ ]:
target_file_dynamic_match_merge3.head(1)

In [ ]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3[['StorePhoneNumber', 'MerchantExternalId',
                                                                       'Is in Dynamic Source?']]

In [ ]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3_f[target_file_dynamic_match_merge3_f[
    'Is in Dynamic Source?'].isin(['No Match'])]

In [ ]:
Source_data_Q2_2022_mid.head(1)

In [ ]:
target_file_dynamic_match_merge3_f = target_file_dynamic_match_merge3.merge(
    Source_data_Q2_2022_mid, on="MerchantExternalId", how="left", indicator = True)

In [ ]:
target_file_dynamic_match_merge3_f.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f.rename(columns={'_merge':'Is the mid q2 source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f.rename(columns={'segments':'Q2 Segments'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f['Is the mid q2 source?'].unique()

In [ ]:
target_file_dynamic_match_merge3_f['Is the mid q2 source?'] = target_file_dynamic_match_merge3_f[
    'Is the mid q2 source?'].map({'left_only':"No Match",'right_only':"No Match",'both':"Match"})

### Filling the No Match from Dynamic with the Is the mid q2 source?

In [ ]:
target_file_dynamic_match_merge3_f["Is in Dynamic Source?"].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge3_f[
    "Is the mid q2 source?"], inplace=True)

In [ ]:
target_file_dynamic_match_merge3_f['Segments'].fillna(target_file_dynamic_match_merge3_f[
    "Q2 Segments"], inplace=True)

### Q2 MN DATA match

In [ ]:
Source_data_Q2_2022_mn.head(1)

In [ ]:
target_file_dynamic_match_merge3_f.head(1)

In [ ]:
target_file_dynamic_match_merge3_f2 = target_file_dynamic_match_merge3_f[['StorePhoneNumber', 'MerchantExternalId',
                                                                       'Is in Dynamic Source?', 'Primary_key']]

In [ ]:
target_file_dynamic_match_merge3_f3 = target_file_dynamic_match_merge3_f2[target_file_dynamic_match_merge3_f2[
    'Is in Dynamic Source?'].isin(['No Match'])]

In [ ]:
Source_data_Q2_2022_mn.head(1)

In [ ]:
target_file_dynamic_match_merge4_f = target_file_dynamic_match_merge3_f3.merge(
    Source_data_Q2_2022_mn, on="StorePhoneNumber", how="left", indicator = True)

In [ ]:
target_file_dynamic_match_merge4_f.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge4_f.rename(columns={'_merge':'Is the mn q2 source?'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge4_f.rename(columns={'segments':'Q2 MN Segments'}, inplace=True)

In [ ]:
target_file_dynamic_match_merge4_f['Is the mn q2 source?'].unique()

In [ ]:
target_file_dynamic_match_merge4_f['Is the mn q2 source?'] = target_file_dynamic_match_merge4_f[
    'Is the mn q2 source?'].map({'left_only':"No Match",'right_only':"No Match",'both':"MN Match"})

In [ ]:
target_file_dynamic_match_merge4_f2 = target_file_dynamic_match_merge4_f[["Primary_key", 'Q2 MN Segments',
                                                                          'Is the mn q2 source?']]

In [ ]:
target_file_dynamic_match_merge5_f2 = target_file_dynamic_match_merge3_f.merge(
    target_file_dynamic_match_merge4_f2, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge5_f2.drop_duplicates(subset=['Primary_key'], inplace=True)

### Filling the No Match from Dynamic with the Is the mid q2 source?

In [ ]:
target_file_dynamic_match_merge5_f2["Is in Dynamic Source?"].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge5_f2['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge5_f2[
    "Is the mn q2 source?"], inplace=True)

In [ ]:
target_file_dynamic_match_merge5_f2['Segments'].fillna(target_file_dynamic_match_merge5_f2[
    "Q2 MN Segments"], inplace=True)

In [ ]:
target_file_dynamic_match_merge5_f2.head(1)

In [ ]:
Source_data_Q1_2022.head(1)

# No Match from Dynamic to Q1 Data

### Q1 MID Data Match

In [ ]:
target_file_dynamic_match_merge5_f3 = target_file_dynamic_match_merge5_f2[['StorePhoneNumber',
                                'MerchantExternalId', 'Is in Dynamic Source?', 'Primary_key']]

In [ ]:
Source_data_Q1_2022_mid.head(1)

In [ ]:
target_file_dynamic_match_merge5_f4 = target_file_dynamic_match_merge5_f3[target_file_dynamic_match_merge5_f3[
    "Is in Dynamic Source?"].isin(['No Match'])]

In [ ]:
target_file_dynamic_match_merge5_f4.head(1)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge = target_file_dynamic_match_merge5_f4.merge(
    Source_data_Q1_2022_mid, on='MerchantExternalId', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.rename(columns={'_merge':"Is MID in Q1 Source?"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge['Is MID in Q1 Source?'].unique()

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge['Is MID in Q1 Source?'] = target_file_dynamic_match_merge6_q1_mid_merge[
    'Is MID in Q1 Source?'].map({'left_only':"No Match",'right_only':"No Match", 'both':'Match'})

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.rename(columns={"segments":"q1 segments"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_merge.head(1)

### Q1 MN Data Match

In [ ]:
Source_data_Q1_2022_mn.head(1)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge = target_file_dynamic_match_merge6_q1_mid_merge.merge(
Source_data_Q1_2022_mn, on='StorePhoneNumber', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge.rename(columns={"_merge":"Is MN in Q1 Source?", 
                                                                 "segments":"q1 mn segments"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge[
    'Is MN in Q1 Source?'] = target_file_dynamic_match_merge6_q1_mid_mn_merge[
    'Is MN in Q1 Source?'].map({"left_only":"No Match",'right_only':"No Match", 'both':'MN Match'})

In [ ]:
target_file_dynamic_match_merge6_q1_mid_mn_merge_f = target_file_dynamic_match_merge6_q1_mid_mn_merge[[
    "Primary_key", "q1 segments", "Is MID in Q1 Source?", "q1 mn segments", "Is MN in Q1 Source?"]]

In [ ]:
target_file_dynamic_match_merge6 = target_file_dynamic_match_merge5_f2.merge(
    target_file_dynamic_match_merge6_q1_mid_mn_merge_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge6.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].replace("No Match", np.nan, inplace=True)
target_file_dynamic_match_merge6['Is MID in Q1 Source?'].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge6[
    'Is MID in Q1 Source?'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Is in Dynamic Source?'].fillna(target_file_dynamic_match_merge6[
    'Is MN in Q1 Source?'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Segments'].fillna(target_file_dynamic_match_merge6[
    'q1 segments'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6['Segments'].fillna(target_file_dynamic_match_merge6[
    'q1 mn segments'], inplace=True)

# Matching the no match with the for matching file

In [ ]:
For_matching2 = For_matching.rename(columns={"Phone Number":"StorePhoneNumber", 
                             "Merchant Ext.ID":"MerchantExternalId"})

In [ ]:
For_matching2.head(1)

In [ ]:
For_matching2_mid = For_matching2[['MerchantExternalId']]
For_matching2_mn = For_matching2[['StorePhoneNumber']]

In [ ]:
target_file_dynamic_match_merge6_f = target_file_dynamic_match_merge6[target_file_dynamic_match_merge6[
    "Is in Dynamic Source?"].isin(['No Match'])]

In [ ]:
target_file_dynamic_match_merge6_f2 = target_file_dynamic_match_merge6_f[["StorePhoneNumber", "MerchantExternalId",
                            "Revisit Date", 'Validity','Invalid Reson', 'Task Count', 'Primary_key', 
                         'Is in Dynamic Source?']]

In [ ]:
target_file_dynamic_match_merge6_f2_mid_merge = target_file_dynamic_match_merge6_f2.merge(For_matching2_mid,
                                    on='MerchantExternalId', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_merge.rename(columns={'_merge':"Is the MID in For Matching"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge = target_file_dynamic_match_merge6_f2_mid_merge.merge(
    For_matching2_mn, on='StorePhoneNumber', how='left', indicator=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge.rename(
    columns={'_merge':"Is the MN in For Matching"}, inplace=True)

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MID in For Matching'] = target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MID in For Matching'].map({"left_only":"No Match", "right_only":"No Match", "both":"Match"})
target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MN in For Matching'] = target_file_dynamic_match_merge6_f2_mid_mn_merge[
    'Is the MN in For Matching'].map({"left_only":"No Match", "right_only":"No Match", "both":"MN Match"})

In [ ]:
target_file_dynamic_match_merge6_f2_mid_mn_merge_f = target_file_dynamic_match_merge6_f2_mid_mn_merge[[
    "Primary_key", 'Is the MID in For Matching', "Is the MN in For Matching"]]

In [ ]:
target_file_dynamic_match_merge7 = target_file_dynamic_match_merge6.merge(
    target_file_dynamic_match_merge6_f2_mid_mn_merge_f, on="Primary_key", how='left')

In [ ]:
target_file_dynamic_match_merge7.drop_duplicates(subset=['Primary_key'], inplace=True)

# Cheating Columns Is in Source File based on Merchant Ext ID? & Is in Source File based on Merchant Mobile Number?

In [ ]:
target_file_dynamic_match_merge7["Is the mid q2 source?"].replace("No Match", np.nan, inplace=True)
target_file_dynamic_match_merge7["Is the mn q2 source?"].replace("No Match", np.nan, inplace=True)

In [ ]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'] = np.nan
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'] = np.nan

In [ ]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is the mid q2 source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is MID in Q1 Source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Ext ID?'].fillna(
    target_file_dynamic_match_merge7['Is the MID in For Matching'], inplace=True)

In [ ]:
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is the mn q2 source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is MN in Q1 Source?'], inplace=True)
target_file_dynamic_match_merge7['Is in Source File based on Merchant Mobile Number?'].fillna(
    target_file_dynamic_match_merge7['Is the MN in For Matching'], inplace=True)

In [ ]:
target_file_dynamic_match_merge7[
    'Is in Source File based on Merchant Ext ID?'].replace(np.nan, "No Match", inplace=True)
target_file_dynamic_match_merge7[
    'Is in Source File based on Merchant Mobile Number?'].replace(np.nan, "No Match", inplace=True)

# Filling the empty segment with Vaco_RV_Q2_2022

In [ ]:
Vaco_RV_Q2_2022.head(1)

In [ ]:
target_file_dynamic_match_merge7_f = target_file_dynamic_match_merge7[['StorePhoneNumber', 'Primary_key', 
                                                                       "Is in Dynamic Source?"]]

In [ ]:
target_file_dynamic_match_merge7_1 = target_file_dynamic_match_merge7_f[target_file_dynamic_match_merge7_f[
    "Is in Dynamic Source?"].isin(['Match', "MN Match"])]

In [ ]:
target_file_dynamic_match_merge7_1.head(1)

In [ ]:
target_file_dynamic_match_merge7_1['Is in Dynamic Source?'].unique()

In [ ]:
Vaco_RV_Q2_2022.rename(columns={"Owner Mobile No.":"StorePhoneNumber"}, inplace=True)

In [ ]:
Vaco_RV_Q2_2022['StorePhoneNumber'] = pd.to_numeric(Vaco_RV_Q2_2022['StorePhoneNumber'])

In [ ]:
target_file_dynamic_match_merge7_2 = target_file_dynamic_match_merge7_1.merge(
    Vaco_RV_Q2_2022, on="StorePhoneNumber", how="left")

In [ ]:
target_file_dynamic_match_merge7_2_f = target_file_dynamic_match_merge7_2[['Primary_key', 'segments_vaco_mn']]

In [ ]:
target_file_dynamic_match_merge8 = target_file_dynamic_match_merge7.merge(
    target_file_dynamic_match_merge7_2_f, on='Primary_key', how='left')

In [ ]:
target_file_dynamic_match_merge8.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
target_file_dynamic_match_merge8['Segments'].fillna(target_file_dynamic_match_merge8[
    'segments_vaco_mn'], inplace=True)

In [ ]:
Is_in_source = target_file_dynamic_match_merge8[['StorePhoneNumber', 
                                  'MerchantExternalId', 'Revisit Date', 'Validity', 
                                'Invalid Reson', 'Task Count', 'Segments', 'IngestionStatus', 'Report Date', 
                                  'Ingestion Date', 'Revisit Expire Date','Is in Dynamic Source?_Final', 
                                  'Is the Dynamic Match Valid?', 'Is in Dynamic Source?', 
'Is in Source File based on Merchant Ext ID?', 'Is in Source File based on Merchant Mobile Number?',
                                                "Primary_key"]].rename(
    columns={"Is in Dynamic Source?": "Is in Source File?", 'Is in Dynamic Source?_Final':"Is in Dynamic Source?"})

In [ ]:
Is_in_source.to_csv(output_loc+"is_in_source_match.csv", index=False)

In [ ]:
Is_in_source_f = Is_in_source[["StorePhoneNumber","MerchantExternalId", "Primary_key","Is in Source File?" ]]

In [ ]:
Source_data_Q1_2022_MID_MN = Source_data_Q1_2022[['Phone Number', 'Merchant Ext.ID']].rename(
    columns={'Phone Number':"StorePhoneNumber",'Merchant Ext.ID':"MerchantExternalId_q1"})

In [ ]:
Source_data_Q2_2022_MID_MN = Source_data_Q2_2022.rename(
    columns={'Phone Number':"StorePhoneNumber",'Merchant Ext ID':"MerchantExternalId_q2"})

In [ ]:
Is_in_source_f2 = Is_in_source_f[Is_in_source_f["Is in Source File?"].isin(['MN Match'])]

In [ ]:
Is_in_source_f2_merge = Is_in_source_f2.merge(Source_data_Q2_2022_MID_MN, on='StorePhoneNumber', how='left')

In [ ]:
Is_in_source_f2_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
Is_in_source_f2_merge2 = Is_in_source_f2_merge.merge(Source_data_Q1_2022_MID_MN, on='StorePhoneNumber', how='left')

In [ ]:
Is_in_source_f2_merge2.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
Is_in_source_f2_merge2['MerchantExternalId_q2'].fillna(Is_in_source_f2_merge2[
    'MerchantExternalId_q1'], inplace=True)

In [ ]:
Is_in_source_f2_merge2.rename(columns={'MerchantExternalId_q2':"Source_MID"}, inplace=True)

In [ ]:
Is_in_source_f2_merge2_f = Is_in_source_f2_merge2[["Primary_key", 'Source_MID']]

In [ ]:
Is_in_source_merge = Is_in_source.merge(Is_in_source_f2_merge2_f, on="Primary_key", how='left')

In [ ]:
Is_in_source_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [ ]:
Is_in_source_merge['Revisit Date'] = pd.to_datetime(Is_in_source_merge['Revisit Date'])

In [ ]:
Is_in_source_merge['Revisit Date'] = Is_in_source_merge['Revisit Date'].dt.strftime('%d/%b/%Y')

In [ ]:
Is_in_source_merge.to_csv(output_loc+"Source_MID.csv", index=False)

In [ ]:
Stop =

# Extra

In [633]:
input_loc_check = "/home/dhrubakumardolai/Desktop/Python Test/Target/Check/"

In [634]:
target_file = pd.read_csv(input_loc_check+"Segment2.csv")

In [635]:
target_file.head(1)

    Merchant_Ext_ID  Phone_Number
0  BCR2DN6TSOCPLYCA    8447899182

In [636]:
target_file.rename(columns={'Merchant_Ext_ID':'Merchant Ext.ID', 'Phone_Number':'Phone Number'}, inplace=True)

In [637]:
target_file_mid = target_file[['Merchant Ext.ID']]
target_file_mn = target_file[['Phone Number']]

In [638]:
match = Source_data_Q1_2022_segment2

In [639]:
match['Primary_key'] = range(1,1+len(match))

In [640]:
match.head(1)

,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Merchant Ext.ID,Last Transaction date,Gpay OB E-mail,segments,_merge,Primary_key
0,Riyaz Tent House,7.842958e+09,"Abdullapur Met Kawadipalli Road,Abdullapurmet",501505.0,17.311496,78.686985,Hyderabad,Google Hyderabad Polygon,22585.0,BCR2DN6T37TON5AV,27-12-2021,rehanmohammad1528@gmail.com,active,both,1

In [641]:
match.drop(['_merge'], axis=1, inplace=True)

In [642]:
match_mid_merge = match.merge(target_file_mid, on='Merchant Ext.ID', how='left',indicator=True)

In [643]:
match_mid_merge.drop_duplicates(subset=['Primary_key'], inplace=True)

In [644]:
match_mid_merge['_merge'].unique()

['both', 'left_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [645]:
match_mid_merge2 = match_mid_merge[match_mid_merge["_merge"].isin(['left_only'])]

In [646]:
match_mid_merge2.to_csv(output_loc+'Remaining_Segment2.csv', index=False)

In [647]:
match_mid_merge2.shape

(10632, 15)