In [1]:
import pandas as pd
import os
import numpy as np
import xlsxwriter as xw
import re
import warnings
warnings.filterwarnings('ignore')
import openpyxl as op
from openpyxl import Workbook, load_workbook
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font
from pathlib import Path
import glob

In [2]:
input_loc = "/home/dhrubakumardolai/Desktop/Python Test/Result/Revisit File/Nov/"
output_loc = "/home/dhrubakumardolai/Desktop/Python Test/Rahul/Payout/Result/Payout Consolidation/"

In [3]:
input_loc_tv_city = "/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/"

In [4]:
input_loc_OB = "/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/"

In [5]:
input_loc_june_to_oct = "/home/dhrubakumardolai/Desktop/Python Test/Rahul/Task File Rahul Sir/June to Aug Match/Target/"

In [6]:
input_loc_outcome = "/home/dhrubakumardolai/Desktop/Python Test/Rahul/Task File Rahul Sir/Outcome Check Date Wise/Target/Outcome/Nov/"

In [7]:
input_loc_OB_Google = "/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/"

# Target Date Range

In [8]:
current_date = ["Nov-29-2022", "Nov-30-2022"]

In [9]:
current_month_ob = "2022-11-01"
last_month_ob = "2022-11-30"

In [10]:
current_month = "Nov"

In [11]:
current_year = 2022

In [12]:
date_1 = range(1,10)

In [13]:
date_2 = range(10,17)

In [14]:
Date = []
for i in date_1:
    i = str(current_month)+"-"+str(0)+str(i)+"-"+str(current_year)
    Date.append(i)

In [15]:
for i in date_2:
    i = str(current_month)+"-"+str(i)+"-"+str(current_year)
    Date.append(i)

# Is in Previous Revisit

In [16]:
input_loc_google = input_loc_june_to_oct+"/Google/"
input_loc_rwm = input_loc_june_to_oct+"/RWM/"

#### Google

In [17]:
filelist = glob.glob(input_loc_google+'/**/*', recursive=True)

In [18]:
google_revisit = pd.DataFrame()

for file in filelist:
    if file.endswith(".csv"):
        df = pd.read_csv(file)
        google_revisit = google_revisit.append(df)

In [19]:
google_revisit_f = google_revisit[google_revisit['Validity'].isin(['VALID'])]

In [20]:
google_revisit_f2 = google_revisit_f[['MerchantExternalId', 'Date']]

In [21]:
google_revisit_f2['Date'] = pd.to_datetime(google_revisit_f2['Date'])
google_revisit_f2['Date'] = google_revisit_f2['Date'].dt.strftime("%b-%d-%Y")

In [22]:
google_revisit_f2.head(1)

  MerchantExternalId         Date
0   BCR2DN4T2C32B6QM  Aug-01-2022

In [23]:
google_revisit_f2.drop_duplicates(subset=['MerchantExternalId'], keep='last', inplace=True)

#### RWM

In [24]:
filelist2 = glob.glob(input_loc_rwm+'/**/*', recursive=True)

In [25]:
rwm_revisit = pd.DataFrame()

for file in filelist2:
    if file.endswith(".csv"):
        df = pd.read_csv(file)
        rwm_revisit = rwm_revisit.append(df)

In [26]:
rwm_revisit = rwm_revisit[rwm_revisit['Validity'].isin(['VALID'])]

In [27]:
rwm_revisit_f = rwm_revisit[['Merchant Ext ID', 'Revisit Date']]

In [28]:
rwm_revisit_f.rename(columns={'Merchant Ext ID':'MerchantExternalId'}, inplace=True)

In [29]:
rwm_revisit_f['Revisit Date'] = pd.to_datetime(rwm_revisit_f['Revisit Date'])
rwm_revisit_f['Revisit Date'] = rwm_revisit_f['Revisit Date'].dt.strftime("%b-%d-%Y")

In [30]:
rwm_revisit_f.head(1)

  MerchantExternalId Revisit Date
7   BCR2DN6TY7F7LGDZ  Aug-01-2022

In [31]:
rwm_revisit_f.drop_duplicates(subset=['MerchantExternalId'], keep='last', inplace=True)

# Team View City

In [32]:
filelist = glob.glob(input_loc_tv_city+"/**/*.csv", recursive=True)

['/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_26.11.2022_09.22.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_15.11.2022_09.59.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_22.11.2022_10.05.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_01.11.2022_09.56.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_28.11.2022_10.14.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_02.11.2022_10.03.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_09.11.2022_09.45.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_07.11.2022_09.56.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_04.11.2022_09.45.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_16.11.2022_10.08.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_03.11.2022_09.30.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_05.11.2022_09.08.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_18.11.2022_10.28.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_24.11.2022_09.45.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_23.11.2022_10.03.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_30.11.2022_09.56.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_08.11.2022_09.36.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_25.11.2022_10.04.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_12.11.2022_09.12.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_11.11.2022_09.56.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_19.11.2022_09.06.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_10.11.2022_10.10.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_17.11.2022_10.22.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Target/Mini/Latest Team View File/Nov/Team View_29.11.2022_10.15.csv']

In [33]:
TV_city = pd.DataFrame()

for file in filelist:
    if file.endswith('.csv'):
        df = pd.read_csv(file)
        TV_city = TV_city.append(df)

In [34]:
TV_city_f = TV_city[["Employee Code","Employee Name", 'Mobile Number', 'City', 'Role', 'POD Code']]

In [35]:
TV_city_f.head(1)

   Employee Code Employee Name  Mobile Number     City  Role  POD Code
0          83551       CHILD 1     9182550441  Cudappa   FSE       NaN

# Google File

In [36]:
input_loc_g = input_loc+"Google/Consolidated/"

In [37]:
Google_re = pd.read_csv(input_loc_g+'Google_consolidated.csv')

In [38]:
Google_re.sort_values(by=['sno'], inplace=True)

In [39]:
Google_re.shape

(180532, 44)

# RWM File

In [40]:
input_loc_r = input_loc+"RWM/Consolidated/"

In [41]:
RWM_re = pd.read_csv(input_loc_r+'RWM_consolidated.csv')

In [42]:
RWM_re.sort_values(by=['sno'], inplace=True)

In [43]:
RWM_re.shape

(190655, 58)

# Google OB

In [44]:
current_month_ob

'2022-11-01'

In [45]:
last_month_ob

'2022-11-30'

In [46]:
filelist = glob.glob(input_loc_OB+"**/*.csv", recursive = True)

['/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/19-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/05-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/15-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/24-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/07-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/25-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/11-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/27-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/13-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/22-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/08-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/06-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/02-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/01-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/26-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/20-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/14-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/10-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/18-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/23-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/16-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/17-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/09-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/29-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/03-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/12-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/28-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/21-Nov-2022.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Rahul/Is in OB?/Target/latest ob/Nov/04-Nov-2022.csv']

In [48]:
google_ob = pd.DataFrame()

for file in filelist:
    if file.endswith(".csv"):
        df = pd.read_csv(file)
        google_ob = google_ob.append(df)

In [49]:
google_ob.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,VerificationTimestamp,AgentEmail,MerchantExternalId,Validity,InvalidReason,QRCount,StickerQRCount,StandeeQRCount
0,SUBHAM,Gurugram,122017,9760006551,19-Nov-2022 11:03:01,19-Nov-2022 11:12:32,del.64457.vbs@gpayfos.com,BCR2DN4TWTCZNAYZ,INVALID,DUPLICATE_VERIFICATION,1,0,1

In [50]:
google_ob.drop_duplicates(subset=['MerchantExternalId'], keep='last' ,inplace=True)

In [51]:
google_ob['VerificationTimestamp'] = pd.to_datetime(google_ob['VerificationTimestamp'])

In [52]:
google_ob['VerificationTimestamp'] = google_ob['VerificationTimestamp'].dt.strftime("%b-%d-%Y")

In [53]:
google_ob['VerificationTimestamp'].fillna(method='bfill', inplace=True)
google_ob['VerificationTimestamp'].fillna(method='ffill', inplace=True)

In [54]:
google_ob = google_ob[google_ob['VerificationTimestamp'].str.contains(current_month)]

In [55]:
google_ob.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,VerificationTimestamp,AgentEmail,MerchantExternalId,Validity,InvalidReason,QRCount,StickerQRCount,StandeeQRCount
0,SUBHAM,Gurugram,122017,9760006551,19-Nov-2022 11:03:01,Nov-19-2022,del.64457.vbs@gpayfos.com,BCR2DN4TWTCZNAYZ,INVALID,DUPLICATE_VERIFICATION,1,0,1

In [56]:
google_ob_f = google_ob[['MerchantExternalId', 'VerificationTimestamp', 'Validity']]

In [57]:
google_ob_f['VerificationTimestamp'] = pd.to_datetime(google_ob_f['VerificationTimestamp'])

In [58]:
google_ob_f['VerificationTimestamp'] = google_ob_f['VerificationTimestamp'].dt.strftime("%b-%d-%Y")

In [59]:
google_ob_f.head(1)

  MerchantExternalId VerificationTimestamp Validity
0   BCR2DN4TWTCZNAYZ           Nov-19-2022  INVALID

In [60]:
google_ob_f_mn = google_ob[['StorePhoneNumber', 'VerificationTimestamp', 'Validity']].rename(
    columns={"VerificationTimestamp":'VerificationTimestamp_mn', 'Validity':'Validity_mn'})

# Google csv OB File

In [61]:
filelist = glob.glob(input_loc_OB_Google+"**/*/onboardings/data.csv",recursive = True)

In [62]:
filelist

['/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/06/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/28/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/26/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/01/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/22/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/10/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/12/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/18/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/19/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/24/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/11/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/25/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/21/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/05/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/17/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/09/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/02/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/16/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/08/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/27/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/15/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/23/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/20/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/03/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/13/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/04/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/14/onboardings/data.csv',
 '/home/dhrubakumardolai/Desktop/Python Test/Revisit File/Google Revisit/2022/11/07/onboardings/data.csv']

In [63]:
google_csv_ob = pd.DataFrame()

for file in filelist:
    if file.endswith(".csv"):
        df = pd.read_csv(file)
        google_csv_ob = google_csv_ob.append(df)

In [64]:
google_csv_ob.head(1)

,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,VerificationTimestamp,AgentEmail,MerchantEmail,MerchantExternalId,Validity,InvalidReason,QRCount,StickerQRCount,StandeeQRCount,OnboardingsFromSamePhoneNumber,GmbOptIn,GmbVerification
0,Papan Cosmetic Gift House,Kolkata,700128.0,9.674532e+09,06-Nov-2022 11:08:02,06-Nov-2022 11:10:53,klk.69253.vbs@gpayfos.com,krishnaghosh576@gmail.com,BCR2DN4T2SUPZ7Y3,VALID,INVALID_REASON_UNSPECIFIED,3.0,2.0,1.0,NaN,True,True

In [65]:
google_csv_ob_f = google_csv_ob[['MerchantExternalId', 'StorePhoneNumber', 'VerificationTimestamp']]

In [66]:
google_csv_ob_f.sort_values(by='VerificationTimestamp', inplace=True)

In [67]:
google_csv_ob_f['VerificationTimestamp'].fillna(method='bfill', inplace=True)
google_csv_ob_f['VerificationTimestamp'].fillna(method='ffill', inplace=True)

In [68]:
google_csv_ob_f = google_csv_ob_f[google_csv_ob_f['VerificationTimestamp'].str.contains(current_month)]

In [69]:
google_csv_ob_f.drop_duplicates(subset=['MerchantExternalId'], keep = 'last', inplace=True)

In [70]:
google_csv_ob_f.head(1)

     MerchantExternalId  StorePhoneNumber VerificationTimestamp
4258   BCR2DN4TSSS2NFYL      9.635289e+09  01-Nov-2022 07:19:59

# Changing date format

In [71]:
Google_re.head(1)

,sno,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,...,NewtoGMB,Is in Old Source?,OLD Valid,Segments,Is in Dynamic Source?,Is in Dynamic Source Visit Date Valid?,Revisit Expire Date,Dynamic IngestionStatus,Dynamic Ingestion Date,Primary_key
0,1,R S Paints And Hardware,Akola,444101,8381097116,5/19/2022 19:42:7,11/1/2022 15:59:58,BCR2DN4T2C2KVQ2C,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, CA...",1.0,...,0.0,No,NaN,inactive - inr 40 extra pay on txn,Match,VALID,NaN,ADD,21-Oct-2022,5407

In [72]:
RWM_re.head(1)

,sno,City Name,Merchant ID,Merchant Name,Visit Count,Business Category,Owner Mobile No.,Follow Up Date,PIN Code,On Boarding Date,...,OLD DataSoruce?,Google Pincode,Is in Dynamic Source?,Is in Dynamic Source Visit Date Valid?,Report Date,IngestionStatus,Report Date.1,Ingestion Date,Revisit Expire Date,Primary_key
0,1,Pune,8252706,Ranjangaon road Sai Shop,2.0,Attractions & entertainment,9579920335,NaN,412209.0,Oct-23-2022,...,No,412209.0,Match,VALID,28-Oct-2022,ADD,28-Oct-2022,28-Oct-2022,NaN,173721

In [73]:
google_csv_ob_f.head(1)

     MerchantExternalId  StorePhoneNumber VerificationTimestamp
4258   BCR2DN4TSSS2NFYL      9.635289e+09  01-Nov-2022 07:19:59

In [74]:
RWM_re["Revisit Date"] = pd.to_datetime(RWM_re["Revisit Date"])

In [75]:
RWM_re["Revisit Date"] = RWM_re["Revisit Date"].dt.strftime("%b-%d-%Y")

In [76]:
Google_re['TaskSubmissionTimestamp'] = pd.to_datetime(Google_re["TaskSubmissionTimestamp"])

In [77]:
Google_re['TaskSubmissionTimestamp'] = Google_re["TaskSubmissionTimestamp"].dt.strftime("%b-%d-%Y")

In [78]:
google_csv_ob_f['VerificationTimestamp'] = pd.to_datetime(google_csv_ob_f['VerificationTimestamp'])

In [79]:
google_csv_ob_f['VerificationTimestamp'] = google_csv_ob_f['VerificationTimestamp'].dt.strftime("%b-%d-%Y")

# Preparation for the RWM File

In [80]:
RWM_re['TV City'] = np.nan
RWM_re['Payout Status'] = np.nan
RWM_re['Payout Invalid Reason'] = np.nan
RWM_re['OB Date Check'] = np.nan
RWM_re['Outcome Status'] = np.nan
RWM_re['Is in Previous Month Payout'] = np.nan
RWM_re['Source MID'] = np.nan
RWM_re['Source MID Match Check'] = np.nan
RWM_re['Ext_ID Dup?'] = np.nan
RWM_re['Merchant_ID_Dup'] = np.nan
RWM_re['Is in OB CSV file? MID'] = np.nan
RWM_re['Is in OB CSV file? MN'] = np.nan
RWM_re['OB Date'] = np.nan
RWM_re['Phone_Dup?'] = np.nan
RWM_re['Data Tag'] = "RWM"
RWM_re['Is in Previous Month Payout Date'] = np.nan
RWM_re['Final Payout'] = np.nan

# Matching the with Team View City and Fill the blank Team View City

In [81]:
RWM_re_tv = RWM_re[['sno', 'Employee Code']]

In [82]:
RWM_re_tv_merge = RWM_re_tv.merge(TV_city_f, on='Employee Code')

In [83]:
RWM_re_tv_merge.drop_duplicates(subset=['sno'], inplace=True)

In [84]:
RWM_re_tv_merge_f = RWM_re_tv_merge[['sno', 'City']]

In [85]:
RWM_re_merge = RWM_re.merge(RWM_re_tv_merge_f, on='sno', how='left')

In [86]:
RWM_re_merge.drop_duplicates(subset=['sno'], inplace=True)

In [87]:
RWM_re_merge['TV City'].fillna(RWM_re_merge['City'], inplace=True)

# Is in OB csv file? and fill the blank Is in OB csv file? MID and fill the blank Is in OB csv file? MN

In [88]:
google_ob_f.head(1)

  MerchantExternalId VerificationTimestamp Validity
0   BCR2DN4TWTCZNAYZ           Nov-19-2022  INVALID

In [89]:
google_ob_f.rename(columns={'MerchantExternalId':"Merchant Ext ID"}, inplace=True)

In [90]:
google_ob_f_mn.head(1)

   StorePhoneNumber VerificationTimestamp_mn Validity_mn
0        9760006551              Nov-19-2022     INVALID

In [91]:
google_ob_f_mn.rename(columns={'StorePhoneNumber':"Owner Mobile No."}, inplace=True)

In [92]:
RWM_re_merge.head(1)

,sno,City Name,Merchant ID,Merchant Name,Visit Count,Business Category,Owner Mobile No.,Follow Up Date,PIN Code,On Boarding Date,...,Source MID Match Check,Ext_ID Dup?,Merchant_ID_Dup,Is in OB CSV file? MID,Is in OB CSV file? MN,OB Date,Phone_Dup?,Data Tag,Is in Previous Month Payout Date,City
0,1,Pune,8252706,Ranjangaon road Sai Shop,2.0,Attractions & entertainment,9579920335,NaN,412209.0,Oct-23-2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,NaN,Pune

In [93]:
RWM_re_merge_f = RWM_re_merge[['Merchant Ext ID', "Owner Mobile No.", "Is in OB CSV file? MID", 
'Is in OB CSV file? MN', 'OB Date', 'sno']].rename(columns={"Is in OB CSV file? MID":"Is in OB CSV file? MID_New",
'Is in OB CSV file? MN':'Is in OB CSV file? MN_new'})

In [94]:
RWM_re_merge_f['Merchant Ext ID'].replace(np.nan, "Empty", inplace=True)

In [95]:
RWM_re_merge_f_merge_mid = RWM_re_merge_f.merge(google_ob_f, on='Merchant Ext ID', how='left', indicator=True)

In [96]:
RWM_re_merge_f_merge_mid.rename(columns={'_merge':"mid_ob_check"}, inplace=True)

In [97]:
RWM_re_merge_f_merge_mid["mid_ob_check"].unique()

['left_only', 'both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [98]:
RWM_re_merge_f_merge_mid["mid_ob_check"] = RWM_re_merge_f_merge_mid["mid_ob_check"].map({'left_only':"No",
 'right_only':"No", 'both':"Yes"})

In [99]:
RWM_re_merge_f_merge_mid.drop_duplicates(subset=['sno'], inplace=True)

In [100]:
RWM_re_merge_f_merge_mid_mn = RWM_re_merge_f_merge_mid.merge(
    google_ob_f_mn, on='Owner Mobile No.', how='left', indicator=True)

In [101]:
RWM_re_merge_f_merge_mid_mn.drop_duplicates(subset=['sno'], inplace=True)

In [102]:
RWM_re_merge_f_merge_mid_mn['_merge'] = RWM_re_merge_f_merge_mid_mn['_merge'].map({'left_only':"No",
 'right_only':"No", 'both':"Yes"})

In [103]:
RWM_re_merge_f_merge_mid_mn['Is in OB CSV file? MID_New'].fillna(RWM_re_merge_f_merge_mid_mn[
    'mid_ob_check'], inplace=True)
RWM_re_merge_f_merge_mid_mn['Is in OB CSV file? MN_new'].fillna(RWM_re_merge_f_merge_mid_mn[
    '_merge'], inplace=True)
RWM_re_merge_f_merge_mid_mn['VerificationTimestamp'].fillna(RWM_re_merge_f_merge_mid_mn[
    'VerificationTimestamp_mn'], inplace=True)
RWM_re_merge_f_merge_mid_mn['OB Date'].fillna(RWM_re_merge_f_merge_mid_mn[
    'VerificationTimestamp'], inplace=True)

In [104]:
RWM_re_merge_f_merge_mid_mn_f = RWM_re_merge_f_merge_mid_mn[['sno', 'Is in OB CSV file? MID_New', 
'Is in OB CSV file? MN_new', 'OB Date']].rename(columns={'OB Date':"OB Date_New"})

In [105]:
RWM_re_merge_2 = RWM_re_merge.merge(RWM_re_merge_f_merge_mid_mn_f, on='sno', how='left')

In [106]:
RWM_re_merge_2['Is in OB CSV file? MID'].replace("No", np.nan, inplace=True)
RWM_re_merge_2['Is in OB CSV file? MN'].replace("No", np.nan, inplace=True)

In [107]:
RWM_re_merge_2['Is in OB CSV file? MID'].fillna(RWM_re_merge_2['Is in OB CSV file? MID_New'], inplace=True)
RWM_re_merge_2['Is in OB CSV file? MN'].fillna(RWM_re_merge_2['Is in OB CSV file? MN_new'], inplace=True)
RWM_re_merge_2['OB Date'].fillna(RWM_re_merge_2['OB Date_New'], inplace=True)

In [108]:
RWM_re_merge_2['Is in OB CSV file? MID'].replace(np.nan, "No", inplace=True)
RWM_re_merge_2['Is in OB CSV file? MN'].replace(np.nan, "No" ,inplace=True)

# Matching the MID and Phone Number from the Google OB File

In [109]:
google_csv_ob_f.head(1)

     MerchantExternalId  StorePhoneNumber VerificationTimestamp
4258   BCR2DN4TSSS2NFYL      9.635289e+09           Nov-01-2022

In [110]:
google_csv_ob_f_mid = google_csv_ob_f[['MerchantExternalId', 'VerificationTimestamp']].rename(
    columns={'MerchantExternalId':'Merchant Ext ID', "VerificationTimestamp":'OB_Date_mid'})
google_csv_ob_f_mn = google_csv_ob_f[['StorePhoneNumber', 'VerificationTimestamp']].rename(
    columns={'StorePhoneNumber':'Owner Mobile No.', "VerificationTimestamp":'OB_Date_mn'})

In [111]:
RWM_re_merge_2_f = RWM_re_merge_2[['sno','Merchant Ext ID', 'Owner Mobile No.', 'Is in OB CSV file? MID', 
                                   'Is in OB CSV file? MN', 'OB Date']]

In [112]:
RWM_re_merge_2_f.replace("Empty", "Empty_2", inplace=True)

In [113]:
RWM_re_merge_2_f['Is in OB CSV file? MID'].replace('No', np.nan, inplace=True)
RWM_re_merge_2_f['Is in OB CSV file? MN'].replace('No', np.nan, inplace=True)

In [114]:
RWM_re_merge_2_f.head(1)

,sno,Merchant Ext ID,Owner Mobile No.,Is in OB CSV file? MID,Is in OB CSV file? MN,OB Date
0,1,BCR2DN4TQD2OZ3BF,9579920335,NaN,NaN,NaN

In [115]:
RWM_re_merge_2_f_mid = RWM_re_merge_2_f.merge(
    google_csv_ob_f_mid, on='Merchant Ext ID', how='left', indicator=True)

In [116]:
RWM_re_merge_2_f_mid.drop_duplicates(subset=['sno'], inplace=True)

In [117]:
RWM_re_merge_2_f_mid.rename(columns={'_merge':"MID_match"}, inplace=True)

In [118]:
RWM_re_merge_2_f_mid['MID_match'] = RWM_re_merge_2_f_mid['MID_match'].map({'left_only':np.nan, 
'right_only':np.nan, 'both':'Yes'})

In [119]:
RWM_re_merge_2_f_mid.head(1)

,sno,Merchant Ext ID,Owner Mobile No.,Is in OB CSV file? MID,Is in OB CSV file? MN,OB Date,OB_Date_mid,MID_match
0,1,BCR2DN4TQD2OZ3BF,9579920335,NaN,NaN,NaN,NaN,NaN

In [120]:
RWM_re_merge_2_f_mid_mn = RWM_re_merge_2_f_mid.merge(
    google_csv_ob_f_mn, on='Owner Mobile No.', how='left', indicator=True)

In [121]:
RWM_re_merge_2_f_mid_mn.drop_duplicates(subset=['sno'], inplace=True)

In [122]:
RWM_re_merge_2_f_mid_mn.rename(columns={'_merge':"MN_match"}, inplace=True)

In [123]:
RWM_re_merge_2_f_mid_mn['MN_match'] = RWM_re_merge_2_f_mid_mn['MN_match'].map({'left_only':np.nan, 
'right_only':np.nan, 'both':'Yes'})

In [124]:
RWM_re_merge_2_f_mid_mn['OB Date'].fillna(RWM_re_merge_2_f_mid_mn['OB_Date_mid'], inplace=True)
RWM_re_merge_2_f_mid_mn['OB Date'].fillna(RWM_re_merge_2_f_mid_mn['OB_Date_mn'], inplace=True)
RWM_re_merge_2_f_mid_mn['Is in OB CSV file? MID'].fillna(RWM_re_merge_2_f_mid_mn['MID_match'], inplace=True)
RWM_re_merge_2_f_mid_mn['Is in OB CSV file? MN'].fillna(RWM_re_merge_2_f_mid_mn['MN_match'], inplace=True)

In [125]:
RWM_re_merge_2_f_mid_mn_f = RWM_re_merge_2_f_mid_mn[['sno', 'Is in OB CSV file? MID', 'Is in OB CSV file? MN',
                                                    'OB Date']]

In [126]:
RWM_re_merge_2_f_mid_mn_f['Is in OB CSV file? MID'] = RWM_re_merge_2_f_mid_mn_f[
    'Is in OB CSV file? MID'].replace(np.nan, "No")
RWM_re_merge_2_f_mid_mn_f['Is in OB CSV file? MN'] = RWM_re_merge_2_f_mid_mn_f[
    'Is in OB CSV file? MN'].replace(np.nan, "No")

In [127]:
RWM_re_merge_2_f_mid_mn_f.rename(columns={'Is in OB CSV file? MID':'Is in OB CSV file? MID_New_2', 
"Is in OB CSV file? MN":'Is in OB CSV file? MN_New_2', "OB Date":'OB Date_New_2'}, inplace=True)

In [128]:
RWM_re_merge_2_merge = RWM_re_merge_2.merge(RWM_re_merge_2_f_mid_mn_f, on='sno', how='left')

In [129]:
RWM_re_merge_2_merge.drop_duplicates(subset=['sno'], inplace=True)

In [130]:
RWM_re_merge_2_merge['Is in OB CSV file? MID'].replace('No', np.nan, inplace=True)
RWM_re_merge_2_merge['Is in OB CSV file? MN'].replace('No', np.nan, inplace=True)

In [131]:
RWM_re_merge_2_merge['Is in OB CSV file? MID'].fillna(RWM_re_merge_2_merge[
    'Is in OB CSV file? MID_New_2'], inplace=True)
RWM_re_merge_2_merge['Is in OB CSV file? MN'].fillna(RWM_re_merge_2_merge[
    'Is in OB CSV file? MN_New_2'], inplace=True)
RWM_re_merge_2_merge['OB Date'].fillna(RWM_re_merge_2_merge[
    'OB Date_New_2'], inplace=True)

In [132]:
RWM_re_merge_2_merge['Is in OB CSV file? MID'].replace(np.nan, 'No', inplace=True)
RWM_re_merge_2_merge['Is in OB CSV file? MN'].replace(np.nan,'No', inplace=True)

In [133]:
RWM_re_merge_2 = RWM_re_merge_2_merge

# Is in Previous Month Payout

In [134]:
google_revisit_f2.head(1)

  MerchantExternalId         Date
0   BCR2DN4T2C32B6QM  Aug-01-2022

In [135]:
rwm_revisit_f.head(1)

  MerchantExternalId Revisit Date
7   BCR2DN6TY7F7LGDZ  Aug-01-2022

In [136]:
RWM_re_merge_2_f = RWM_re_merge_2[['sno', "Merchant Ext ID", 'Is in Previous Month Payout',
                                  'Is in Previous Month Payout Date']].rename(
    columns={'Merchant Ext ID':'MerchantExternalId'})

In [137]:
RWM_re_merge_2_f_merge = RWM_re_merge_2_f.merge(
    google_revisit_f2, on='MerchantExternalId', how='left', indicator=True)

In [138]:
RWM_re_merge_2_f_merge.drop_duplicates(subset=['sno'], inplace=True)
RWM_re_merge_2_f_merge.rename(columns={"_merge":"Is in previous Google?"}, inplace=True)
RWM_re_merge_2_f_merge.rename(columns={'Date':"Previous_Google_Revisit_Date?"}, inplace=True)

In [139]:
RWM_re_merge_2_f_merge['Is in previous Google?'].replace('left_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge['Is in previous Google?'].replace('right_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge['Is in previous Google?'].replace('both', "Yes", inplace=True)

In [140]:
RWM_re_merge_2_f_merge.head(1)

,sno,MerchantExternalId,Is in Previous Month Payout,Is in Previous Month Payout Date,Previous_Google_Revisit_Date?,Is in previous Google?
0,1,BCR2DN4TQD2OZ3BF,NaN,NaN,NaN,NaN

In [141]:
RWM_re_merge_2_f_merge2 = RWM_re_merge_2_f_merge.merge(
    rwm_revisit_f, on='MerchantExternalId', how='left', indicator=True)

In [142]:
RWM_re_merge_2_f_merge2.drop_duplicates(subset=['sno'], inplace=True)
RWM_re_merge_2_f_merge2.rename(columns={"_merge":"Is in previous RWM?"}, inplace=True)
RWM_re_merge_2_f_merge2.rename(columns={"Revisit Date":"Previous_RWM_Revisit_Date?"}, inplace=True)

In [143]:
RWM_re_merge_2_f_merge2['Is in previous RWM?'].replace('left_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge2['Is in previous RWM?'].replace('right_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge2['Is in previous RWM?'].replace('both', "Yes", inplace=True)

In [144]:
RWM_re_merge_2_f_merge2.head(1)

,sno,MerchantExternalId,Is in Previous Month Payout,Is in Previous Month Payout Date,Previous_Google_Revisit_Date?,Is in previous Google?,Previous_RWM_Revisit_Date?,Is in previous RWM?
0,1,BCR2DN4TQD2OZ3BF,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].fillna(RWM_re_merge_2_f_merge2[
    'Is in previous Google?'], inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].fillna(RWM_re_merge_2_f_merge2[
    'Is in previous RWM?'], inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].replace(np.nan, "No", inplace=True)

In [146]:
RWM_re_merge_2_f_merge2['Is in Previous Month Payout Date'].fillna(RWM_re_merge_2_f_merge2[
    'Previous_Google_Revisit_Date?'], inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout Date'].fillna(RWM_re_merge_2_f_merge2[
    'Previous_RWM_Revisit_Date?'], inplace=True)

In [147]:
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].replace("No", "No Match", inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].replace("Yes", "Match", inplace=True)

In [148]:
RWM_re_merge_2_f_merge2_f = RWM_re_merge_2_f_merge2[['sno', 'Is in Previous Month Payout', 
'Is in Previous Month Payout Date']].rename(
    columns={'Is in Previous Month Payout':'Is in Previous Month Payout_New', 
             'Is in Previous Month Payout Date':'Is in Previous Month Payout Date_New'})

In [149]:
RWM_re_merge_2_f_merge2_f.drop_duplicates(subset=['sno'], inplace=True)

In [150]:
RWM_re_merge_3 = RWM_re_merge_2.merge(RWM_re_merge_2_f_merge2_f, on='sno', how='left')

In [151]:
RWM_re_merge_3.drop_duplicates(subset=['sno'], inplace=True)

In [152]:
RWM_re_merge_3['Is in Previous Month Payout'].fillna(RWM_re_merge_3[
    'Is in Previous Month Payout_New'], inplace=True)
RWM_re_merge_3['Is in Previous Month Payout Date'].fillna(RWM_re_merge_3[
    'Is in Previous Month Payout Date_New'], inplace=True)

# OB Date Check

In [153]:
RWM_re_merge_3_f = RWM_re_merge_3[['sno', 'Revisit Date', 'OB Date']]

In [154]:
RWM_re_merge_3_f['OB Date Blank'] = RWM_re_merge_3_f['OB Date'].isna()

In [155]:
RWM_re_merge_3_f2 = RWM_re_merge_3_f[RWM_re_merge_3_f['OB Date Blank'].isin([False])]

In [156]:
RWM_re_merge_3_f2['OB Date Check_New'] = RWM_re_merge_3_f2['Revisit Date'] == RWM_re_merge_3_f2['OB Date']

In [157]:
RWM_re_merge_3_f3 = RWM_re_merge_3_f2[['sno', 'OB Date Check_New']]

In [158]:
RWM_re_merge_4 = RWM_re_merge_3.merge(RWM_re_merge_3_f3, on='sno', how='left')

In [159]:
RWM_re_merge_4.drop_duplicates(subset=['sno'], inplace=True)
RWM_re_merge_4['OB Date Check'].fillna(RWM_re_merge_4['OB Date Check_New'], inplace=True)

# Replace Empty in MID to Empty

In [160]:
RWM_re_merge_4['Merchant Ext ID'].replace("Empty", np.nan, inplace=True)

# Outcome Report

In [161]:
# Stop Here

# Print the RWM File

In [162]:
RWM_re_f = RWM_re_merge_4[["City Name", 'TV City',"Merchant ID", "Owner Mobile No.", 'Employee Code', 'POD ID',
'Merchant Ext ID','Validity', 'Invalid Reason', 'Revisit Date', 'Is in Google Daily File?', 'Is in Source File?_x',
'Payout Status','Payout Invalid Reason','OB Date Check','Task Count', 'CompletedSubTaskTypes', 'Segment', 
'Ingestion Date', 'IngestionStatus','Revisit Expire Date', 'Is in Dynamic Source Visit Date Valid?',
'Outcome Status', 'Is in Previous Month Payout', "Is in Previous Month Payout Date" ,'Source MID',
'Source MID Match Check', 'Ext_ID Dup?', 'Phone_Dup?','Merchant_ID_Dup', 'Is in OB CSV file? MID', 
'Is in OB CSV file? MN', 'OB Date', 'Data Tag', 'Final Payout']].rename(
columns={"Owner Mobile No.":'StorePhoneNumber', "Merchant Ext ID":'MerchantExternalId','City Name':'City' ,
         'Invalid Reason':"InvalidReasons", 'Revisit Date':'Date', "Is in Source File?_x":'Is In Source?'})

In [163]:
RWM_re_f_1 = RWM_re_f[RWM_re_f["Date"].isin(Date)]

In [164]:
RWM_re_f_2 = RWM_re_f[~RWM_re_f["Date"].isin(Date)]

In [165]:
RWM_re_f_1.to_csv(output_loc+"RWM_Revisit_1_to_16_Oct_2022.csv", index=False)
RWM_re_f_2.to_csv(output_loc+"RWM_Revisit_17_to_30_Oct_2022.csv", index=False)
RWM_re_f[RWM_re_f['Date'].isin(current_date)].to_csv(output_loc+"Current_RWM.csv", index=False)
RWM_re_f.to_csv(output_loc+"Monthly_RWM_Payout_consolidation.csv", index=False)

# Preparation for the Google File

In [166]:
Google_re.head(1)

,sno,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,...,NewtoGMB,Is in Old Source?,OLD Valid,Segments,Is in Dynamic Source?,Is in Dynamic Source Visit Date Valid?,Revisit Expire Date,Dynamic IngestionStatus,Dynamic Ingestion Date,Primary_key
0,1,R S Paints And Hardware,Akola,444101,8381097116,5/19/2022 19:42:7,Nov-01-2022,BCR2DN4T2C2KVQ2C,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, CA...",1.0,...,0.0,No,NaN,inactive - inr 40 extra pay on txn,Match,VALID,NaN,ADD,21-Oct-2022,5407

In [167]:
Google_re['Merchant ID'] = np.nan
Google_re['POD ID'] = np.nan
Google_re['Payout Status'] = np.nan
Google_re['Payout Invalid Reason'] = np.nan
Google_re['OB Date Check'] = np.nan
Google_re['Outcome Status'] = np.nan
Google_re['Is in Previous Month Payout'] = np.nan
Google_re['Source MID'] = np.nan
Google_re['Source MID Match Check'] = np.nan
Google_re['Ext_ID Dup?'] = np.nan
Google_re['Phone_Dup?'] = np.nan
Google_re['Is in OB CSV file? MID'] = np.nan
Google_re['Is in OB CSV file? MN'] = np.nan
Google_re['OB Date'] = np.nan
Google_re['Data Tag'] = "Google"
Google_re['Is in Previous Month Payout Date'] = np.nan
Google_re['Final Payout'] = np.nan

In [168]:
RWM_re_f2 = RWM_re_merge[['Merchant Ext ID' ,'Merchant ID', 'POD ID']].rename(
    columns={"Merchant Ext ID":'MerchantExternalId'})

In [169]:
Google_re_f = Google_re[['sno', 'MerchantExternalId']]

In [170]:
Google_re_f_merge = Google_re_f.merge(RWM_re_f2, on='MerchantExternalId', how='left')

In [171]:
Google_re_f_merge.drop_duplicates(subset=['sno'], inplace=True)

In [172]:
Google_re_f_merge.rename(columns={'Merchant ID':'Merchant ID_2', 'POD ID':'POD ID_2'}, inplace=True)

In [173]:
Google_re_f_merge_f = Google_re_f_merge[['sno', 'Merchant ID_2', 'POD ID_2']]

In [174]:
Google_re_merge = Google_re.merge(Google_re_f_merge_f, on='sno', how='left')

In [175]:
Google_re_merge.drop_duplicates(subset=['sno'], inplace=True)

In [176]:
Google_re_merge['Merchant ID'].fillna(Google_re_merge['Merchant ID_2'], inplace=True)
Google_re_merge['POD ID'].fillna(Google_re_merge['POD ID_2'], inplace=True)

# Filling POD ID from Team View City

In [177]:
TV_city_f2 = TV_city_f[['Employee Code', 'POD Code']].rename(columns={
    'Employee Code':'IF R is Blank then RWM App Code'})

In [178]:
Google_re_merge2 = Google_re_merge.merge(TV_city_f2, on='IF R is Blank then RWM App Code', how='left')

In [179]:
Google_re_merge2.drop_duplicates(subset=['sno'], inplace=True)

In [180]:
Google_re_merge2['POD ID'].fillna(Google_re_merge2['POD Code'], inplace=True)

# Is in OB csv file? and fill the blank Is in OB csv file? MID and fill the blank Is in OB csv file? MN

In [181]:
google_ob_f.head(1)

    Merchant Ext ID VerificationTimestamp Validity
0  BCR2DN4TWTCZNAYZ           Nov-19-2022  INVALID

In [182]:
google_ob_f.rename(columns={'MerchantExternalId':"Merchant Ext ID"}, inplace=True)

In [183]:
google_ob_f_mn.head(1)

   Owner Mobile No. VerificationTimestamp_mn Validity_mn
0        9760006551              Nov-19-2022     INVALID

In [184]:
google_ob_f_mn.rename(columns={'StorePhoneNumber':"Owner Mobile No."}, inplace=True)

In [185]:
Google_re_merge2.head(1)

,sno,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,...,Ext_ID Dup?,Phone_Dup?,Is in OB CSV file? MID,Is in OB CSV file? MN,OB Date,Data Tag,Is in Previous Month Payout Date,Merchant ID_2,POD ID_2,POD Code
0,1,R S Paints And Hardware,Akola,444101,8381097116,5/19/2022 19:42:7,Nov-01-2022,BCR2DN4T2C2KVQ2C,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, CA...",1.0,...,NaN,NaN,NaN,NaN,NaN,Google,NaN,7196591.0,14549.0,14549.0

In [186]:
RWM_re_merge_f = Google_re_merge2[['MerchantExternalId', "StorePhoneNumber", "Is in OB CSV file? MID", 
'Is in OB CSV file? MN', 'OB Date', 'sno']].rename(columns={"Is in OB CSV file? MID":"Is in OB CSV file? MID_New",
'Is in OB CSV file? MN':'Is in OB CSV file? MN_new'})

In [187]:
google_ob_f.rename(columns={'Merchant Ext ID':'MerchantExternalId'}, inplace=True)
google_ob_f_mn.rename(columns={'Owner Mobile No.':'StorePhoneNumber'}, inplace=True)

In [188]:
RWM_re_merge_f_merge_mid = RWM_re_merge_f.merge(google_ob_f, on='MerchantExternalId', how='left', indicator=True)

In [189]:
RWM_re_merge_f_merge_mid.rename(columns={'_merge':"mid_ob_check"}, inplace=True)

In [190]:
RWM_re_merge_f_merge_mid["mid_ob_check"].unique()

['left_only', 'both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [191]:
RWM_re_merge_f_merge_mid["mid_ob_check"] = RWM_re_merge_f_merge_mid["mid_ob_check"].map({'left_only':"No",
 'right_only':"No", 'both':"Yes"})

In [192]:
RWM_re_merge_f_merge_mid.drop_duplicates(subset=['sno'], inplace=True)

In [193]:
RWM_re_merge_f_merge_mid_mn = RWM_re_merge_f_merge_mid.merge(
    google_ob_f_mn, on='StorePhoneNumber', how='left', indicator=True)

In [194]:
RWM_re_merge_f_merge_mid_mn.drop_duplicates(subset=['sno'], inplace=True)

In [195]:
RWM_re_merge_f_merge_mid_mn['_merge'] = RWM_re_merge_f_merge_mid_mn['_merge'].map({'left_only':"No",
 'right_only':"No", 'both':"Yes"})

In [196]:
RWM_re_merge_f_merge_mid_mn['Is in OB CSV file? MID_New'].fillna(RWM_re_merge_f_merge_mid_mn[
    'mid_ob_check'], inplace=True)
RWM_re_merge_f_merge_mid_mn['Is in OB CSV file? MN_new'].fillna(RWM_re_merge_f_merge_mid_mn[
    '_merge'], inplace=True)
RWM_re_merge_f_merge_mid_mn['VerificationTimestamp'].fillna(RWM_re_merge_f_merge_mid_mn[
    'VerificationTimestamp_mn'], inplace=True)
RWM_re_merge_f_merge_mid_mn['OB Date'].fillna(RWM_re_merge_f_merge_mid_mn[
    'VerificationTimestamp'], inplace=True)

In [197]:
RWM_re_merge_f_merge_mid_mn_f = RWM_re_merge_f_merge_mid_mn[['sno', 'Is in OB CSV file? MID_New', 
'Is in OB CSV file? MN_new', 'OB Date']].rename(columns={'OB Date':"OB Date_New"})

In [198]:
Google_re_merge3 = Google_re_merge2.merge(RWM_re_merge_f_merge_mid_mn_f, on='sno', how='left')

In [199]:
Google_re_merge3['Is in OB CSV file? MID'].fillna(Google_re_merge3['Is in OB CSV file? MID_New'], inplace=True)
Google_re_merge3['Is in OB CSV file? MN'].fillna(Google_re_merge3['Is in OB CSV file? MN_new'], inplace=True)
Google_re_merge3['OB Date'].fillna(Google_re_merge3['OB Date_New'], inplace=True)

# Matching the MID and Phone Number from the Google OB File

In [200]:
# Start from Here

In [201]:
google_csv_ob_f.head(1)

     MerchantExternalId  StorePhoneNumber VerificationTimestamp
4258   BCR2DN4TSSS2NFYL      9.635289e+09           Nov-01-2022

In [202]:
google_csv_ob_f_mid = google_csv_ob_f[['MerchantExternalId', 'VerificationTimestamp']].rename(
    columns={'MerchantExternalId':'Merchant Ext ID', "VerificationTimestamp":'OB_Date_mid'})
google_csv_ob_f_mn = google_csv_ob_f[['StorePhoneNumber', 'VerificationTimestamp']].rename(
    columns={'StorePhoneNumber':'Owner Mobile No.', "VerificationTimestamp":'OB_Date_mn'})

In [203]:
RWM_re_merge_2_f = Google_re_merge3[['sno','MerchantExternalId', 'StorePhoneNumber', 'Is in OB CSV file? MID', 
                                   'Is in OB CSV file? MN', 'OB Date']].rename(
    columns={'MerchantExternalId':'Merchant Ext ID', 'StorePhoneNumber':'Owner Mobile No.'})

In [204]:
RWM_re_merge_2_f['Is in OB CSV file? MID'].replace('No', np.nan, inplace=True)
RWM_re_merge_2_f['Is in OB CSV file? MN'].replace('No', np.nan, inplace=True)

In [205]:
RWM_re_merge_2_f.head(1)

,sno,Merchant Ext ID,Owner Mobile No.,Is in OB CSV file? MID,Is in OB CSV file? MN,OB Date
0,1,BCR2DN4T2C2KVQ2C,8381097116,NaN,NaN,NaN

In [206]:
RWM_re_merge_2_f_mid = RWM_re_merge_2_f.merge(
    google_csv_ob_f_mid, on='Merchant Ext ID', how='left', indicator=True)

In [207]:
RWM_re_merge_2_f_mid.drop_duplicates(subset=['sno'], inplace=True)

In [208]:
RWM_re_merge_2_f_mid.rename(columns={'_merge':"MID_match"}, inplace=True)

In [209]:
RWM_re_merge_2_f_mid['MID_match'] = RWM_re_merge_2_f_mid['MID_match'].map({'left_only':np.nan, 
'right_only':np.nan, 'both':'Yes'})

In [210]:
RWM_re_merge_2_f_mid.head(1)

,sno,Merchant Ext ID,Owner Mobile No.,Is in OB CSV file? MID,Is in OB CSV file? MN,OB Date,OB_Date_mid,MID_match
0,1,BCR2DN4T2C2KVQ2C,8381097116,NaN,NaN,NaN,NaN,NaN

In [211]:
RWM_re_merge_2_f_mid_mn = RWM_re_merge_2_f_mid.merge(
    google_csv_ob_f_mn, on='Owner Mobile No.', how='left', indicator=True)

In [212]:
RWM_re_merge_2_f_mid_mn.drop_duplicates(subset=['sno'], inplace=True)

In [213]:
RWM_re_merge_2_f_mid_mn.rename(columns={'_merge':"MN_match"}, inplace=True)

In [214]:
RWM_re_merge_2_f_mid_mn['MN_match'] = RWM_re_merge_2_f_mid_mn['MN_match'].map({'left_only':np.nan, 
'right_only':np.nan, 'both':'Yes'})

In [215]:
RWM_re_merge_2_f_mid_mn['OB Date'].fillna(RWM_re_merge_2_f_mid_mn['OB_Date_mid'], inplace=True)
RWM_re_merge_2_f_mid_mn['OB Date'].fillna(RWM_re_merge_2_f_mid_mn['OB_Date_mn'], inplace=True)
RWM_re_merge_2_f_mid_mn['Is in OB CSV file? MID'].fillna(RWM_re_merge_2_f_mid_mn['MID_match'], inplace=True)
RWM_re_merge_2_f_mid_mn['Is in OB CSV file? MN'].fillna(RWM_re_merge_2_f_mid_mn['MN_match'], inplace=True)

In [216]:
RWM_re_merge_2_f_mid_mn_f = RWM_re_merge_2_f_mid_mn[['sno', 'Is in OB CSV file? MID', 'Is in OB CSV file? MN',
                                                    'OB Date']]

In [217]:
RWM_re_merge_2_f_mid_mn_f['Is in OB CSV file? MID'] = RWM_re_merge_2_f_mid_mn_f[
    'Is in OB CSV file? MN'].replace(np.nan, "No")
RWM_re_merge_2_f_mid_mn_f['Is in OB CSV file? MN'] = RWM_re_merge_2_f_mid_mn_f[
    'Is in OB CSV file? MN'].replace(np.nan, "No")

In [218]:
RWM_re_merge_2_f_mid_mn_f.rename(columns={'Is in OB CSV file? MID':'Is in OB CSV file? MID_New_2', 
"Is in OB CSV file? MN":'Is in OB CSV file? MN_New_2', "OB Date":'OB Date_New_2'}, inplace=True)

In [219]:
Google_re_merge3_merge = Google_re_merge3.merge(RWM_re_merge_2_f_mid_mn_f, on='sno', how='left')

In [220]:
Google_re_merge3_merge.drop_duplicates(subset=['sno'], inplace=True)

In [221]:
Google_re_merge3_merge['Is in OB CSV file? MID'].replace('No', np.nan, inplace=True)
Google_re_merge3_merge['Is in OB CSV file? MN'].replace('No', np.nan, inplace=True)

In [222]:
Google_re_merge3_merge['Is in OB CSV file? MID'].fillna(Google_re_merge3_merge[
    'Is in OB CSV file? MID_New_2'], inplace=True)
Google_re_merge3_merge['Is in OB CSV file? MN'].fillna(Google_re_merge3_merge[
    'Is in OB CSV file? MN_New_2'], inplace=True)
Google_re_merge3_merge['OB Date'].fillna(Google_re_merge3_merge[
    'OB Date_New_2'], inplace=True)

In [223]:
Google_re_merge3_merge['Is in OB CSV file? MID'].replace(np.nan, 'No', inplace=True)
Google_re_merge3_merge['Is in OB CSV file? MN'].replace(np.nan,'No', inplace=True)

In [224]:
Google_re_merge3 = Google_re_merge3_merge

# Is in Previous Month Payout

In [225]:
google_revisit_f2.head(1)

  MerchantExternalId         Date
0   BCR2DN4T2C32B6QM  Aug-01-2022

In [226]:
rwm_revisit_f.head(1)

  MerchantExternalId Revisit Date
7   BCR2DN6TY7F7LGDZ  Aug-01-2022

In [227]:
Google_re_merge3.head(1)

,sno,StoreName,City,Pincode,StorePhoneNumber,OnboardingTimestamp,TaskSubmissionTimestamp,MerchantExternalId,CompletedSubTaskTypes,AdditionalQRs,...,Is in Previous Month Payout Date,Merchant ID_2,POD ID_2,POD Code,Is in OB CSV file? MID_New,Is in OB CSV file? MN_new,OB Date_New,Is in OB CSV file? MID_New_2,Is in OB CSV file? MN_New_2,OB Date_New_2
0,1,R S Paints And Hardware,Akola,444101,8381097116,5/19/2022 19:42:7,Nov-01-2022,BCR2DN4T2C2KVQ2C,"PROVISION_VPA, CAPTURE_ADDITIONAL_PICTURES, CA...",1.0,...,NaN,7196591.0,14549.0,14549.0,No,No,NaN,No,No,NaN

In [228]:
RWM_re_merge_2_f = Google_re_merge3[['sno', "MerchantExternalId", 'Is in Previous Month Payout', 
                                     'Is in Previous Month Payout Date']]

In [229]:
RWM_re_merge_2_f_merge = RWM_re_merge_2_f.merge(
    google_revisit_f2, on='MerchantExternalId', how='left', indicator=True)

In [230]:
RWM_re_merge_2_f_merge.drop_duplicates(subset=['sno'], inplace=True)
RWM_re_merge_2_f_merge.rename(columns={"_merge":"Is in previous Google?"}, inplace=True)
RWM_re_merge_2_f_merge.rename(columns={'Date':'Previous_Google_Date'}, inplace=True)

In [231]:
RWM_re_merge_2_f_merge['Is in previous Google?'].replace('left_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge['Is in previous Google?'].replace('right_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge['Is in previous Google?'].replace('both', "Yes", inplace=True)

In [232]:
RWM_re_merge_2_f_merge.head(1)

,sno,MerchantExternalId,Is in Previous Month Payout,Is in Previous Month Payout Date,Previous_Google_Date,Is in previous Google?
0,1,BCR2DN4T2C2KVQ2C,NaN,NaN,NaN,NaN

In [233]:
RWM_re_merge_2_f_merge2 = RWM_re_merge_2_f_merge.merge(
    rwm_revisit_f, on='MerchantExternalId', how='left', indicator=True)

In [234]:
RWM_re_merge_2_f_merge2.drop_duplicates(subset=['sno'], inplace=True)
RWM_re_merge_2_f_merge2.rename(columns={"_merge":"Is in previous RWM?"}, inplace=True)
RWM_re_merge_2_f_merge2.rename(columns={"Revisit Date":"Previous_RWM_Date"}, inplace=True)

In [235]:
RWM_re_merge_2_f_merge2['Is in previous RWM?'].replace('left_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge2['Is in previous RWM?'].replace('right_only', np.nan, inplace=True)
RWM_re_merge_2_f_merge2['Is in previous RWM?'].replace('both', "Yes", inplace=True)

In [236]:
RWM_re_merge_2_f_merge2.head(1)

,sno,MerchantExternalId,Is in Previous Month Payout,Is in Previous Month Payout Date,Previous_Google_Date,Is in previous Google?,Previous_RWM_Date,Is in previous RWM?
0,1,BCR2DN4T2C2KVQ2C,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].fillna(RWM_re_merge_2_f_merge2[
    'Is in previous Google?'], inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].fillna(RWM_re_merge_2_f_merge2[
    'Is in previous RWM?'], inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].replace(np.nan, "No", inplace=True)

In [238]:
RWM_re_merge_2_f_merge2['Is in Previous Month Payout Date'].fillna(RWM_re_merge_2_f_merge2[
    'Previous_Google_Date'], inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout Date'].fillna(RWM_re_merge_2_f_merge2[
    'Previous_RWM_Date'], inplace=True)

In [ ]:
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].replace("No", "No Match", inplace=True)
RWM_re_merge_2_f_merge2['Is in Previous Month Payout'].replace("Yes", "Match", inplace=True)

In [ ]:
RWM_re_merge_2_f_merge2_f = RWM_re_merge_2_f_merge2[['sno', 'Is in Previous Month Payout', 
'Is in Previous Month Payout Date']].rename(
    columns={'Is in Previous Month Payout':'Is in Previous Month Payout_New', 
             'Is in Previous Month Payout Date':'Is in Previous Month Payout Date_New'})

In [ ]:
RWM_re_merge_2_f_merge2_f.drop_duplicates(subset=['sno'], inplace=True)

In [ ]:
Google_re_merge4 = Google_re_merge3.merge(RWM_re_merge_2_f_merge2_f, on='sno', how='left')

In [ ]:
Google_re_merge4.drop_duplicates(subset=['sno'], inplace=True)

In [ ]:
Google_re_merge4['Is in Previous Month Payout'].fillna(Google_re_merge4[
    'Is in Previous Month Payout_New'], inplace=True)
Google_re_merge4['Is in Previous Month Payout Date'].fillna(Google_re_merge4[
    'Is in Previous Month Payout Date_New'], inplace=True)

# OB Date Check

In [ ]:
RWM_re_merge_3_f = Google_re_merge4[['sno', 'TaskSubmissionTimestamp', 'OB Date']]

In [ ]:
RWM_re_merge_3_f.rename(columns={'TaskSubmissionTimestamp':"Revisit Date"}, inplace=True)

In [ ]:
RWM_re_merge_3_f['OB Date Blank'] = RWM_re_merge_3_f['OB Date'].isna()

In [ ]:
RWM_re_merge_3_f2 = RWM_re_merge_3_f[RWM_re_merge_3_f['OB Date Blank'].isin([False])]

In [ ]:
RWM_re_merge_3_f2['OB Date Check_New'] = RWM_re_merge_3_f2['Revisit Date'] == RWM_re_merge_3_f2['OB Date']

In [ ]:
RWM_re_merge_3_f3 = RWM_re_merge_3_f2[['sno', 'OB Date Check_New']]

In [ ]:
Google_re_merge5 = Google_re_merge4.merge(RWM_re_merge_3_f3, on='sno', how='left')

In [ ]:
Google_re_merge5.drop_duplicates(subset=['sno'], inplace=True)
Google_re_merge5['OB Date Check'].fillna(Google_re_merge5['OB Date Check_New'], inplace=True)

# Print the Google File

In [ ]:
Google_re_f = Google_re_merge5[['City', 'Team View City','Merchant ID' ,'StorePhoneNumber',
'IF R is Blank then RWM App Code','POD ID','MerchantExternalId', 'Validity', 'InvalidReasons', 
'TaskSubmissionTimestamp', 'Is in RWM', 'Is in Source File?','Payout Status','Payout Invalid Reason',
'OB Date Check','Task Count', 'CompletedSubTaskTypes', 'Segments', 'Dynamic Ingestion Date', 
'Dynamic IngestionStatus', 'Revisit Expire Date', 'Is in Dynamic Source Visit Date Valid?','Outcome Status', 
'Is in Previous Month Payout', "Is in Previous Month Payout Date",'Source MID', 'Source MID Match Check',
'Ext_ID Dup?', 'Phone_Dup?', 'Is in OB CSV file? MID', 'Is in OB CSV file? MN', 'OB Date','Data Tag', 'Final Payout']].rename(
    columns={'Team View City':'TV City', 
"IF R is Blank then RWM App Code":'Employee Code', 'TaskSubmissionTimestamp':'Date', 
'Dynamic Ingestion Date':'Ingestion Date', 'Dynamic IngestionStatus':'IngestionStatus'})

In [ ]:
Google_re_f_1 = Google_re_f[Google_re_f["Date"].isin(Date)]

In [ ]:
Google_re_f_2 = Google_re_f[~Google_re_f["Date"].isin(Date)]

In [ ]:
Google_re_f_1.to_csv(output_loc+"Google_Revisit_1_to_16_Oct_2022.csv", index=False)
Google_re_f_2.to_csv(output_loc+"Google_Revisit_17_to_30_Oct_2022.csv", index=False)
Google_re_f[Google_re_f["Date"].isin(current_date)].to_csv(output_loc+"Current_Google.csv", index=False)
Google_re_f.to_clipboard(output_loc+"Monthly_Google_Revisit_consolidation.csv", index=False)

# File for the Self-OB Match

In [ ]:
output_loc_self_ob = "/home/dhrubakumardolai/Desktop/Python Test/Rahul/Payout/Result/Self-OB/"

In [ ]:
Google_re_f2 = Google_re_f[['StorePhoneNumber', 'MerchantExternalId', 'Date', 'Validity', 'InvalidReasons', 
                            'Task Count', 'Is in Source File?']]

In [ ]:
Google_re_mn = Google_re_f2[Google_re_f2['Is in Source File?'].isin(['MN Match'])]

In [ ]:
Google_re_mn[Google_re_mn[
    'Date'].isin(current_date)].to_csv(output_loc_self_ob+"google_target_file.csv", index=False)

In [ ]:
RWM_re_f2 = RWM_re_f[['StorePhoneNumber', 'MerchantExternalId', 'Date', 'Validity', 'InvalidReasons', 
                    'Task Count', 'Is In Source?']]

In [ ]:
RWM_re_mn = RWM_re_f2[RWM_re_f2['Is In Source?'].isin(['MN Match'])]

In [ ]:
RWM_re_mn[RWM_re_mn['Date'].isin(current_date)].to_csv(output_loc_self_ob+"rwm_target_file.csv", index=False)

# Target file for revisit check