In [1]:
import pandas as pd
import numpy as np
import xlsxwriter as xw
import re
import warnings
warnings.filterwarnings('ignore')
import openpyxl as op
from openpyxl import Workbook, load_workbook
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font
import os
import glob

In [2]:
input_loc = "/home/dhrubakumardolai/Desktop/Dhruba/Target/Q1/"
output_loc = "/home/dhrubakumardolai/Desktop/Dhruba/Result/SQL Code/"

In [3]:
q1_1 = pd.read_csv(input_loc+'Segment1.csv')
q1_2 = pd.read_csv(input_loc+'Segment2.csv')

In [4]:
Table_name = "Q1_source"

In [5]:
column_name = "Name,Phone_Number,Address,Pincode,Latitude,Longitude,District,Polygon_Name,Created_by_ID,Merchant_Ext_ID,Last_Transaction_date,Gpay_OB_Email,segments,_merge"

In [6]:
SQl_code_1 = "INSERT INTO " + Table_name + "("+ column_name +")"

In [7]:
SQl_code_2 = "VALUES ("

In [8]:
q1 = q1_1.append(q1_2)

In [9]:
q1.head(1)

,Name,Phone Number,Address,Pincode,Latitude,Longitude,District,Polygon Name,Created By ID,Merchant Ext.ID,Last Transaction date,Gpay OB E-mail,segments,_merge
0,Nilkanth Enterprises,7.579170e+09,"Bareilly Road ,Motahaldu",263139.0,29.145969,79.522095,Nainital,244715,58515.0,BCR2DN6T57H7THC2,28-12-2021,sjoshi375@gmail.com,active,both

# Changing date format to insert in the table

In [10]:
q1['Last Transaction date'] = pd.to_datetime(q1['Last Transaction date'])

In [11]:
q1['Last Transaction date'] = q1['Last Transaction date'].dt.strftime("%Y-%m-%d")

# Replacing all blank with the null

In [12]:
q1.fillna("Null", inplace=True)

# Checking Null in date

In [13]:
filter_null = q1[q1['Last Transaction date'].isin(['Null'])]

In [14]:
filter_null.shape

(1930, 14)

# Change Every columns to string

In [15]:
columns= q1.columns

In [16]:
for i in columns:
    q1[i] = q1[i].map(str)

In [ ]:
q1['SQL_code'] = SQl_code_1+SQl_code_2+'"'+q1['Name']+'",'+'"'+q1['Phone Number']+'",'+'"'+q1['Address']+'",'+'"'+q1['Pincode']+'",'+'"'+q1['Latitude']+'",'+'"'+q1['Longitude']+'",'+'"'+q1['District']+'",'+'"'+q1['Polygon Name']+'",'+'"'+q1['Created By ID']+'",'+'"'+q1['Merchant Ext.ID']+'",'+'"'+q1['Last Transaction date']+'",'+'"'+q1['Gpay OB E-mail']+'",'+'"'+q1['segments']+'",'+'"'+q1['_merge']+'");'

In [ ]:
q1['SQL_code'].iloc[1]

In [ ]:
# np.savetxt(output_loc+'SQL_Code.txt', q1["SQL_code"], fmt="% str")

In [ ]:
q1['SQL_code'].to_csv(output_loc+'/Split/SQL_code.csv', index=False)

In [ ]:
file_size = 20000
batch_no = 1

In [ ]:
for i in pd.read_csv(output_loc+'/Split/SQL_code.csv', chunksize=file_size):
    i.to_csv(output_loc+'SQL_code-'+str(batch_no)+'.csv', index=False)
    batch_no += 1